html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans TC", "Microsoft Jhenghei", sans-serif;
}

a {
  color: inherit;
}

.fix_aside {
  position: fixed;
  z-index: 99;
  right: 1rem;
  bottom: 1rem;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}
.fix_aside.is_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.fix_aside .fx_item {
  position: relative;
  display: block;
  border-radius: 1em;
  margin: 0.5em 0;
  width: 4em;
  height: 4em;
  background: #fff linear-gradient(120deg, #fff, #ddd);
  font-size: 0.95rem;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms, -webkit-transform 240ms, -webkit-box-shadow 240ms;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.fix_aside .fx_item.is_primary {
  background: linear-gradient(135deg, #3E6EE5, #222042);
  color: #fff;
}
.fix_aside .fx_item:hover {
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}
.fix_aside .fx_item .in_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.fix_aside .fx_item .in_wrap.txt {
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
}
.fix_aside .fx_item .in_wrap.ic_top {
  width: 100%;
  height: 100%;
  padding: 0.5em 0;
}
.fix_aside .fx_item .in_wrap.ic_top .ic {
  width: 100%;
  height: 100%;
  background: url("img/ui/arrow_top.png") center/contain no-repeat;
}
.fix_aside .fx_item .in_wrap.ic_linkedin {
  width: 100%;
  height: 100%;
  padding: 0.5em 0;
}
.fix_aside .fx_item .in_wrap.ic_linkedin .ic {
  width: 100%;
  height: 100%;
  background: url("img/ui/linkedin.svg") center/contain no-repeat;
}

.g_header {
  width: 100%;
  text-align: center;
  background-color: #222042;
}
.g_header .header_wrap {
  position: relative;
}
.g_header .nav_area {
  display: inline-block;
  position: relative;
  z-index: 3;
}
.g_header .nav_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}
.g_header .nav_item {
  line-height: 1;
  font-weight: normal;
}
.g_header .nav_link {
  display: block;
  padding: 1em 1.25rem;
  font-size: 1.125em;
  color: #fff;
}
.g_header .nav_link:hover {
  background-color: rgba(62, 110, 229, 0.5);
  text-decoration: none;
}

.primary_cta {
  display: inline-block;
  border-radius: 3rem;
  padding: 0.25em 1.5em 0.6em;
  background: -webkit-gradient(linear, left top, right top, from(#222042), to(#141433));
  background: linear-gradient(90deg, #222042, #141433);
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-shadow: 3px 3px 0 rgba(47, 159, 245, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.primary_cta:hover {
  text-decoration: none;
  -webkit-transform: translate3d(10px, 0, 0);
          transform: translate3d(10px, 0, 0);
  color: #fff;
}
.primary_cta span,
.primary_cta img {
  display: inline-block;
  vertical-align: middle;
}
.primary_cta span {
  color: inherit;
}
.primary_cta img {
  margin-top: 0.25rem;
  margin-left: 0.5em;
  width: 1em;
}

.g_kv {
  position: relative;
}
.g_kv .desktop {
  max-height: 100vh;
  background: url("img/bg.jpg") center bottom/cover;
}
.g_kv .desktop .bg {
  padding-top: 56.25%;
}
.g_kv .desktop .content {
  position: absolute;
  left: 8%;
  top: 8%;
  width: 84%;
  font-size: 0.4166666667vw;
}
.g_kv .desktop .logo {
  width: 42%;
}
.g_kv .desktop .t1 {
  color: #fff;
  font-weight: 700;
  margin-top: 16em;
}
.g_kv .desktop .t1 .t1a {
  font-size: 8.5em;
}
.g_kv .desktop .t2 {
  margin-top: 0.2em;
  margin-bottom: 2em;
  color: #3E6EE5;
  font-size: 7em;
  font-weight: 700;
  line-height: 1.2;
}
.g_kv .desktop .date {
  width: 34.1145833333%;
}
.g_kv .desktop .slogan {
  margin-top: 16em;
  width: 14.6875%;
}

.sc_intro {
  background-color: #fff;
}

.intr_cnt {
  margin: 0 auto;
  max-width: 50em;
  font-size: 1.25em;
  line-height: 1.67;
  color: #222042;
}
.intr_cnt b {
  color: #141433;
}
.intr_cnt ul {
  list-style: none;
  padding-left: 0;
}
.intr_cnt ul li {
  position: relative;
  border-bottom: 1px solid #3E6EE5;
  padding: 1em 1.8em;
  line-height: 1;
  color: #3E6EE5;
}
.intr_cnt ul li::after {
  content: "";
  position: absolute;
  left: 0.7em;
  top: calc(50% - 0.1em);
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  background: linear-gradient(45deg, #3E6EE5, #141433);
}

.cta_wrap {
  margin-top: 40px;
  text-align: center;
}
.cta_wrap .cta_text {
  margin-bottom: 15px;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #3E6EE5;
}

.main_sc {
  padding-top: 60px;
  padding-bottom: 60px;
}

.g_main {
  position: relative;
  z-index: 2;
}
.g_main .sc_title {
  position: relative;
  z-index: 2;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}
.g_main .sc_title .tit {
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 0.5em;
  font-weight: 500;
  line-height: 1;
  background: -webkit-gradient(linear, left top, right top, from(#222042), to(#2f9ff5)) center bottom/90% 3px no-repeat;
  background: linear-gradient(90deg, #222042, #2f9ff5) center bottom/90% 3px no-repeat;
  color: #2f9ff5;
}

.patten {
  background: radial-gradient(#B5B0D6 1px, transparent 2px) 0 0/24px 24px;
  opacity: 0.2;
}

.sc_agenda {
  position: relative;
  background-color: #222042;
  overflow: hidden;
}
.sc_agenda .patten {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20vw;
  height: 20vw;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ag_table {
  font-size: 1.2em;
}
.ag_table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #3E6EE5;
  color: #fff;
}
.ag_table .tr:first-child {
  border-bottom: 0;
  border-radius: 1em;
  margin-bottom: 6px;
}
.ag_table .tr:last-child {
  margin-top: 6px;
  border-bottom: 0;
  border-radius: 1em;
}
.ag_table .tr_soft {
  background-color: rgba(62, 110, 229, 0.1);
}
.ag_table .td {
  padding: 15px;
}
.ag_table .td_time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.ag_table .time {
  color: #2f9ff5;
}
.ag_table .td_topic {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ag_table .tpc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-right: 1em;
}
.ag_table .toggle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #3E6EE5;
  padding: 0.4em 0.8em 0.5em;
  color: #fff;
  border-radius: 4px;
  font-size: 0.9em;
  cursor: pointer;
}
.ag_table .toggle:hover {
  background-color: #CA1E22;
}
.ag_table .td_speaker {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}
.ag_table .td_speaker .k {
  font-size: 0.8em;
  color: #c543a4;
}
.ag_table .td_speaker .line2 {
  margin-top: 0.75em;
}
.ag_table .spk {
  padding: 0.25em 0;
  line-height: 1.3;
}
.ag_table .spk .n {
  font-weight: 500;
}
.ag_table .spk .j {
  font-size: 0.8em;
  color: #2f9ff5;
}

.sc_speaker {
  background-color: #141433;
}

.spk_cnt .items {
  border-radius: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.spk_cnt .spk_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  position: relative;
  overflow: hidden;
  padding: 0 15px 30px;
}
.spk_cnt .wrap {
  position: relative;
}
.spk_cnt .wrap::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #3E6EE5, rgba(62, 110, 229, 0));
}
.spk_cnt .pic {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: #222042;
}
.spk_cnt .word {
  padding: 15px 0 0;
  text-align: center;
  color: #2f9ff5;
}
.spk_cnt .word .n {
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
}

.sc_gift {
  background-color: #222042;
}

.gift_cnt {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gift_cnt .gift_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 420px;
          flex: 0 0 420px;
  margin: 20px 0;
  text-align: center;
  color: #fff;
}
.gift_cnt .gift_item .pic {
  max-width: 50vw;
  margin: 0 auto;
}
.gift_cnt .gift_item .pic img {
  max-width: 100%;
  width: 200px;
}
.gift_cnt .gift_item .word {
  padding: 1em 2em;
}
.gift_cnt .gift_item .tit {
  font-size: 1.5em;
  font-weight: 700;
  color: #2f9ff5;
}
.gift_cnt .gift_item .text {
  margin-top: 0.5em;
  font-size: 1.1em;
  color: #B5B0D6;
}
.gift_cnt .gift_item .text b {
  color: #fff;
}

.sc_company {
  overflow: hidden;
  background-color: #fff;
}

.cpy_cnt {
  text-align: center;
}
.cpy_cnt .cpy_item + .cpy_item {
  margin-top: 3em;
}
.cpy_cnt .cpy_item .t {
  font-size: 1.25em;
  line-height: 1;
  color: #3E6EE5;
}
.cpy_cnt .cpy_item img {
  margin: 15px;
  height: 60px;
}
.cpy_cnt .cpy_item img.i1 {
  height: 96px;
}

.g_footer {
  padding: 60px 0;
  background-color: #222042;
  color: #fff;
  overflow: hidden;
}
.g_footer ul {
  margin-bottom: 0;
}
.g_footer ul li {
  padding: 0.3em 0;
  line-height: 1.4;
}
.g_footer ul a {
  color: #B5B0D6;
}
.g_footer ul a:hover {
  color: #2f9ff5;
}

.modal-content {
  border-width: 0;
}

.modal-header {
  border-bottom-width: 0;
  padding-left: 2rem;
  line-height: 1;
}
.modal-header .h5 {
  color: #3E6EE5;
  font-weight: 700;
}
.modal-header button.close {
  font-size: 1.5rem;
  color: #000;
  opacity: 1;
}

.modal-body {
  padding: 1.25rem 2rem 1.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  line-height: 1.5;
}
.modal-body ul,
.modal-body ol {
  padding-left: 1.7rem;
  margin-bottom: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.modal-body li {
  padding: 0.2rem 0;
}

@media (max-width: 767px) {
  .fix_aside {
    right: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fix_aside .fx_item {
    margin: 0 0.25em;
  }

  .g_header {
    width: 100%;
    background-color: #141433;
  }
  .g_header .header_wrap {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .g_header .menu_trigger {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .g_header .menu_trigger .menu_btn {
    position: relative;
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
  }
  .g_header .menu_trigger .menu_btn .icon {
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 50%;
    width: 60%;
    height: 4px;
    margin-top: -2px;
    background-color: #fff;
  }
  .g_header .menu_trigger .menu_btn .icon::before, .g_header .menu_trigger .menu_btn .icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .g_header .menu_trigger .menu_btn .icon::before {
    top: -200%;
  }
  .g_header .menu_trigger .menu_btn .icon::after {
    bottom: -200%;
  }
  .g_header .menu_trigger .menu_btn.sty_white {
    border-color: #fff;
  }
  .g_header .menu_trigger .menu_btn.sty_white .icon, .g_header .menu_trigger .menu_btn.sty_white .icon::before, .g_header .menu_trigger .menu_btn.sty_white .icon::after {
    background-color: #fff;
  }
  .g_header .nav_area {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-right: 48px;
    display: none;
  }
  .g_header .nav_cnt {
    display: block;
  }
  .main_sc {
    padding: 30px 20px 45px;
  }

  .sc_intro .intr_cnt {
    font-size: 1rem;
  }
  .sc_intro .gift_cnt {
    margin-top: 2em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sc_intro .gift_cnt .pic {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .sc_intro .gift_cnt .word {
    margin-top: 1em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  .sc_intro .gift_cnt .word .tit {
    border-width: 0 0 4px 0;
  }
  .sc_intro .gift_cnt .word .text {
    margin-top: 0.5em;
  }

  .ag_table {
    font-size: 1em;
  }
  .ag_table .tr {
    display: block;
    padding: 10px 20px;
  }
  .ag_table .td {
    padding: 0;
  }
  .ag_table .tpc {
    padding-right: 0;
  }
  .ag_table .td_topic {
    padding: 5px 0;
    display: block;
    font-size: 1.2em;
    line-height: 1.3;
  }
  .ag_table .toggle {
    display: inline-block;
    margin-top: 4px;
  }

  .spk_cnt .items {
    max-width: 320px;
    margin: 0 auto;
    display: block;
  }
  .spk_cnt .spk_item {
    overflow: visible;
    margin-bottom: 10px;
  }

  .sc_company .items {
    display: block;
  }
  .sc_company .cpy_item {
    margin-bottom: 10px;
  }

  .sc_location {
    padding-bottom: 80px;
  }
  .sc_location .map_tit {
    display: block;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
  }
  .sc_location .map_wrap {
    width: 100%;
    padding-top: 300px;
  }

  .modal-header {
    padding-left: 1.5rem;
  }

  .modal-body {
    padding: 1.5rem;
    font-size: 1rem;
  }
}