@charset "UTF-8";
@-webkit-keyframes floatS {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
}
@keyframes floatS {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
}
@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@-webkit-keyframes floatShadow {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes floatShadow {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*--------------------------------------------*/
html {
  font-size: 16px;
}

body {
  font-family: "Guardian Sans LC", "Tahoma", "Noto Sans TC", sans-serif;
}

a {
  color: inherit;
}

.g_header {
  -webkit-transition: background 400ms;
  transition: background 400ms;
  background: linear-gradient(135deg, #2ff9ee, #0b34d4, #271e88, #0b34d4, #2ff0c4);
}
.g_header .header_menu {
  position: relative;
}
.g_header .nav_area {
  position: relative;
  z-index: 3;
}
.g_header .nav_item {
  font-size: 1.125em;
}
.g_header .nav-link {
  color: #93ea20;
}
.g_header .nav-link:hover {
  color: #fcee21;
}
.g_header .navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  line-height: 28px;
}
.g_header.is_active {
  background-color: #002d33;
}

.theme_lines {
  position: relative;
  width: 100%;
  height: 1em;
  font-size: 12px;
}
.theme_lines span {
  position: absolute;
  top: 0;
  border-radius: 0.5em;
  height: 1em;
}
.theme_lines .l1 {
  left: 0;
  z-index: 2;
  width: calc(76% + 1em);
  margin-left: -0.5em;
  background-color: #00aa83;
  background-image: -webkit-gradient(linear, left top, right top, from(#16a939), color-stop(#16a939), to(#fcee21));
  background-image: linear-gradient(90deg, #16a939, #16a939, #fcee21);
}
.theme_lines .l2 {
  left: 76%;
  z-index: 1;
  width: calc(14% + 1em);
  margin-left: -0.5em;
  background-color: #93ea20;
}
.theme_lines .l3 {
  left: 90%;
  z-index: 2;
  width: calc(10% + 1em);
  margin-left: -0.5em;
  background-color: #008686;
}

.all_wrap {
  overflow: hidden;
}

.ly_sty {
  padding-top: 40px;
  padding-bottom: 40px;
}

.patten {
  position: absolute;
  z-index: 1;
  background: radial-gradient(circle, #0b4d87 3.5px, transparent 3.5px) 0 0/24px 24px repeat;
}

.sc_title {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.sc_title .tit {
  color: #002d33;
  display: inline-block;
  line-height: 1;
}
.sc_title .tit .zh {
  padding: 0 1em;
  font-size: 2em;
  font-weight: 700;
}
.sc_title .tit .sup {
  margin-top: 1em;
  font-size: 1.25em;
  line-height: 1.3;
}
.sc_title .theme_lines {
  margin: 3em auto 0;
  max-width: 360px;
  width: 80%;
  font-size: 6px;
}

.kv_wrap {
  margin-top: 60px;
  background-color: #fff;
}

@-webkit-keyframes roundAni {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: rotate(-240deg);
            transform: rotate(-240deg);
    opacity: 0;
  }
  90% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
}

@keyframes roundAni {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: rotate(-240deg);
            transform: rotate(-240deg);
    opacity: 0;
  }
  90% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
}
@-webkit-keyframes textAni {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textAni {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.key_visual {
  position: relative;
  background: #302ff0 url(img/kv/bg.jpg) center/cover no-repeat;
  background-size: cover;
  background-position: 70%;
  overflow: hidden;
}
.key_visual .round {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
  width: 50%;
  height: 100%;
}
.key_visual .round img {
  -webkit-animation: roundAni 5s linear infinite;
          animation: roundAni 5s linear infinite;
}
.key_visual .round .r1 {
  position: absolute;
  left: 8%;
  top: -25%;
  width: 120%;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  opacity: 0.5;
}
.key_visual .round .r2 {
  position: absolute;
  left: 18%;
  top: 20%;
  width: 150%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.key_visual .kv__wrapper {
  position: relative;
  z-index: 5;
  display: block;
  margin: 0 auto;
  max-width: 1920px;
  padding-top: min(46.875%, 1080px);
}
.key_visual .kv__wrapper .kv__title {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.key_visual .kv__logo {
  position: absolute;
  left: 5.5%;
  top: 0;
  z-index: 10;
  width: 13.5%;
}
.key_visual .kv__title {
  position: absolute;
  left: 7%;
  top: 0;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: min(1vw, 1.2rem);
}
.key_visual .kv__title .t1 {
  color: #fff;
}
.key_visual .kv__title .t1 .sub {
  font-size: 2em;
}
.key_visual .kv__title .t1 .main {
  font-size: 5em;
  font-weight: 700;
  line-height: 1;
}
.key_visual .kv__title .t2 {
  margin-top: 1em;
  color: #93ea20;
  font-size: 2.5em;
  line-height: 1.3;
}
.key_visual .kv__main {
  position: absolute;
  right: 7%;
  top: 0;
  z-index: 10;
  max-width: 580px;
  width: 30.2083333333%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.key_visual .kv__main .book {
  padding: 0 7vw;
}
.key_visual .kv__main .book img {
  width: 100%;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.key_visual .kv__main .tip {
  margin: 2vw 0 1vw;
  color: #fff;
}
.key_visual .kv__main .cta .bttn {
  display: inline-block;
  border-radius: 4em;
  padding: 0.5em 2em 0.6em;
  line-height: 1;
  color: #271e88;
  background-color: #2ff9ee;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.key_visual .kv__main .cta .bttn:hover {
  background-color: #271e88;
  color: #2ff9ee;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.sc_active {
  position: relative;
  z-index: 2;
}
.sc_active .sc_title .tit {
  letter-spacing: -0.02em;
}

.section_block {
  padding: 60px 30px;
}

.white_bk {
  background-color: #fff;
}
.white_bk .sc_title .tit .sup {
  opacity: 0.8;
  font-weight: 300;
}

.light_bk {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#93ea20), to(#fff));
  background-image: linear-gradient(0deg, #93ea20, #fff);
}
.light_bk .sc_title .sup {
  opacity: 0.8;
  font-weight: 300;
}

.deep_bk {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 95, 75, 0.9)), to(rgba(0, 95, 75, 0.6)));
  background-image: linear-gradient(180deg, rgba(0, 95, 75, 0.9), rgba(0, 95, 75, 0.6));
}
.deep_bk .sc_title .tit {
  color: #fff;
}
.deep_bk .sc_title .sup {
  opacity: 0.8;
  font-weight: 300;
}

.sec1_bk {
  padding: 50px 0;
  background-color: #fff;
  overflow: hidden;
}

.intro_cnt .text {
  padding: 0 2rem;
  font-size: 1.25rem;
  line-height: 1.8;
}
.intro_cnt .text strong {
  color: #16a939;
}
.intro_cnt .data {
  padding: 10px 2rem 0;
}
.intro_cnt .data .items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro_cnt .data .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.5%;
          flex: 0 0 31.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro_cnt .data .chart {
  position: relative;
  border-radius: 50%;
  padding: 80px;
  overflow: hidden;
  border: 1px solid #271e88;
}
.intro_cnt .data .chart::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 10%;
  z-index: 1;
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #271e88;
}
.intro_cnt .data .chart.ch1 {
  background: conic-gradient(#0b34d4, #0b34d4 306deg, rgba(47, 249, 238, 0.5) 306deg);
}
.intro_cnt .data .chart.ch2 {
  background: conic-gradient(#0b34d4, #0b34d4 295.2deg, rgba(47, 249, 238, 0.5) 295.2deg);
}
.intro_cnt .data .chart.ch3 {
  background: conic-gradient(#0b34d4, #0b34d4 342deg, rgba(47, 249, 238, 0.5) 342deg);
}
.intro_cnt .data .num {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #271e88;
}
.intro_cnt .data .num b {
  font-size: 2.5em;
}
.intro_cnt .data .num span {
  font-size: 1.5em;
}
.intro_cnt .data .txt {
  padding-left: 0.875rem;
  line-height: 1.2;
  font-size: 1.25em;
  color: #271e88;
}

.sec2_bk {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #35b746), to(#9adf35));
  background: linear-gradient(180deg, #35b746 0, #9adf35 100%);
}
.sec2_bk .sc_title .tit {
  color: #fff;
}

.sec2_cnt .items {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sec2_cnt .item {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  color: #fff;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sec2_cnt .item .icon {
  position: relative;
  z-index: 2;
}
.sec2_cnt .item .icon img {
  border-radius: 50%;
  max-width: 50%;
  -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.04);
}
.sec2_cnt .item .white {
  margin-top: -20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px;
  padding: 40px 20px;
  height: 100;
  background-color: #fff;
  -webkit-box-shadow: 12px 23px 24px rgba(3, 94, 94, 0.03), 16px 38px 32px rgba(3, 94, 94, 0.03);
          box-shadow: 12px 23px 24px rgba(3, 94, 94, 0.03), 16px 38px 32px rgba(3, 94, 94, 0.03);
}
.sec2_cnt .item .tit {
  margin-bottom: 6px;
  font-size: 1.75em;
  line-height: 1;
  color: #002d33;
  font-weight: 700;
}
.sec2_cnt .item .sub {
  color: #16a939;
  font-size: 1.33em;
  font-weight: 500;
}
.sec2_cnt .item .list {
  padding-top: 6px;
  margin-bottom: 0;
  color: #000;
  list-style: none;
  padding-left: 0;
}
.sec2_cnt .item .list li {
  margin-top: 6px;
}

.sec3_bk {
  position: relative;
  background: linear-gradient(45deg, #434699, #2A2676 89%, #2A2676 100%);
}
.sec3_bk::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 25%;
  background: url("img/season/pattern1.png") center/cover;
}

@-webkit-keyframes hoverAni {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hoverAni {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.sec3_cnt {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
}
.sec3_cnt .top_title {
  color: #fff;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.sec3_cnt .top {
  position: relative;
  padding: 40px 60px;
  border-radius: 30px;
  border: 5px solid #93ea20;
}
.sec3_cnt .top .item {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#16a939), color-stop(20%, #93ea20), color-stop(80%, #93ea20), to(#16a939));
  background: linear-gradient(90deg, #16a939, #93ea20 20%, #93ea20 80%, #16a939);
  text-align: center;
  line-height: 1;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  color: #003738;
}
.sec3_cnt .top .item .t1 {
  font-size: 1.5em;
  font-weight: 500;
}
.sec3_cnt .top .item .t2 {
  font-size: 1em;
  margin-top: 6px;
  font-weight: 300;
}
.sec3_cnt .top .native {
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#7bffe5), color-stop(40%, #288782), color-stop(60%, #288782), to(#7bffe5));
  background: linear-gradient(90deg, #7bffe5, #288782 40%, #288782 60%, #7bffe5);
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  border-radius: 10px;
}
.sec3_cnt .bottom {
  margin-top: 50px;
}
.sec3_cnt .bottom .items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sec3_cnt .bottom .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.5%;
          flex: 0 0 18.5%;
  position: relative;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.sec3_cnt .bottom .normal {
  padding: 120px 14px 16px;
  border-radius: 8px;
  background-color: #3b85f7;
}
.sec3_cnt .bottom .normal .icon {
  position: absolute;
  right: 0;
  top: 16px;
}
.sec3_cnt .bottom .normal .tit {
  font-size: 1.25em;
  color: #fff;
}
.sec3_cnt .bottom .hover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: #fff;
  color: #606060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: hoverAni 3s linear infinite alternate;
          animation: hoverAni 3s linear infinite alternate;
}
.sec3_cnt .bottom .hover .comp {
  margin: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec3_cnt .bottom .hover .comp .i {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
  padding-right: 8px;
  text-align: center;
}
.sec3_cnt .bottom .hover .comp .t {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 0.75em;
  line-height: 1.2;
}

.section_gift_block {
  background-color: #f8f8f9;
  padding: 60px 2vw;
}

.sc_form .parag,
.sc_form .point_list {
  max-width: 900px;
  margin: 0 auto;
}
.sc_form .parag {
  font-size: 1.25em;
  text-align: center;
}
.sc_form .parag strong {
  color: #16a939;
  line-height: 1.8;
}
.sc_form .point_list {
  position: relative;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 1.5em;
}
.sc_form .point_list::before, .sc_form .point_list::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 24px;
  width: 30px;
  height: calc(100% - 64px);
  border: 2px solid #16a939;
}
.sc_form .point_list::before {
  left: 15px;
  border-right-width: 0;
}
.sc_form .point_list::after {
  right: 10px;
  border-left-width: 0;
}
.sc_form .point_list .tit,
.sc_form .point_list .item,
.sc_form .point_list .cta {
  position: relative;
  z-index: 2;
}
.sc_form .point_list .tit {
  margin-bottom: 0.5em;
  font-size: 1.67em;
  font-weight: 700;
  color: #16a939;
  text-align: center;
}
.sc_form .point_list .item {
  border-radius: 22px;
  margin-top: 0.5em;
  padding: 2px;
  background: linear-gradient(60deg, #005f4b, #16a939, #93ea20);
  font-size: 1.125em;
  line-height: 1.1;
}
.sc_form .point_list .item .txt {
  border-radius: 20px;
  padding: 0.75em 2em;
  min-width: 60%;
  background-color: #fff;
  font-weight: 700;
  color: #454545;
}
.sc_form .point_list .item:nth-child(3) {
  background: linear-gradient(-60deg, #005f4b, #16a939, #93ea20);
}
.sc_form .main_button {
  position: relative;
  display: inline-block;
  margin-top: 1em;
  padding: 0.75em 2em;
  background: linear-gradient(132deg, #16a939, #005f4b, #002d33);
  color: #fff;
  font-size: 2em;
  line-height: 1.1;
  border-radius: 1.5em;
  font-weight: 500;
  cursor: pointer;
  -webkit-animation: scaleInBounce 1000ms linear both;
          animation: scaleInBounce 1000ms linear both;
}
.sc_form .main_button .text {
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.29);
}
.sc_form .main_button .theme_lines {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  font-size: 8px;
  margin-top: 22px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 300ms;
  transition: width 300ms;
}
.sc_form .main_button:hover {
  -webkit-animation: scaleOutBounce 1000ms linear both;
          animation: scaleOutBounce 1000ms linear both;
}

.modal .modal-body {
  padding: 30px;
}
.modal .form_tit {
  text-align: center;
  margin-bottom: 20px;
}
.modal .form_tit .h2 span {
  font-weight: 700;
  color: #005f4b;
}
.modal .form_tit .tip {
  margin-top: 6px;
  color: red;
}
.modal .main_button {
  position: relative;
  display: inline-block;
  margin-top: 1em;
  padding: 0.75em 2em;
  background: linear-gradient(132deg, #16a939, #005f4b, #002d33);
  color: #fff;
  font-size: 2em;
  line-height: 1.1;
  border-radius: 1.5em;
  font-weight: 500;
  cursor: pointer;
  -webkit-animation: scaleInBounce 1000ms linear both;
          animation: scaleInBounce 1000ms linear both;
}
.modal .main_button .text {
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.29);
}
.modal .main_button .theme_lines {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  font-size: 8px;
  margin-top: 22px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 300ms;
  transition: width 300ms;
}
.modal .main_button:hover {
  -webkit-animation: scaleOutBounce 1000ms linear both;
          animation: scaleOutBounce 1000ms linear both;
}

.sc_gifts {
  padding-top: 40px;
}
.sc_gifts .sc_title {
  margin-top: 1em;
}
.sc_gifts .sc_title .theme_lines {
  margin-bottom: 0;
}
.sc_gifts .gift_tit {
  font-size: 1.25em;
  text-align: center;
}
.sc_gifts .gift_tit span {
  display: block;
  color: #343434;
}
.sc_gifts .gift_tit .main {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  padding: 0.75rem 4em;
  background: -webkit-gradient(linear, left top, right top, from(#434699), color-stop(#2A2676), to(#434699));
  background: linear-gradient(90deg, #434699, #2A2676, #434699);
}
.sc_gifts .gift_tit .main::before, .sc_gifts .gift_tit .main::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
}
.sc_gifts .gift_tit .main::before {
  left: 10px;
}
.sc_gifts .gift_tit .main::after {
  right: 10px;
}
.sc_gifts .text {
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.2;
}
.sc_gifts .text .sub {
  position: relative;
  top: -3px;
  border: 1px solid currentColor;
  border-radius: 6px;
  margin-left: 0.5rem;
  padding: 3px 8px;
  font-size: 0.875rem;
  color: #16a939;
}
.sc_gifts .gift_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
}
.sc_gifts .gift_item .text {
  color: #787878;
}
.sc_gifts .gift_item .text b {
  color: #16a939;
}
.sc_gifts .gift_item .name {
  margin-top: 0.5rem;
  padding: 0 20px;
  font-size: 2em;
  line-height: 1.3;
  text-align: center;
}
.sc_gifts .gift_item .name .brand {
  display: block;
  color: #005f4b;
  font-weight: 700;
}
.sc_gifts .gift_item .name .brand span {
  display: block;
}
.sc_gifts .gift_item .name .brand span:last-child {
  margin-left: 0.2em;
  color: #16a939;
  font-weight: 700;
}
.sc_gifts .gift_item .name .tip {
  margin-top: 6px;
  font-size: 1rem;
  color: #0b34d4;
}
.sc_gifts .gift_item .img {
  position: relative;
  max-width: 320px;
  margin: 20px auto 0;
}
.sc_gifts .gift_item .img img {
  position: relative;
  z-index: 2;
  border-radius: 40px;
}
.sc_gifts .gift_item .img::before {
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-132deg, #16a939, #005f4b, #002d33);
}

.main_content {
  position: relative;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
}

.sc_infomation {
  padding: 50px;
  background-color: #005f4b;
}
.sc_infomation .sc_title {
  margin-top: 0;
  margin-bottom: 20px;
}
.sc_infomation .sc_title .tit {
  text-shadow: 2px 2px 0 #fff;
  line-height: 1;
}
.sc_infomation .sc_title .sup_link {
  position: absolute;
  right: 0;
  bottom: 5px;
  padding-right: 20px;
  color: #00AC34;
}
.sc_infomation .sc_title .sup_link::after {
  content: "";
  position: absolute;
  right: 5px;
  bottom: 3px;
  width: 16px;
  height: 16px;
  border: 2px solid #00AC34;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.sc_infomation .sc_title .sup_link:hover a {
  color: #002d33;
}
.sc_infomation .sc_title .sup_link:hover::after {
  border-color: #002d33;
}
.sc_infomation .info_block {
  position: relative;
  padding: 40px 25px 48px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.sc_infomation .info_block .theme_lines {
  position: absolute;
  left: 0;
  bottom: 0;
}
.sc_infomation .info_block .item {
  display: block;
}
.sc_infomation .info_block .item .name {
  margin-top: 8px;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.2;
  text-decoration: underline;
}
.sc_infomation .info_block .item:hover {
  color: #005f4b;
}

.g_case,
.g_whitebk,
.g_hotvd {
  margin: 0 auto;
  max-width: 1600px;
}

.g_case {
  padding-bottom: 20px;
}
.g_case .sc_title .tit {
  color: #93ea20;
  text-shadow: none;
  line-height: 1;
}
.g_case .sc_title .sup_link {
  color: #fff;
}
.g_case .sc_title .sup_link::after {
  border-color: #fff;
}
.g_case .sc_title .sup_link:hover a {
  color: #fcee21;
}
.g_case .sc_title .sup_link:hover::after {
  border-color: #fcee21;
}
.g_case .item {
  position: relative;
}
.g_case .item:hover .img::after {
  opacity: 0.5;
}
.g_case .item:hover .img img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.g_case .img {
  position: relative;
  overflow: hidden;
}
.g_case .img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #002d33;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
.g_case .img img {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.g_case .text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 3em 1em 1em;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: #fff;
  font-size: 1.25em;
  line-height: 1.2;
}

.wbk_items .item {
  border-radius: 10px;
  padding: 20px;
  padding-left: 100px;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}
.wbk_items .item::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  width: 64px;
  height: 64px;
  background: center/contain no-repeat;
  background-image: url("img/ic_whb.svg");
}
.wbk_items .item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.wbk_bn_items .items_wrap,
.wbk_bn_items .item {
  outline: none;
}
.wbk_bn_items .items_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wbk_bn_items .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  cursor: pointer;
  padding: 0 1px;
  text-align: center;
  text-decoration: none;
}
.wbk_bn_items .item .img {
  padding-top: 50%;
  background: center/cover no-repeat;
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 1;
}
.wbk_bn_items .item:hover .img {
  opacity: 0.7;
}

.g_hotvd {
  margin-top: 15px;
}
.g_hotvd .col_wrap {
  padding: 0 10px;
}

.hvd_items {
  margin-bottom: 15px;
}
.hvd_items .item {
  margin: 0 auto;
  position: relative;
  display: block;
  line-height: 1.4;
  -webkit-transition-property: background, color, border;
  transition-property: background, color, border;
}
.hvd_items .item .img {
  overflow: hidden;
  background-color: #000;
}
.hvd_items .item img {
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}
.hvd_items .item .info {
  margin-top: 0.5em;
  line-height: 1.4;
}
.hvd_items .item .info ul {
  padding-left: 1.5em;
  margin: 10px 0;
}
.hvd_items .item .info ul li {
  margin: 3px 0;
}
.hvd_items .item:hover img {
  -webkit-transform: scale(0.96, 0.93);
          transform: scale(0.96, 0.93);
}

.demo_items .col_wrap:nth-child(2n) .item {
  background-color: rgba(0, 95, 75, 0.7);
}
.demo_items .col_wrap:nth-child(2n) .item::after {
  border-left-color: #fcee21;
}
.demo_items .item {
  position: relative;
  display: block;
  padding: 1em 1.5em;
  background-color: rgba(0, 95, 75, 0.9);
  height: 100%;
  overflow: hidden;
}
.demo_items .item .title {
  position: relative;
  font-size: 1.125em;
  line-height: 1.2;
  color: #fff;
  min-height: 42px;
  left: 0;
  -webkit-transition: left 300ms;
  transition: left 300ms;
}
.demo_items .item::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  border-left: 10px solid #93ea20;
  height: 100%;
  -webkit-transition: left 300ms;
  transition: left 300ms;
}
.demo_items .item:hover {
  text-decoration: none;
}
.demo_items .item:hover::after {
  left: 0;
}
.demo_items .item:hover .title {
  left: 6px;
}

.sc_event .container-fluid {
  margin: 0 auto;
  max-width: 1630px;
  padding: 0 5px;
}
.sc_event .col_wrap {
  padding: 10px;
}
.sc_event .evt_item {
  position: relative;
  display: block;
  border-radius: 4px;
  border: 1px solid #93ea20;
  padding: 1rem;
  height: 100%;
  background-color: rgba(227, 248, 198, 0);
  font-size: 0;
  -webkit-transition: background 100ms;
  transition: background 100ms;
}
.sc_event .evt_item.un_open {
  border-color: #bbb;
  background-color: #f8f8f8;
}
.sc_event .evt_item.un_open .text_block {
  width: calc(100% - 3.6em);
}
.sc_event .evt_item.un_open::before {
  content: "敬請期待";
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 4px 0 2px 0;
  width: 2.75rem;
  padding: 0.5rem;
  background-color: #bbb;
  font-size: 0.875rem;
  line-height: 1.1;
  text-align: center;
  color: #fff;
}
.sc_event .evt_item.un_open::after {
  content: "";
  background-image: none;
}
.sc_event .evt_item.un_open:hover {
  background-color: #f8f8f8;
}
.sc_event .evt_item .date_block,
.sc_event .evt_item .text_block, .sc_event .evt_item::after {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
}
.sc_event .evt_item .date_block {
  padding: 4px 4px 8px;
  width: 2.25em;
  background-color: #005f4b;
  line-height: 1;
  text-align: center;
}
.sc_event .evt_item .date_block .day {
  color: #fcee21;
  font-weight: 700;
  font-size: 1.25em;
}
.sc_event .evt_item .date_block .mon {
  color: #fff;
  font-size: 0.75em;
}
.sc_event .evt_item .text_block {
  position: relative;
  width: calc(100% - 4.5em);
  padding-left: 14px;
  padding-right: 10px;
  line-height: 1.2;
}
.sc_event .evt_item .text_block .tit {
  font-size: 0.875em;
}
.sc_event .evt_item .text_block .stit {
  margin-top: 6px;
  color: #005f4b;
  font-size: 1.125em;
  font-weight: 700;
}
.sc_event .evt_item::after {
  content: "";
  width: 2em;
  height: 100%;
  background: url("img/right.svg") center no-repeat;
  opacity: 0.1;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}
.sc_event .evt_item:hover {
  background-color: rgba(227, 248, 198, 0.5);
  color: inherit;
}
.sc_event .evt_item:hover::after {
  opacity: 1;
}

.sc_others .container-fluid {
  margin: 0 auto;
  max-width: 1630px;
  padding: 0 5px;
}

.row_others .item {
  display: block;
  border-radius: 8px;
  margin: 10px 0;
  padding: 0.75rem 1.5rem;
  font-size: 1.125em;
  line-height: 1.25;
  border: 2px solid #000;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.row_others .item .item_in {
  position: relative;
  height: 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.row_others .news_wrap,
.row_others .article_wrap,
.row_others .blog_wrap {
  padding: 0 10px;
}
.row_others .news_wrap .item {
  border-color: #005f4b;
  background-color: rgba(0, 95, 75, 0.1);
  color: #005f4b;
}
.row_others .news_wrap .item:hover {
  background-color: #005f4b;
  color: #fff;
  text-decoration: none;
}
.row_others .article_wrap .item {
  border-color: #002d33;
  background-color: rgba(22, 169, 57, 0.1);
  color: #002d33;
}
.row_others .article_wrap .item:hover {
  background-color: #002d33;
  color: #fff;
  text-decoration: none;
}
.row_others .blog_wrap .item {
  border-color: #16a939;
  background-color: rgba(22, 169, 57, 0.1);
  color: #16a939;
}
.row_others .blog_wrap .item:hover {
  background-color: #16a939;
  color: #fff;
  text-decoration: none;
}

.sc_company {
  padding-bottom: 80px;
}
.sc_company .container {
  position: relative;
  padding-left: 7%;
  padding-right: 7%;
}
.sc_company .parag_wrap {
  position: relative;
  border-radius: 20px;
  border: 1px solid #002d33;
  padding: 45px 60px;
}
.sc_company .parag_wrap::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  right: 8px;
  bottom: -8px;
  z-index: 1;
  border-radius: 16px;
  border: 1px solid #93ea20;
}
.sc_company .parag_wrap .parag {
  position: relative;
  z-index: 2;
}
.sc_company .parag_wrap .parag a {
  color: #16a939;
  text-decoration: underline;
  font-family: "Charcoal", sans-serif;
}
.sc_company .parag_wrap .parag a:hover {
  color: #002d33;
}
.sc_company .company_tit {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 3;
  padding: 0 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}
.sc_company .company_tit .ti,
.sc_company .company_tit .nam {
  display: inline-block;
}
.sc_company .company_tit .ti {
  border-radius: 20px;
  padding: 4px 12px;
  border: 1px solid #002d33;
  color: #002d33;
}
.sc_company .company_tit .nam {
  margin-left: 6px;
  width: 200px;
}

.line_wrap {
  position: relative;
  z-index: 2;
  padding: 30px 0;
  background-color: #16a939;
}
.line_wrap .logo,
.line_wrap .text {
  display: inline-block;
  vertical-align: middle;
}
.line_wrap .logo img {
  height: 40px;
}
.line_wrap .text {
  margin-left: 1rem;
  font-size: 2em;
  line-height: 1.1;
  color: #fcee21;
  font-weight: 700;
}
.line_wrap .text div {
  padding: 0 6px;
  text-shadow: 0 1px 3px black;
}
.line_wrap .theme_lines {
  margin-top: 6px;
  font-size: 10px;
}
.line_wrap .qr_wrap {
  position: relative;
  width: 100px;
  margin-left: 10px;
}
.line_wrap .qr {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .g_whitebk .wbk_items .item_wrap,
  .g_whitebk .wbk_bn_items .item_wrap {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 70px;
  }
  .g_whitebk .wbk_items .item_wrap .arw,
  .g_whitebk .wbk_bn_items .item_wrap .arw {
    position: absolute;
    z-index: 10;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-top: 2px solid #00AC34;
    border-left: 2px solid #00AC34;
    cursor: pointer;
    opacity: 0.4;
  }
  .g_whitebk .wbk_items .item_wrap .arw.arw_left,
  .g_whitebk .wbk_bn_items .item_wrap .arw.arw_left {
    left: 25px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .g_whitebk .wbk_items .item_wrap .arw.arw_right,
  .g_whitebk .wbk_bn_items .item_wrap .arw.arw_right {
    right: 25px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .g_whitebk .wbk_items .item_wrap .arw:hover,
  .g_whitebk .wbk_bn_items .item_wrap .arw:hover {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .navbar-nav {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .navbar-toggler {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar-toggler-icon {
    background-image: url("img/menu.svg");
  }
  .sc_title .tit .zh {
    padding: 0;
    line-height: 1.2;
    font-size: 1.75rem;
  }
  .sc_title .tit .sup {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
  .key_visual .round {
    position: absolute;
    left: 0%;
    top: 50%;
    z-index: 0;
    width: 100%;
    height: 50%;
  }
  .key_visual .kv__wrapper {
    padding-top: calc(50vh + 75vw);
  }
  .key_visual .kv__logo {
    left: 10%;
    width: min(180px, 15vh);
  }
  .key_visual .kv__title {
    left: 10%;
    top: 11vh;
    width: 80%;
    height: auto;
    text-align: center;
    font-size: 3.2vw;
  }
  .key_visual .kv__title .t1 .sub {
    font-size: 1.5em;
  }
  .key_visual .kv__title .t1 .main {
    font-size: 4em;
  }
  .key_visual .kv__title .t2 {
    font-size: 1.5em;
  }
  .key_visual .kv__main {
    left: 0;
    top: initial;
    bottom: 6%;
    width: 100%;
    height: 52%;
  }
  .key_visual .kv__main .book {
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
  .key_visual .kv__main .book img {
    width: auto;
    height: 30vh;
  }
  .key_visual .kv__main .tip {
    margin: 3vh 1.5em 2vh;
  }
  .section_block {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
  }
  .intro_cnt {
    max-width: 100%;
  }
  .intro_cnt .data {
    padding-left: 0;
  }
  .intro_cnt .data .item {
    margin-top: 10px;
  }
  .intro_cnt .text {
    padding: 0;
    font-size: 18px;
  }
  .sec2_cnt .item {
    display: block;
    max-width: 360px;
    margin: 0 auto 30px;
  }
  .sec2_cnt .item .icon img {
    max-width: 40%;
  }
  .sec2_cnt .item .white {
    padding: 30px 40px;
  }
  .sec3_cnt {
    margin: 0 -15px;
    max-width: inherit;
  }
  .sec3_cnt .top_title {
    font-size: 1.75em;
  }
  .sec3_cnt .top {
    padding: 30px;
  }
  .sec3_cnt .top .item .t1 {
    font-size: 1.25em;
  }
  .sec3_cnt .top .item .t2 {
    font-size: 0.875em;
  }
  .sec3_cnt .top .native {
    left: 20%;
    width: 60%;
  }
  .sec3_cnt .bottom {
    padding: 0 15px;
  }
  .sec3_cnt .bottom .items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sec3_cnt .bottom .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
    margin-bottom: 20px;
  }
  .sc_form .point_list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sc_form .point_list::before, .sc_form .point_list::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 12px;
    width: 20px;
    height: calc(100% - 36px);
    border: 2px solid #93ea20;
  }
  .sc_form .point_list::before {
    left: -10px;
    border-right-width: 0;
  }
  .sc_form .point_list::after {
    right: -10px;
    border-left-width: 0;
  }
  .sc_form .point_list .tit {
    font-size: 1.5em;
    line-height: 1.2;
  }
  .sc_form .point_list .item .txt {
    padding: 0.75em 1em;
  }
  .sc_form .main_button {
    font-size: 1.5em;
  }
  .sc_form .main_button .theme_lines {
    margin-top: 16px;
  }
  .sc_gifts {
    padding-top: 50px;
  }
  .sc_gifts .gift_tit .main {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.3;
  }
  .sc_gifts .gift_name {
    text-align: center;
    line-height: 1.2;
  }
  .sc_gifts .gift_name > span {
    display: inline-block;
  }
  .sc_gifts .gift_name .sub {
    top: 0;
    display: inline-block;
    line-height: 1.5;
  }
  .sc_gifts .gift_item .name {
    padding: 0;
  }
  .sc_gifts .gift_item .img {
    max-width: 280px;
  }
  .main_content .sc_title .sup_link {
    margin-top: 10px;
    position: static;
    text-align: right;
  }
  .sc_infomation {
    padding-left: 15px;
    padding-right: 15px;
  }
  .sc_infomation .info_block {
    padding-left: 15px;
    padding-right: 15px;
  }
  .g_case .sc_title .sup_link {
    color: #fff;
  }
  .g_whitebk .wbk_bn_items .items_wrap {
    display: block;
  }
  .g_whitebk .wbk_bn_items .item {
    margin-bottom: 20px;
    padding: 0;
  }
  .g_whitebk .slide {
    margin-bottom: 1.5rem;
  }
  .g_hotvd {
    margin-top: 40px;
  }
  .g_hotvd .col_wrap {
    padding: 0;
  }
  .g_hotvd .hvd_items .item {
    margin-bottom: 30px;
    text-align: center;
  }
  .g_hotvd .demo_items .col_wrap {
    margin-bottom: 15px;
  }
  .g_hotvd .demo_items .col_wrap:last-child {
    margin-bottom: 0;
  }
  .g_hotvd .demo_items .item {
    padding: 1em;
  }
  .sc_event .col_wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .sc_event .evt_item::after {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    width: 1.5em;
    height: 1.5em;
  }
  .sc_event .evt_item .text_block {
    width: calc(100% - 3em);
  }
  .sc_event .evt_item .text_block .stit {
    font-size: 1em;
  }
  .row_others {
    padding-bottom: 40px;
  }
  .row_others .sc_news,
  .row_others .sc_article {
    padding-top: 0;
    padding-bottom: 0;
  }
  .row_others .sc_article {
    margin-top: 20px;
  }
  .row_others .item {
    height: auto;
  }
  .sc_company .parag_wrap {
    padding: 45px 30px 30px;
  }
  .sc_company .parag_wrap::after {
    left: 6px;
    top: 6px;
    right: 6px;
  }
  .sc_company .company_tit {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  .sc_company .company_tit .nam {
    margin-left: 0;
    margin-top: 6px;
  }
  .line_wrap .qr_wrap {
    width: 100%;
    margin-left: 0;
  }
  .line_wrap .qr_wrap .qr {
    position: relative;
    width: 160px;
    margin: 20px auto;
  }
}