html {
  font-size: 16px;
}

body {
  font-family: "Tahoma", "Ubuntu", "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  color: #031624;
}

a {
  color: inherit;
}

.pattern {
  background: radial-gradient(circle, #2ff0c4 3px, transparent 4px) -3px -3px repeat;
  background-size: 32px 32px;
}

.sec_wrap {
  margin: 0 auto;
  padding: 3rem 0;
}

@media screen and (min-width: 1440px) {
  .sec_wrap {
    max-width: 1440px;
  }
}
.fix_aside {
  position: fixed;
  z-index: 99;
  right: 16px;
  bottom: 16px;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fix_aside.is_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.fix_aside .fx_item {
  position: relative;
  display: block;
  border-radius: 0.5em;
  width: 4em;
  height: 4em;
  background: #fff linear-gradient(120deg, #fff, #ddd);
  font-size: 0.95rem;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms, -webkit-transform 240ms, -webkit-box-shadow 240ms;
}
.fix_aside .fx_item:nth-child(n+2) {
  margin-top: 10px;
}
.fix_aside .fx_item.is_primary {
  background-image: linear-gradient(135deg, #2ff0c4, #0b34d4, #271e88);
  color: #fff;
}
.fix_aside .fx_item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}
.fix_aside .fx_item .in_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fix_aside .fx_item .in_wrap.txt {
  text-align: center;
  line-height: 1.3;
}
.fix_aside .fx_item .in_wrap.ic {
  width: 100%;
  height: 100%;
  padding: 0.6em;
}
.fix_aside .fx_item .in_wrap .ic_top {
  width: 100%;
  padding-top: 100%;
  background: url("img/ui/arrow_top.png") center/contain no-repeat;
}

@-webkit-keyframes roundAni {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes roundAni {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes bounsAni {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounsAni {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.key_visual {
  position: relative;
  background: #302ff0 url(img/kv/kvbg.png) center/cover no-repeat;
  overflow: hidden;
}
.key_visual .kv__circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.key_visual .kv__circle > div {
  position: absolute;
}
.key_visual .kv__circle > div img {
  width: 100%;
  -webkit-animation: roundAni 8s linear infinite;
          animation: roundAni 8s linear infinite;
}
.key_visual .kv__circle .c1 {
  width: 73.9583333333%;
  left: -16.9791666667%;
  top: -33.5555555556%;
}
.key_visual .kv__circle .c2 {
  width: 84.0104166667%;
  left: 13.3333333333%;
  top: -28.2222222222%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.key_visual .kv__circle .c3 {
  width: 68.5416666667%;
  left: 42.9166666667%;
  top: -39.5555555556%;
}
.key_visual .kv__wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1920px;
  padding-top: min(46.875%, 1080px);
}
.key_visual .kv__logo {
  position: absolute;
  left: 8%;
  top: 0;
  z-index: 10;
  width: 15%;
}
.key_visual .kv__title {
  position: absolute;
  left: 9.5%;
  top: 0;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 1vw;
}
.key_visual .kv__title .t1 {
  color: #fff;
  font-size: min(3.75em, 72px);
  font-weight: 700;
}
.key_visual .kv__title .t1 span:last-child {
  margin-left: 0.25em;
}
.key_visual .kv__title .t2 {
  margin-top: 0.2em;
  color: #2ff0c4;
  font-size: min(2.7083333333em, 52px);
  line-height: 1.3;
  width: calc(100% - 4em);
}
.key_visual .kv__title .t2 i {
  margin-left: 0.25em;
}
.key_visual .kv__title .date {
  margin-top: 2.5em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #93ea20;
  color: #271e88;
  -webkit-box-shadow: 0 0.2vw 0.2vw 0 rgba(39, 30, 136, 0.7);
          box-shadow: 0 0.2vw 0.2vw 0 rgba(39, 30, 136, 0.7);
  font-size: min(1.71875em, 33px);
  line-height: 1;
  padding: 0.8em 1.3em 0.9em;
  border-radius: 0.9em;
}
.key_visual .kv__main {
  position: absolute;
  right: 8%;
  top: 0;
  width: 22.9166666667%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.key_visual .kv__main .kv__main__pic {
  width: 100%;
  -webkit-animation: bounsAni 8s linear infinite;
          animation: bounsAni 8s linear infinite;
}

.g_main .sc_title {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 1em;
}
.g_main .sc_title .tit {
  font-weight: 700;
  line-height: 1.3;
}

:root {
  --sc_pdd: 60px;
}

.sc_intro {
  padding-top: var(--sc_pdd);
  padding-bottom: var(--sc_pdd);
  background-color: #fff;
}
.sc_intro .sec_cnts {
  margin: 0 auto;
}
.sc_intro .parag {
  max-width: 46em;
  font-size: 1.375rem;
  margin: 0 auto;
}
.sc_intro .parag p {
  margin-bottom: 0;
  text-align: justify;
  line-height: 1.8;
}
.sc_intro .parag p .gc {
  color: #16a939;
}
.sc_intro .parag p:nth-child(n+2) {
  margin-top: 1em;
}
.sc_intro .pic {
  margin: 0 auto;
  max-width: 80%;
}

.sc_part1 {
  padding-bottom: var(--sc_pdd);
}
.sc_part1 .sc_title .tit {
  color: #005f4b;
}
.sc_part1 .items {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sc_part1 .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  text-align: center;
  padding: 0 15px;
}
.sc_part1 .item .pic {
  position: relative;
  padding: 0;
  background: url(img/icons/dots.png) center/contain no-repeat;
}
.sc_part1 .item .pic .icon {
  width: 80%;
}
.sc_part1 .item .txt {
  margin-top: 1em;
  font-size: 1.5em;
  line-height: 1.4;
}
.sc_part1 .item .txt b {
  color: #16a939;
}

.sc_speaker {
  padding-top: var(--sc_pdd);
  padding-bottom: var(--sc_pdd);
}
.sc_speaker .sc_title {
  color: #0b34d4;
}
.sc_speaker .items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sc_speaker .spk_item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  padding: 0 30px;
}
.sc_speaker .spk_item::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  background: url(img/icons/dots.png) center/cover;
  z-index: 1;
}
.sc_speaker .spk_item:first-child::before {
  top: -20px;
  left: -20px;
}
.sc_speaker .spk_item:last-child::before {
  top: 60px;
  right: -20px;
}
.sc_speaker .spk_item .photo {
  position: relative;
  z-index: 3;
  max-width: 340px;
  margin: 0 auto 10px;
  border-radius: 30px;
  overflow: hidden;
}
.sc_speaker .spk_item img {
  max-width: 100%;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.sc_speaker .spk_item .job {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1.25em;
  padding: 10px 1em;
  color: #fff;
  border-radius: 32px;
  background-image: linear-gradient(135deg, #2ff0c4, #0b34d4, #271e88);
  text-align: center;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.sc_speaker .spk_item .text {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0.75em 0 0;
  text-align: center;
  font-size: 1.375em;
}
.sc_speaker .spk_item .name {
  line-height: 1;
  color: #0b34d4;
  font-size: 1.3em;
  font-weight: 700;
}
.sc_speaker .spk_item .name .en {
  padding-left: 0.5em;
}
.sc_speaker .spk_item .tit {
  margin-top: 0.5em;
  line-height: 1.3;
}

.sc_cta {
  padding-top: var(--sc_pdd);
  padding-bottom: var(--sc_pdd);
  background: linear-gradient(120deg, #2ff0c4, #0b34d4 50%, #7170b1);
}
.sc_cta .cta {
  text-align: center;
}
.sc_cta .cta .bttn {
  position: relative;
  display: inline-block;
  margin: 0 1em;
  font-size: 1.75em;
}
.sc_cta .cta .bttn .bttn_inwrap {
  position: relative;
  z-index: 2;
  border-radius: 3em;
  padding: 1.2em 0.5em 1.3em;
  width: 15em;
  line-height: 1;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}
.sc_cta .cta .bttn span {
  font-weight: 700;
}
.sc_cta .cta .bttn:hover {
  text-decoration: none;
}
.sc_cta .cta .bttn:hover .bttn_inwrap {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.sc_cta .cta .bttn.btn_main .bttn_inwrap {
  background-color: #93ea20;
  color: #005f4b;
}
.sc_cta .cta .bttn.btn_sup .bttn_inwrap {
  background-color: #002d33;
  color: #93ea20;
}

.sc_gift {
  position: relative;
  padding-top: var(--sc_pdd);
  padding-bottom: var(--sc_pdd);
  overflow: hidden;
}
.sc_gift .pattern {
  position: absolute;
}
.sc_gift .pattern.p1 {
  left: 0;
  bottom: 0;
  width: 33%;
  height: 120px;
}
.sc_gift .pattern.p2 {
  right: 0;
  top: 5px;
  width: 20%;
  height: 150px;
}
.sc_gift .container {
  position: relative;
  z-index: 2;
  max-width: min(1440px, 100%);
}
.sc_gift .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gft_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: 0 15px;
}
.gft_item .categ_wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  border-radius: 20px;
  padding: 15px 30px 12px;
  background: -webkit-gradient(linear, left top, right top, from(#271e88), color-stop(#0b34d4), to(#4aafff));
  background: linear-gradient(90deg, #271e88, #0b34d4, #4aafff);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.gft_item .categ {
  font-size: 20px;
  line-height: 1;
  color: #fff;
}
.gft_item .categ .c {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.7em;
  padding: 0.4em 1em;
  border-radius: 1em;
  line-height: 1;
  font-size: 0.75em;
  font-weight: 400;
  border: 1px solid currentColor;
  color: #fff;
  margin-top: -0.2em;
}
.gft_item .wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 6px;
  position: relative;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
  padding: 20px 30px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gft_item .text {
  position: relative;
  font-size: 1.25em;
}
.gft_item .name {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.3;
  height: 2.6em;
  color: #0b34d4;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gft_item .detail {
  margin-top: 0.5em;
  font-size: 0.875em;
  line-height: 1.4;
  text-align: justify;
}
.gft_item .pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin: 20px auto 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gft_item .pic img {
  width: 100%;
}
.gft_item .tip {
  padding: 15px 0 0;
  line-height: 1.3;
  font-size: 0.875em;
  color: #005f4b;
  text-align: center;
}

.g_footer .logo_items {
  font-size: 0;
  text-align: center;
}
.g_footer .logo_items .logo {
  display: inline-block;
}
.g_footer .logo_items .logo a {
  padding: 20px 30px;
  display: block;
  text-align: center;
}
.g_footer .logo_items .logo img {
  width: 200px;
}
.g_footer .sc_company {
  position: relative;
  background: linear-gradient(15deg, #271e88, #0b34d4 33%, #0b34d4 67%, #7170b1);
  padding: 80px 0;
  overflow: hidden;
}
.g_footer .sc_company .pattern.p1 {
  position: absolute;
  left: -44px;
  bottom: -30px;
  width: 20%;
  height: 160px;
}
.g_footer .sc_company .container {
  position: relative;
  padding-left: 7%;
  padding-right: 7%;
}
.g_footer .sc_company .parag_wrap {
  position: relative;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 45px 60px;
  background: #0b34d4;
}
.g_footer .sc_company .parag_wrap::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  right: -8px;
  bottom: -8px;
  z-index: 1;
  border-radius: 12px 16px 24px 16px;
  border: 1px solid #2ff9ee;
}
.g_footer .sc_company .parag_wrap .parag {
  position: relative;
  z-index: 2;
  color: #fff;
}
.g_footer .sc_company .parag_wrap .parag a {
  color: #2ff9ee;
  text-decoration: underline;
}
.g_footer .sc_company .parag_wrap .parag a:hover {
  color: #f4e891;
}
.g_footer .sc_company .company_tit {
  position: absolute;
  left: 50%;
  top: 4px;
  z-index: 3;
  padding: 0 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0b34d4;
}
.g_footer .sc_company .company_tit .ti,
.g_footer .sc_company .company_tit .nam {
  display: inline-block;
  vertical-align: middle;
}
.g_footer .sc_company .company_tit .ti {
  border-radius: 20px;
  padding: 4px 12px;
  border: 1px solid #fff;
  color: #fff;
}
.g_footer .sc_company .company_tit .nam {
  margin-left: 6px;
  width: 200px;
}
.g_footer .sc_logos {
  position: relative;
  overflow: hidden;
  background: linear-gradient(120deg, #271e88, #0b34d4);
}
.g_footer .sc_logos .pattern.p1 {
  position: absolute;
  left: -44px;
  top: -42px;
  width: 20%;
  height: 160px;
  background: radial-gradient(circle, #fff 3px, transparent 4px) -8px -9px/27px 27px repeat;
}
.g_footer .sc_logos .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  text-align: center;
  padding: 3em 0;
}
.g_footer .sc_logos .item {
  display: block;
  height: 36px;
}
.g_footer .sc_logos .item.i3 {
  height: 48px;
}
.g_footer .sc_logos .item img {
  height: 100%;
}
.g_footer .sc_logos .between {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 1px;
  margin: 0 50px;
  background-color: #fff;
}

.modal-content {
  border-width: 0;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

.modal-header .modal_t {
  position: relative;
}
.modal-header button.close {
  font-size: 2rem;
  line-height: 1;
  color: #000;
  opacity: 1;
}

.modal-body {
  padding: 0 3rem 2rem;
  font-size: 1.125rem;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .fix_aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fix_aside .fx_item:nth-child(n+2) {
    margin-top: 0;
    margin-left: 10px;
  }
  .key_visual .kv__circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .key_visual .kv__circle > div {
    position: absolute;
  }
  .key_visual .kv__circle > div img {
    width: 100%;
  }
  .key_visual .kv__circle .c1 {
    width: 150%;
    left: -53%;
    top: -40%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .key_visual .kv__circle .c2 {
    width: 175%;
    left: 5%;
    top: 10%;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  .key_visual .kv__circle .c3 {
    width: 180%;
    left: -40%;
    top: -2%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .key_visual .kv__wrapper {
    padding-top: calc(50vh + 67vw);
  }
  .key_visual .kv__logo {
    left: 10%;
    width: min(180px, 15vh);
  }
  .key_visual .kv__title {
    left: 5%;
    top: 15vh;
    width: 90%;
    height: auto;
    font-size: 3.5vw;
    text-align: center;
  }
  .key_visual .kv__title .t1 {
    font-size: 2.8em;
    line-height: 1.2;
  }
  .key_visual .kv__title .t1 span {
    display: block;
  }
  .key_visual .kv__title .t1 span:last-child {
    margin-left: 0;
    margin-top: 0.2em;
    margin-bottom: 0.25em;
  }
  .key_visual .kv__title .t2 {
    font-size: 1.8em;
    width: 100%;
  }
  .key_visual .kv__title .date {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 2em;
    font-size: 1.25em;
  }
  .key_visual .kv__main {
    top: inherit;
    bottom: 2vh;
    right: 20%;
    width: 60%;
    height: auto;
  }
  .g_main .sc_title {
    font-size: 1.875em;
  }
  .sc_intro {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sc_intro .parag {
    padding: 0 1rem;
  }
  .sc_intro .parag p {
    font-size: 1.125rem;
    text-align: left;
  }
  .sc_intro .pic {
    max-width: 100%;
  }
  .sc_part1 {
    padding-bottom: 0;
  }
  .sc_part1 .sc_title strong {
    display: block;
  }
  .sc_part1 .item {
    margin-bottom: 50px;
  }
  .sc_part1 .item:last-child {
    margin-bottom: 0;
  }
  .sc_part1 .item .pic {
    width: 80%;
    margin: 0 auto;
  }
  .sc_part1 .item .txt {
    margin-top: 25px;
    display: inline-block;
    max-width: 14em;
    font-size: 1.375em;
  }
  .sc_speaker .spk_item {
    max-width: 320px;
    margin: 0 auto 30px;
  }
  .sc_speaker .spk_item .photo {
    max-width: 280px;
    margin-bottom: 15px;
  }
  .sc_speaker .spk_item .text {
    padding-top: 0;
    font-size: 1.25em;
  }
  .sc_speaker .spk_item .name {
    font-size: 1.2em;
  }
  .sc_speaker .spk_item:first-child::before {
    top: -15px;
  }
  .sc_speaker .spk_item:last-child {
    margin-bottom: 0;
  }
  .sc_speaker .spk_item:last-child::before {
    top: 10px;
  }
  .sc_cta {
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(-15deg, #2ff0c4, #0b34d4, #7170b1);
  }
  .sc_cta .cta .bttn {
    display: block;
    margin: 0;
    font-size: 1.25em;
  }
  .sc_cta .cta .bttn .bttn_inwrap {
    width: 100%;
  }
  .sc_cta .cta .bttn:last-child {
    margin-top: 1.25em;
  }
  .sc_gift .pattern {
    position: absolute;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .sc_gift .pattern.p1 {
    left: -36px;
    bottom: -36px;
    width: 50%;
    height: 160px;
  }
  .sc_gift .pattern.p2 {
    right: -40px;
    top: -70px;
    width: 40%;
    height: 200px;
  }
  .gft_item {
    margin-bottom: 30px;
  }
  .gft_item .name {
    font-size: 1.2em;
  }
  .gft_item .name span {
    display: block;
  }
  .gft_item:last-child {
    margin-bottom: 0;
  }
  .g_footer .sc_company .pattern.p1,
  .g_footer .sc_logos .pattern.p1 {
    width: 38%;
    height: 118px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .g_footer .sc_company {
    background: linear-gradient(150deg, #0b34d4 33%, #0b34d4 67%, #7170b1);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
  }
  .g_footer .sc_company .pattern.p1 {
    bottom: -34px;
  }
  .g_footer .sc_company .container {
    padding-left: 0;
    padding-right: 0;
  }
  .g_footer .sc_company .parag_wrap {
    padding: 45px 30px 30px;
  }
  .g_footer .sc_company .parag_wrap::after {
    left: 6px;
    top: 6px;
    right: 6px;
  }
  .g_footer .sc_company .company_tit {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  .g_footer .sc_company .company_tit .nam {
    margin-left: 0;
    margin-top: 10px;
  }
  .g_footer .sc_logos .logos {
    display: block;
    padding: 60px 0;
  }
  .g_footer .sc_logos .logos .between {
    margin: 20px auto;
    width: 100%;
    height: 1px;
    background-color: transparent;
  }
  .modal-header {
    padding-left: 1.5rem;
  }
  .modal-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}