@charset "UTF-8";
@-webkit-keyframes scaleInBounce {
  0% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
  3.4% {
    -webkit-transform: matrix(1.068, 0, 0, 1.059, 0, 0);
            transform: matrix(1.068, 0, 0, 1.059, 0, 0);
  }
  4.7% {
    -webkit-transform: matrix(1.055, 0, 0, 1.04, 0, 0);
            transform: matrix(1.055, 0, 0, 1.04, 0, 0);
  }
  6.81% {
    -webkit-transform: matrix(1.034, 0, 0, 1.011, 0, 0);
            transform: matrix(1.034, 0, 0, 1.011, 0, 0);
  }
  9.41% {
    -webkit-transform: matrix(1.012, 0, 0, 0.983, 0, 0);
            transform: matrix(1.012, 0, 0, 0.983, 0, 0);
  }
  10.21% {
    -webkit-transform: matrix(1.006, 0, 0, 0.977, 0, 0);
            transform: matrix(1.006, 0, 0, 0.977, 0, 0);
  }
  13.61% {
    -webkit-transform: matrix(0.988, 0, 0, 0.967, 0, 0);
            transform: matrix(0.988, 0, 0, 0.967, 0, 0);
  }
  14.11% {
    -webkit-transform: matrix(0.986, 0, 0, 0.967, 0, 0);
            transform: matrix(0.986, 0, 0, 0.967, 0, 0);
  }
  17.52% {
    -webkit-transform: matrix(0.979, 0, 0, 0.976, 0, 0);
            transform: matrix(0.979, 0, 0, 0.976, 0, 0);
  }
  18.72% {
    -webkit-transform: matrix(0.979, 0, 0, 0.981, 0, 0);
            transform: matrix(0.979, 0, 0, 0.981, 0, 0);
  }
  21.32% {
    -webkit-transform: matrix(0.98, 0, 0, 0.993, 0, 0);
            transform: matrix(0.98, 0, 0, 0.993, 0, 0);
  }
  24.32% {
    -webkit-transform: matrix(0.985, 0, 0, 1.004, 0, 0);
            transform: matrix(0.985, 0, 0, 1.004, 0, 0);
  }
  25.23% {
    -webkit-transform: matrix(0.987, 0, 0, 1.006, 0, 0);
            transform: matrix(0.987, 0, 0, 1.006, 0, 0);
  }
  29.03% {
    -webkit-transform: matrix(0.994, 0, 0, 1.01, 0, 0);
            transform: matrix(0.994, 0, 0, 1.01, 0, 0);
  }
  29.93% {
    -webkit-transform: matrix(0.995, 0, 0, 1.01, 0, 0);
            transform: matrix(0.995, 0, 0, 1.01, 0, 0);
  }
  35.54% {
    -webkit-transform: matrix(1.002, 0, 0, 1.004, 0, 0);
            transform: matrix(1.002, 0, 0, 1.004, 0, 0);
  }
  36.74% {
    -webkit-transform: matrix(1.003, 0, 0, 1.002, 0, 0);
            transform: matrix(1.003, 0, 0, 1.002, 0, 0);
  }
  41.04% {
    -webkit-transform: matrix(1.004, 0, 0, 0.998, 0, 0);
            transform: matrix(1.004, 0, 0, 0.998, 0, 0);
  }
  44.44% {
    -webkit-transform: matrix(1.003, 0, 0, 0.997, 0, 0);
            transform: matrix(1.003, 0, 0, 0.997, 0, 0);
  }
  52.15% {
    -webkit-transform: matrix(1.001, 0, 0, 0.999, 0, 0);
            transform: matrix(1.001, 0, 0, 0.999, 0, 0);
  }
  59.86% {
    -webkit-transform: matrix(0.999, 0, 0, 1.001, 0, 0);
            transform: matrix(0.999, 0, 0, 1.001, 0, 0);
  }
  63.26% {
    -webkit-transform: matrix(0.999, 0, 0, 1.001, 0, 0);
            transform: matrix(0.999, 0, 0, 1.001, 0, 0);
  }
  75.28% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  85.49% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  90.69% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes scaleInBounce {
  0% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
  3.4% {
    -webkit-transform: matrix(1.068, 0, 0, 1.059, 0, 0);
            transform: matrix(1.068, 0, 0, 1.059, 0, 0);
  }
  4.7% {
    -webkit-transform: matrix(1.055, 0, 0, 1.04, 0, 0);
            transform: matrix(1.055, 0, 0, 1.04, 0, 0);
  }
  6.81% {
    -webkit-transform: matrix(1.034, 0, 0, 1.011, 0, 0);
            transform: matrix(1.034, 0, 0, 1.011, 0, 0);
  }
  9.41% {
    -webkit-transform: matrix(1.012, 0, 0, 0.983, 0, 0);
            transform: matrix(1.012, 0, 0, 0.983, 0, 0);
  }
  10.21% {
    -webkit-transform: matrix(1.006, 0, 0, 0.977, 0, 0);
            transform: matrix(1.006, 0, 0, 0.977, 0, 0);
  }
  13.61% {
    -webkit-transform: matrix(0.988, 0, 0, 0.967, 0, 0);
            transform: matrix(0.988, 0, 0, 0.967, 0, 0);
  }
  14.11% {
    -webkit-transform: matrix(0.986, 0, 0, 0.967, 0, 0);
            transform: matrix(0.986, 0, 0, 0.967, 0, 0);
  }
  17.52% {
    -webkit-transform: matrix(0.979, 0, 0, 0.976, 0, 0);
            transform: matrix(0.979, 0, 0, 0.976, 0, 0);
  }
  18.72% {
    -webkit-transform: matrix(0.979, 0, 0, 0.981, 0, 0);
            transform: matrix(0.979, 0, 0, 0.981, 0, 0);
  }
  21.32% {
    -webkit-transform: matrix(0.98, 0, 0, 0.993, 0, 0);
            transform: matrix(0.98, 0, 0, 0.993, 0, 0);
  }
  24.32% {
    -webkit-transform: matrix(0.985, 0, 0, 1.004, 0, 0);
            transform: matrix(0.985, 0, 0, 1.004, 0, 0);
  }
  25.23% {
    -webkit-transform: matrix(0.987, 0, 0, 1.006, 0, 0);
            transform: matrix(0.987, 0, 0, 1.006, 0, 0);
  }
  29.03% {
    -webkit-transform: matrix(0.994, 0, 0, 1.01, 0, 0);
            transform: matrix(0.994, 0, 0, 1.01, 0, 0);
  }
  29.93% {
    -webkit-transform: matrix(0.995, 0, 0, 1.01, 0, 0);
            transform: matrix(0.995, 0, 0, 1.01, 0, 0);
  }
  35.54% {
    -webkit-transform: matrix(1.002, 0, 0, 1.004, 0, 0);
            transform: matrix(1.002, 0, 0, 1.004, 0, 0);
  }
  36.74% {
    -webkit-transform: matrix(1.003, 0, 0, 1.002, 0, 0);
            transform: matrix(1.003, 0, 0, 1.002, 0, 0);
  }
  41.04% {
    -webkit-transform: matrix(1.004, 0, 0, 0.998, 0, 0);
            transform: matrix(1.004, 0, 0, 0.998, 0, 0);
  }
  44.44% {
    -webkit-transform: matrix(1.003, 0, 0, 0.997, 0, 0);
            transform: matrix(1.003, 0, 0, 0.997, 0, 0);
  }
  52.15% {
    -webkit-transform: matrix(1.001, 0, 0, 0.999, 0, 0);
            transform: matrix(1.001, 0, 0, 0.999, 0, 0);
  }
  59.86% {
    -webkit-transform: matrix(0.999, 0, 0, 1.001, 0, 0);
            transform: matrix(0.999, 0, 0, 1.001, 0, 0);
  }
  63.26% {
    -webkit-transform: matrix(0.999, 0, 0, 1.001, 0, 0);
            transform: matrix(0.999, 0, 0, 1.001, 0, 0);
  }
  75.28% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  85.49% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  90.69% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@-webkit-keyframes scaleOutBounce {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  3.4% {
    -webkit-transform: matrix(1.032, 0, 0, 1.041, 0, 0);
            transform: matrix(1.032, 0, 0, 1.041, 0, 0);
  }
  4.7% {
    -webkit-transform: matrix(1.045, 0, 0, 1.06, 0, 0);
            transform: matrix(1.045, 0, 0, 1.06, 0, 0);
  }
  6.81% {
    -webkit-transform: matrix(1.066, 0, 0, 1.089, 0, 0);
            transform: matrix(1.066, 0, 0, 1.089, 0, 0);
  }
  9.41% {
    -webkit-transform: matrix(1.088, 0, 0, 1.117, 0, 0);
            transform: matrix(1.088, 0, 0, 1.117, 0, 0);
  }
  10.21% {
    -webkit-transform: matrix(1.094, 0, 0, 1.123, 0, 0);
            transform: matrix(1.094, 0, 0, 1.123, 0, 0);
  }
  13.61% {
    -webkit-transform: matrix(1.112, 0, 0, 1.133, 0, 0);
            transform: matrix(1.112, 0, 0, 1.133, 0, 0);
  }
  14.11% {
    -webkit-transform: matrix(1.114, 0, 0, 1.133, 0, 0);
            transform: matrix(1.114, 0, 0, 1.133, 0, 0);
  }
  17.52% {
    -webkit-transform: matrix(1.121, 0, 0, 1.124, 0, 0);
            transform: matrix(1.121, 0, 0, 1.124, 0, 0);
  }
  18.72% {
    -webkit-transform: matrix(1.121, 0, 0, 1.119, 0, 0);
            transform: matrix(1.121, 0, 0, 1.119, 0, 0);
  }
  21.32% {
    -webkit-transform: matrix(1.12, 0, 0, 1.107, 0, 0);
            transform: matrix(1.12, 0, 0, 1.107, 0, 0);
  }
  24.32% {
    -webkit-transform: matrix(1.115, 0, 0, 1.096, 0, 0);
            transform: matrix(1.115, 0, 0, 1.096, 0, 0);
  }
  25.23% {
    -webkit-transform: matrix(1.113, 0, 0, 1.094, 0, 0);
            transform: matrix(1.113, 0, 0, 1.094, 0, 0);
  }
  29.03% {
    -webkit-transform: matrix(1.106, 0, 0, 1.09, 0, 0);
            transform: matrix(1.106, 0, 0, 1.09, 0, 0);
  }
  29.93% {
    -webkit-transform: matrix(1.105, 0, 0, 1.09, 0, 0);
            transform: matrix(1.105, 0, 0, 1.09, 0, 0);
  }
  35.54% {
    -webkit-transform: matrix(1.098, 0, 0, 1.096, 0, 0);
            transform: matrix(1.098, 0, 0, 1.096, 0, 0);
  }
  36.74% {
    -webkit-transform: matrix(1.097, 0, 0, 1.098, 0, 0);
            transform: matrix(1.097, 0, 0, 1.098, 0, 0);
  }
  41.04% {
    -webkit-transform: matrix(1.096, 0, 0, 1.102, 0, 0);
            transform: matrix(1.096, 0, 0, 1.102, 0, 0);
  }
  44.44% {
    -webkit-transform: matrix(1.097, 0, 0, 1.103, 0, 0);
            transform: matrix(1.097, 0, 0, 1.103, 0, 0);
  }
  52.15% {
    -webkit-transform: matrix(1.099, 0, 0, 1.101, 0, 0);
            transform: matrix(1.099, 0, 0, 1.101, 0, 0);
  }
  59.86% {
    -webkit-transform: matrix(1.101, 0, 0, 1.099, 0, 0);
            transform: matrix(1.101, 0, 0, 1.099, 0, 0);
  }
  63.26% {
    -webkit-transform: matrix(1.101, 0, 0, 1.099, 0, 0);
            transform: matrix(1.101, 0, 0, 1.099, 0, 0);
  }
  75.28% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
  85.49% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
  90.69% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
  100% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
}
@keyframes scaleOutBounce {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
  }
  3.4% {
    -webkit-transform: matrix(1.032, 0, 0, 1.041, 0, 0);
            transform: matrix(1.032, 0, 0, 1.041, 0, 0);
  }
  4.7% {
    -webkit-transform: matrix(1.045, 0, 0, 1.06, 0, 0);
            transform: matrix(1.045, 0, 0, 1.06, 0, 0);
  }
  6.81% {
    -webkit-transform: matrix(1.066, 0, 0, 1.089, 0, 0);
            transform: matrix(1.066, 0, 0, 1.089, 0, 0);
  }
  9.41% {
    -webkit-transform: matrix(1.088, 0, 0, 1.117, 0, 0);
            transform: matrix(1.088, 0, 0, 1.117, 0, 0);
  }
  10.21% {
    -webkit-transform: matrix(1.094, 0, 0, 1.123, 0, 0);
            transform: matrix(1.094, 0, 0, 1.123, 0, 0);
  }
  13.61% {
    -webkit-transform: matrix(1.112, 0, 0, 1.133, 0, 0);
            transform: matrix(1.112, 0, 0, 1.133, 0, 0);
  }
  14.11% {
    -webkit-transform: matrix(1.114, 0, 0, 1.133, 0, 0);
            transform: matrix(1.114, 0, 0, 1.133, 0, 0);
  }
  17.52% {
    -webkit-transform: matrix(1.121, 0, 0, 1.124, 0, 0);
            transform: matrix(1.121, 0, 0, 1.124, 0, 0);
  }
  18.72% {
    -webkit-transform: matrix(1.121, 0, 0, 1.119, 0, 0);
            transform: matrix(1.121, 0, 0, 1.119, 0, 0);
  }
  21.32% {
    -webkit-transform: matrix(1.12, 0, 0, 1.107, 0, 0);
            transform: matrix(1.12, 0, 0, 1.107, 0, 0);
  }
  24.32% {
    -webkit-transform: matrix(1.115, 0, 0, 1.096, 0, 0);
            transform: matrix(1.115, 0, 0, 1.096, 0, 0);
  }
  25.23% {
    -webkit-transform: matrix(1.113, 0, 0, 1.094, 0, 0);
            transform: matrix(1.113, 0, 0, 1.094, 0, 0);
  }
  29.03% {
    -webkit-transform: matrix(1.106, 0, 0, 1.09, 0, 0);
            transform: matrix(1.106, 0, 0, 1.09, 0, 0);
  }
  29.93% {
    -webkit-transform: matrix(1.105, 0, 0, 1.09, 0, 0);
            transform: matrix(1.105, 0, 0, 1.09, 0, 0);
  }
  35.54% {
    -webkit-transform: matrix(1.098, 0, 0, 1.096, 0, 0);
            transform: matrix(1.098, 0, 0, 1.096, 0, 0);
  }
  36.74% {
    -webkit-transform: matrix(1.097, 0, 0, 1.098, 0, 0);
            transform: matrix(1.097, 0, 0, 1.098, 0, 0);
  }
  41.04% {
    -webkit-transform: matrix(1.096, 0, 0, 1.102, 0, 0);
            transform: matrix(1.096, 0, 0, 1.102, 0, 0);
  }
  44.44% {
    -webkit-transform: matrix(1.097, 0, 0, 1.103, 0, 0);
            transform: matrix(1.097, 0, 0, 1.103, 0, 0);
  }
  52.15% {
    -webkit-transform: matrix(1.099, 0, 0, 1.101, 0, 0);
            transform: matrix(1.099, 0, 0, 1.101, 0, 0);
  }
  59.86% {
    -webkit-transform: matrix(1.101, 0, 0, 1.099, 0, 0);
            transform: matrix(1.101, 0, 0, 1.099, 0, 0);
  }
  63.26% {
    -webkit-transform: matrix(1.101, 0, 0, 1.099, 0, 0);
            transform: matrix(1.101, 0, 0, 1.099, 0, 0);
  }
  75.28% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
  85.49% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
  90.69% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
  100% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
}
@-webkit-keyframes floatingY {
  0% {
    -webkit-transform: translate3d(0, 2.5%, 0);
            transform: translate3d(0, 2.5%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -2.5%, 0);
            transform: translate3d(0, -2.5%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 2.5%, 0);
            transform: translate3d(0, 2.5%, 0);
  }
}
@keyframes floatingY {
  0% {
    -webkit-transform: translate3d(0, 2.5%, 0);
            transform: translate3d(0, 2.5%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -2.5%, 0);
            transform: translate3d(0, -2.5%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 2.5%, 0);
            transform: translate3d(0, 2.5%, 0);
  }
}
@-webkit-keyframes floatingX {
  0% {
    -webkit-transform: translate3d(2.5%, 0, 0);
            transform: translate3d(2.5%, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-2.5%, 0, 0);
            transform: translate3d(-2.5%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(2.5%, 0, 0);
            transform: translate3d(2.5%, 0, 0);
  }
}
@keyframes floatingX {
  0% {
    -webkit-transform: translate3d(2.5%, 0, 0);
            transform: translate3d(2.5%, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-2.5%, 0, 0);
            transform: translate3d(-2.5%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(2.5%, 0, 0);
            transform: translate3d(2.5%, 0, 0);
  }
}
@-webkit-keyframes marquee01 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1800px, 0, 0);
            transform: translate3d(-1800px, 0, 0);
  }
}
@keyframes marquee01 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1800px, 0, 0);
            transform: translate3d(-1800px, 0, 0);
  }
}
@-webkit-keyframes marquee02 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1300px, 0, 0);
            transform: translate3d(-1300px, 0, 0);
  }
}
@keyframes marquee02 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-1300px, 0, 0);
            transform: translate3d(-1300px, 0, 0);
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  10% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  20% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
            transform: rotate3d(0, 0, 1, -15deg);
  }
  30% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  10% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  20% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
            transform: rotate3d(0, 0, 1, -15deg);
  }
  30% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  5% {
    -webkit-transform: translate3d(-6px, 0, 0);
            transform: translate3d(-6px, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(6px, 0, 0);
            transform: translate3d(6px, 0, 0);
  }
  15% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  5% {
    -webkit-transform: translate3d(-6px, 0, 0);
            transform: translate3d(-6px, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(6px, 0, 0);
            transform: translate3d(6px, 0, 0);
  }
  15% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes backgroundVol02 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 240px 10%;
  }
  100% {
    background-position: 480px 0;
  }
}
@keyframes backgroundVol02 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 240px 10%;
  }
  100% {
    background-position: 480px 0;
  }
}
@-webkit-keyframes floatS {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
}
@keyframes floatS {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
}
@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@-webkit-keyframes floatShadow {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes floatShadow {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*--------------------------------------------*/
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", "Noto Sans TC", sans-serif;
  background: #014550 url("img/allbg.png") center/cover fixed;
}

a {
  color: inherit;
}

.g_header {
  -webkit-transition: background 400ms;
  transition: background 400ms;
  background: linear-gradient(135deg, #8be01a, #005f4b 33%, #014550);
}
.g_header .header_menu {
  position: relative;
}
.g_header .nav_area {
  position: relative;
  z-index: 3;
}
.g_header .nav_item {
  font-size: 1.125em;
}
.g_header .nav-link {
  color: #93ee21;
}
.g_header .nav-link:hover {
  color: #fcee21;
}
.g_header .navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  line-height: 28px;
}
.g_header.is_active {
  background-color: #003a3f;
}

.theme_lines {
  position: relative;
  width: 100%;
  height: 1em;
  font-size: 12px;
}
.theme_lines span {
  position: absolute;
  top: 0;
  border-radius: 0.5em;
  height: 1em;
}
.theme_lines .l1 {
  left: 0;
  z-index: 2;
  width: calc(76% + 1em);
  margin-left: -0.5em;
  background-color: #00aa83;
  background-image: -webkit-gradient(linear, left top, right top, from(#00b492), color-stop(#00b336), to(#fcee21));
  background-image: linear-gradient(90deg, #00b492, #00b336, #fcee21);
}
.theme_lines .l2 {
  left: 76%;
  z-index: 1;
  width: calc(14% + 1em);
  margin-left: -0.5em;
  background-color: #93ea20;
}
.theme_lines .l3 {
  left: 90%;
  z-index: 2;
  width: calc(10% + 1em);
  margin-left: -0.5em;
  background-color: #008686;
}

.all_wrap {
  overflow: hidden;
}

.ly_sty {
  padding-top: 40px;
  padding-bottom: 40px;
}

.patten {
  position: absolute;
  z-index: 1;
  background: radial-gradient(circle, #0b4d87 3.5px, transparent 3.5px) 0 0/24px 24px repeat;
}

.sc_title {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
}
.sc_title .tit {
  color: #0b4d87;
  display: inline-block;
  line-height: 1;
}
.sc_title .tit .zh {
  padding: 0 1em;
  font-size: 2em;
  font-weight: 700;
}
.sc_title .tit .sup {
  margin-top: 1em;
  font-size: 1.25em;
  line-height: 1.3;
}
.sc_title .theme_lines {
  margin: 3em auto 0;
  max-width: 360px;
  width: 80%;
  font-size: 6px;
}

.kv_wrap {
  margin-top: 60px;
  background-color: #fff;
}
.kv_wrap .d_kv {
  position: relative;
}
.kv_wrap .d_kv .bg {
  height: 51.25vw;
  overflow: hidden;
}
.kv_wrap .d_kv .logo {
  position: absolute;
  top: 0;
  right: 10%;
  width: 13.0208333333%;
}
.kv_wrap .d_kv .tit {
  position: absolute;
  top: 34.2592592593%;
  left: 10.6770833333%;
  width: 49.5833333333%;
}
.kv_wrap .d_kv .graphic {
  position: absolute;
  top: 31.4814814815%;
  left: 46.09375%;
  width: 51.5625%;
}
.kv_wrap img {
  width: 100%;
  max-width: none;
}

.sc_active {
  position: relative;
  z-index: 2;
}
.sc_active .sc_title .tit {
  letter-spacing: -0.02em;
}

.section_block {
  padding: 40px 30px 50px;
}

.white_bk {
  background-color: #fff;
}
.white_bk .sc_title .tit .sup {
  opacity: 0.8;
  font-weight: 300;
}

.light_bk {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8be01a), to(#fff));
  background-image: linear-gradient(0deg, #8be01a, #fff);
}
.light_bk .sc_title .sup {
  opacity: 0.8;
  font-weight: 300;
}

.deep_bk {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 95, 75, 0.9)), to(rgba(1, 69, 80, 0.6)));
  background-image: linear-gradient(180deg, rgba(0, 95, 75, 0.9), rgba(1, 69, 80, 0.6));
}
.deep_bk .sc_title .tit {
  color: #fff;
}
.deep_bk .sc_title .sup {
  opacity: 0.8;
  font-weight: 300;
}

.sec1_bk {
  padding: 40px 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8be01a), color-stop(10%, #fff));
  background-image: linear-gradient(0deg, #8be01a, #fff 10%);
}

.intro_cnt {
  overflow: hidden;
}
.intro_cnt .text {
  padding: 0 2rem;
  font-size: 1.25rem;
  line-height: 1.8;
}
.intro_cnt .strong {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  color: #0b4d87;
}

.sec2_bk {
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.8), rgba(131, 224, 48, 0.5), rgba(42, 218, 190, 0.8) 50%, #2adabe 75%, #fff);
}

.modern_cnt .items {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.modern_cnt .item {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.modern_cnt .item .tit {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 1.5rem;
  line-height: 1;
  color: #0b4d87;
  font-weight: 700;
}
.modern_cnt .item .sub {
  color: #005f4b;
  font-weight: 500;
}

.protect_cnt .tit_block {
  border-radius: 10px;
  background-color: #bbf4e1;
  padding: 1em;
  font-size: 1.4em;
  line-height: 1;
  text-align: center;
}
.protect_cnt .tit_block .tit {
  font-size: 1.5em;
  color: #003738;
  font-weight: 900;
  letter-spacing: -0.05em;
}
.protect_cnt .tit_block .sup {
  margin-top: 0.33em;
  color: #00b492;
}
.protect_cnt .items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.protect_cnt .item {
  padding: 25px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.protect_cnt .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7em;
          flex: 0 0 7em;
  padding-right: 10px;
  text-align: center;
}
.protect_cnt .icon .tit {
  margin-top: 10px;
  font-size: 1.5em;
  color: #00b492;
  line-height: 1.2;
}
.protect_cnt .list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10em;
          flex: 0 0 10em;
}
.protect_cnt .list .li {
  margin-bottom: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.protect_cnt .list .li:last-child {
  margin-bottom: 0;
}
.protect_cnt .list .min_ic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3em;
          flex: 0 0 3em;
  text-align: center;
}
.protect_cnt .list .min_tx {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding-left: 6px;
  line-height: 1;
  color: #454545;
}
.protect_cnt .item:nth-child(2n) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(227, 248, 198, 0.2)), to(rgba(227, 248, 198, 0)));
  background: linear-gradient(180deg, rgba(227, 248, 198, 0.2), rgba(227, 248, 198, 0));
}
.protect_cnt .item:nth-child(2) .list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11em;
          flex: 0 0 11em;
}
.protect_cnt .item:nth-child(3) .list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15em;
          flex: 0 0 15em;
}
.protect_cnt .item:nth-child(3) .list .min_ic {
  -ms-flex-preferred-size: 4em;
      flex-basis: 4em;
}

.data_cnt {
  padding: 2em 0;
}
.data_cnt .items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.data_cnt .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 25px 20px;
  text-align: center;
  font-size: 1.75em;
}
.data_cnt .item .clr {
  color: #2adabe;
  font-weight: 700;
}
.data_cnt .item .num {
  font-size: 4em;
  font-weight: 900;
  line-height: 1;
}
.data_cnt .item .tit {
  margin-top: 0.5em;
  color: #fff;
  line-height: 1.3;
}

.partner_cnt .items {
  margin: 0 auto;
  max-width: 900px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partner_cnt .item {
  padding: 15px 20px;
  text-align: center;
}

.section_gift_block {
  background-color: #f8f8f9;
  padding: 60px 2vw;
}

.sc_form .parag,
.sc_form .point_list {
  max-width: 900px;
  margin: 0 auto;
}
.sc_form .parag {
  font-size: 1.25em;
  text-align: center;
}
.sc_form .parag strong {
  color: #005f4b;
  line-height: 1.8;
}
.sc_form .point_list {
  position: relative;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 1.5em;
}
.sc_form .point_list::before, .sc_form .point_list::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 24px;
  width: 30px;
  height: calc(100% - 64px);
  border: 2px solid #00b492;
}
.sc_form .point_list::before {
  left: 15px;
  border-right-width: 0;
}
.sc_form .point_list::after {
  right: 10px;
  border-left-width: 0;
}
.sc_form .point_list .tit,
.sc_form .point_list .item,
.sc_form .point_list .cta {
  position: relative;
  z-index: 2;
}
.sc_form .point_list .tit {
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 700;
  color: #00b492;
  text-align: center;
}
.sc_form .point_list .item {
  border-radius: 22px;
  margin-top: 0.5em;
  padding: 2px;
  background: linear-gradient(60deg, #005f4b, #00b492, #93ee21);
  font-size: 1.125em;
  line-height: 1.1;
}
.sc_form .point_list .item .txt {
  border-radius: 20px;
  padding: 0.75em 2em;
  min-width: 60%;
  background-color: #fff;
  font-weight: 700;
  color: #454545;
}
.sc_form .point_list .item:nth-child(3) {
  background: linear-gradient(-60deg, #005f4b, #00b492, #93ee21);
}
.sc_form .main_button {
  position: relative;
  display: inline-block;
  margin-top: 1em;
  padding: 0.75em 2em;
  background: linear-gradient(132deg, #00b492, #005f4b, #003a3f);
  color: #fff;
  font-size: 2em;
  line-height: 1.1;
  border-radius: 1.5em;
  font-weight: 500;
  cursor: pointer;
  -webkit-animation: scaleInBounce 1000ms linear both;
          animation: scaleInBounce 1000ms linear both;
}
.sc_form .main_button .text {
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.29);
}
.sc_form .main_button .theme_lines {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  font-size: 8px;
  margin-top: 22px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 300ms;
  transition: width 300ms;
}
.sc_form .main_button:hover {
  -webkit-animation: scaleOutBounce 1000ms linear both;
          animation: scaleOutBounce 1000ms linear both;
}

.modal .modal-body {
  padding: 30px;
}
.modal .form_tit {
  text-align: center;
  margin-bottom: 20px;
}
.modal .form_tit .h2 span {
  font-weight: 700;
  color: #005f4b;
}
.modal .form_tit .tip {
  margin-top: 6px;
  color: red;
}
.modal .main_button {
  position: relative;
  display: inline-block;
  margin-top: 1em;
  padding: 0.75em 2em;
  background: linear-gradient(132deg, #00b492, #005f4b, #003a3f);
  color: #fff;
  font-size: 2em;
  line-height: 1.1;
  border-radius: 1.5em;
  font-weight: 500;
  cursor: pointer;
  -webkit-animation: scaleInBounce 1000ms linear both;
          animation: scaleInBounce 1000ms linear both;
}
.modal .main_button .text {
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.29);
}
.modal .main_button .theme_lines {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  font-size: 8px;
  margin-top: 22px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 300ms;
  transition: width 300ms;
}
.modal .main_button:hover {
  -webkit-animation: scaleOutBounce 1000ms linear both;
          animation: scaleOutBounce 1000ms linear both;
}

.sc_gifts {
  padding-top: 40px;
}
.sc_gifts .sc_title {
  margin-top: 1em;
}
.sc_gifts .sc_title .theme_lines {
  margin-bottom: 0;
}
.sc_gifts .gift_tit {
  font-size: 1.25em;
  text-align: center;
}
.sc_gifts .gift_tit span {
  display: block;
  color: #343434;
}
.sc_gifts .gift_tit .main {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  padding: 0.75rem 2rem;
  background: linear-gradient(-132deg, #00b492, #005f4b, #003a3f);
}
.sc_gifts .text {
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.2;
}
.sc_gifts .text .sub {
  position: relative;
  top: -3px;
  border: 1px solid currentColor;
  border-radius: 6px;
  margin-left: 0.5rem;
  padding: 3px 8px;
  font-size: 0.875rem;
  color: #00b336;
}
.sc_gifts .gift_name {
  margin-top: 0.5rem;
  font-size: 1.75em;
  line-height: 1.3;
  text-align: center;
}
.sc_gifts .gift_name .brand {
  display: block;
  color: #00b492;
  font-weight: 700;
}
.sc_gifts .gift_name .name {
  margin-left: 0.2em;
  color: #005f4b;
  font-weight: 700;
}
.sc_gifts .gift_name .tip {
  margin-top: 6px;
  font-size: 1rem;
  color: #00b336;
}
.sc_gifts .img {
  position: relative;
  max-width: 400px;
  margin: 20px auto 0;
}
.sc_gifts .img img {
  position: relative;
  z-index: 2;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.sc_gifts .img::before {
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-132deg, #00b492, #005f4b, #003a3f);
}

.main_content {
  position: relative;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
}

.sc_infomation {
  padding: 50px;
  background-color: #005f4b;
}
.sc_infomation .sc_title {
  margin-top: 0;
  margin-bottom: 20px;
}
.sc_infomation .sc_title .tit {
  text-shadow: 2px 2px 0 #fff;
  line-height: 1;
}
.sc_infomation .sc_title .sup_link {
  position: absolute;
  right: 0;
  bottom: 5px;
  padding-right: 20px;
  color: #00AC34;
}
.sc_infomation .sc_title .sup_link::after {
  content: "";
  position: absolute;
  right: 5px;
  bottom: 3px;
  width: 16px;
  height: 16px;
  border: 2px solid #00AC34;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.sc_infomation .sc_title .sup_link:hover a {
  color: #003a3f;
}
.sc_infomation .sc_title .sup_link:hover::after {
  border-color: #003a3f;
}
.sc_infomation .info_block {
  position: relative;
  padding: 40px 25px 48px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.sc_infomation .info_block .theme_lines {
  position: absolute;
  left: 0;
  bottom: 0;
}
.sc_infomation .info_block .item {
  display: block;
}
.sc_infomation .info_block .item .name {
  margin-top: 8px;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.2;
  text-decoration: underline;
}
.sc_infomation .info_block .item:hover {
  color: #005f4b;
}

.g_case,
.g_whitebk,
.g_hotvd {
  margin: 0 auto;
  max-width: 1600px;
}

.g_case {
  padding-bottom: 20px;
}
.g_case .sc_title .tit {
  color: #93ee21;
  text-shadow: none;
  line-height: 1;
}
.g_case .sc_title .sup_link {
  color: #fff;
}
.g_case .sc_title .sup_link::after {
  border-color: #fff;
}
.g_case .sc_title .sup_link:hover a {
  color: #fcee21;
}
.g_case .sc_title .sup_link:hover::after {
  border-color: #fcee21;
}
.g_case .item {
  position: relative;
}
.g_case .item:hover .img::after {
  opacity: 0.5;
}
.g_case .item:hover .img img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.g_case .img {
  position: relative;
  overflow: hidden;
}
.g_case .img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #003a3f;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
.g_case .img img {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.g_case .text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 3em 1em 1em;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: #fff;
  font-size: 1.25em;
  line-height: 1.2;
}

.wbk_items .item {
  border-radius: 10px;
  padding: 20px;
  padding-left: 100px;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}
.wbk_items .item::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  width: 64px;
  height: 64px;
  background: center/contain no-repeat;
  background-image: url("img/ic_whb.svg");
}
.wbk_items .item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.wbk_bn_items .items_wrap,
.wbk_bn_items .item {
  outline: none;
}
.wbk_bn_items .items_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wbk_bn_items .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  cursor: pointer;
  padding: 0 1px;
  text-align: center;
  text-decoration: none;
}
.wbk_bn_items .item .img {
  padding-top: 50%;
  background: center/cover no-repeat;
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 1;
}
.wbk_bn_items .item:hover .img {
  opacity: 0.7;
}

.g_hotvd {
  margin-top: 15px;
}
.g_hotvd .col_wrap {
  padding: 0 10px;
}

.hvd_items {
  margin-bottom: 15px;
}
.hvd_items .item {
  margin: 0 auto;
  position: relative;
  display: block;
  line-height: 1.4;
  -webkit-transition-property: background, color, border;
  transition-property: background, color, border;
}
.hvd_items .item .img {
  overflow: hidden;
  background-color: #000;
}
.hvd_items .item img {
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}
.hvd_items .item .info {
  margin-top: 0.5em;
  line-height: 1.4;
}
.hvd_items .item .info ul {
  padding-left: 1.5em;
  margin: 10px 0;
}
.hvd_items .item .info ul li {
  margin: 3px 0;
}
.hvd_items .item:hover img {
  -webkit-transform: scale(0.96, 0.93);
          transform: scale(0.96, 0.93);
}

.demo_items .col_wrap:nth-child(2n) .item {
  background-color: rgba(0, 95, 75, 0.7);
}
.demo_items .col_wrap:nth-child(2n) .item::after {
  border-left-color: #fcee21;
}
.demo_items .item {
  position: relative;
  display: block;
  padding: 1em 1.5em;
  background-color: rgba(0, 95, 75, 0.9);
  height: 100%;
  overflow: hidden;
}
.demo_items .item .title {
  position: relative;
  font-size: 1.125em;
  line-height: 1.2;
  color: #fff;
  min-height: 42px;
  left: 0;
  -webkit-transition: left 300ms;
  transition: left 300ms;
}
.demo_items .item::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  border-left: 10px solid #e3f8c6;
  height: 100%;
  -webkit-transition: left 300ms;
  transition: left 300ms;
}
.demo_items .item:hover {
  text-decoration: none;
}
.demo_items .item:hover::after {
  left: 0;
}
.demo_items .item:hover .title {
  left: 6px;
}

.sc_event .col_wrap {
  padding: 10px;
}
.sc_event .evt_item {
  position: relative;
  display: block;
  border-radius: 4px;
  border: 1px solid #e3f8c6;
  padding: 1rem;
  height: 100%;
  background-color: rgba(227, 248, 198, 0);
  font-size: 0;
  -webkit-transition: background 100ms;
  transition: background 100ms;
}
.sc_event .evt_item.un_open {
  border-color: #bbb;
  background-color: #f8f8f8;
}
.sc_event .evt_item.un_open .text_block {
  width: calc(100% - 3.6em);
}
.sc_event .evt_item.un_open::before {
  content: "敬請期待";
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 4px 0 2px 0;
  width: 2.75rem;
  padding: 0.5rem;
  background-color: #bbb;
  font-size: 0.875rem;
  line-height: 1.1;
  text-align: center;
  color: #fff;
}
.sc_event .evt_item.un_open::after {
  content: "";
  background-image: none;
}
.sc_event .evt_item.un_open:hover {
  background-color: #f8f8f8;
}
.sc_event .evt_item .date_block,
.sc_event .evt_item .text_block, .sc_event .evt_item::after {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
}
.sc_event .evt_item .date_block {
  padding: 4px 4px 8px;
  width: 2.25em;
  background-color: #005f4b;
  line-height: 1;
  text-align: center;
}
.sc_event .evt_item .date_block .day {
  color: #fcee21;
  font-weight: 700;
  font-size: 1.25em;
}
.sc_event .evt_item .date_block .mon {
  color: #fff;
  font-size: 0.75em;
}
.sc_event .evt_item .text_block {
  position: relative;
  width: calc(100% - 4.5em);
  padding-left: 14px;
  padding-right: 10px;
  line-height: 1.2;
}
.sc_event .evt_item .text_block .tit {
  font-size: 0.875em;
}
.sc_event .evt_item .text_block .stit {
  margin-top: 6px;
  color: #005f4b;
  font-size: 1.125em;
  font-weight: 700;
}
.sc_event .evt_item::after {
  content: "";
  width: 2em;
  height: 100%;
  background: url("img/right.svg") center no-repeat;
  opacity: 0.1;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}
.sc_event .evt_item:hover {
  background-color: rgba(227, 248, 198, 0.5);
  color: inherit;
}
.sc_event .evt_item:hover::after {
  opacity: 1;
}

.row_others .item {
  display: block;
  border-radius: 8px;
  margin: 10px 0;
  padding: 0.75rem 1.5rem;
  font-size: 1.125em;
  line-height: 1.25;
  border: 2px solid #000;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.row_others .item .item_in {
  position: relative;
  height: 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.row_others .news_wrap,
.row_others .article_wrap,
.row_others .blog_wrap {
  padding: 0 15px;
}
.row_others .news_wrap .item {
  border-color: #005f4b;
  background-color: rgba(0, 95, 75, 0.1);
  color: #005f4b;
}
.row_others .news_wrap .item:hover {
  background-color: #005f4b;
  color: #fff;
  text-decoration: none;
}
.row_others .article_wrap .item {
  border-color: #00b492;
  background-color: rgba(0, 180, 146, 0.1);
  color: #00b492;
}
.row_others .article_wrap .item:hover {
  background-color: #00b492;
  color: #fff;
  text-decoration: none;
}
.row_others .blog_wrap .item {
  border-color: #00b336;
  background-color: rgba(0, 179, 54, 0.1);
  color: #00b336;
}
.row_others .blog_wrap .item:hover {
  background-color: #00b336;
  color: #fff;
  text-decoration: none;
}

.sc_company {
  padding-bottom: 80px;
}
.sc_company .container {
  position: relative;
  padding-left: 7%;
  padding-right: 7%;
}
.sc_company .parag_wrap {
  position: relative;
  border-radius: 20px;
  border: 1px solid #003a3f;
  padding: 45px 60px;
}
.sc_company .parag_wrap::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  right: 8px;
  bottom: -8px;
  z-index: 1;
  border-radius: 16px;
  border: 1px solid #e3f8c6;
}
.sc_company .parag_wrap .parag {
  position: relative;
  z-index: 2;
}
.sc_company .parag_wrap .parag a {
  color: #005f4b;
  text-decoration: underline;
}
.sc_company .parag_wrap .parag a:hover {
  color: #e3f8c6;
}
.sc_company .company_tit {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 3;
  padding: 0 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}
.sc_company .company_tit .ti,
.sc_company .company_tit .nam {
  display: inline-block;
}
.sc_company .company_tit .ti {
  border-radius: 20px;
  padding: 4px 12px;
  border: 1px solid #003a3f;
  color: #003a3f;
}
.sc_company .company_tit .nam {
  margin-left: 6px;
  width: 200px;
}

.line_wrap {
  position: relative;
  z-index: 2;
  padding: 30px 0;
  background-color: #00b336;
}
.line_wrap .logo,
.line_wrap .text {
  display: inline-block;
  vertical-align: middle;
}
.line_wrap .logo img {
  height: 40px;
}
.line_wrap .text {
  margin-left: 1rem;
  font-size: 2em;
  line-height: 1.1;
  color: #fcee21;
  font-weight: 700;
}
.line_wrap .text div {
  padding: 0 6px;
  text-shadow: 0 1px 3px black;
}
.line_wrap .theme_lines {
  margin-top: 6px;
  font-size: 10px;
}
.line_wrap .qr_wrap {
  position: relative;
  width: 100px;
  margin-left: 10px;
}
.line_wrap .qr {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
}

@media (max-width: 1400px) {
  .sc_event .col_wrap:first-child .evt_item .text_block .stit {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .g_whitebk .wbk_items .item_wrap,
.g_whitebk .wbk_bn_items .item_wrap {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 70px;
  }
  .g_whitebk .wbk_items .item_wrap .arw,
.g_whitebk .wbk_bn_items .item_wrap .arw {
    position: absolute;
    z-index: 10;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-top: 2px solid #00AC34;
    border-left: 2px solid #00AC34;
    cursor: pointer;
    opacity: 0.4;
  }
  .g_whitebk .wbk_items .item_wrap .arw.arw_left,
.g_whitebk .wbk_bn_items .item_wrap .arw.arw_left {
    left: 25px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .g_whitebk .wbk_items .item_wrap .arw.arw_right,
.g_whitebk .wbk_bn_items .item_wrap .arw.arw_right {
    right: 25px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .g_whitebk .wbk_items .item_wrap .arw:hover,
.g_whitebk .wbk_bn_items .item_wrap .arw:hover {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .navbar-nav {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .navbar-toggler {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .navbar-toggler-icon {
    background-image: url("img/menu.svg");
  }

  .sc_title .tit .zh {
    padding: 0;
    line-height: 1.2;
    font-size: 1.5rem;
  }
  .sc_title .tit .sup {
    margin-top: 0.5rem;
    font-size: 1.125rem;
  }

  .section_block {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
  }

  .intro_cnt {
    max-width: 100%;
  }
  .intro_cnt .text {
    padding: 0;
    font-size: 18px;
  }

  .protect_cnt {
    margin: 0 -15px;
  }
  .protect_cnt .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 15px;
  }
  .protect_cnt .icon {
    -ms-flex-preferred-size: 5em;
        flex-basis: 5em;
  }
  .protect_cnt .icon .tit {
    font-size: 1.25em;
  }
  .protect_cnt .list .min_ic {
    -ms-flex-preferred-size: 4em;
        flex-basis: 4em;
  }

  .data_cnt {
    padding: 1em 0;
  }
  .data_cnt .item {
    padding-bottom: 30px;
  }
  .data_cnt .item .num {
    font-size: 3em;
  }

  .partner_cnt .item {
    padding: 15px 0;
  }

  .sc_form strong {
    display: block;
  }
  .sc_form .point_list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sc_form .point_list::before, .sc_form .point_list::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 24px;
    width: 20px;
    height: calc(100% - 64px);
    border: 2px solid #00b492;
  }
  .sc_form .point_list::before {
    left: -10px;
    border-right-width: 0;
  }
  .sc_form .point_list::after {
    right: -10px;
    border-left-width: 0;
  }
  .sc_form .point_list .tit {
    font-size: 1.5em;
    line-height: 1.2;
  }
  .sc_form .point_list .item .txt {
    padding: 0.75em 1em;
  }
  .sc_form .main_button {
    font-size: 1.5em;
  }
  .sc_form .main_button .theme_lines {
    margin-top: 16px;
  }

  .sc_gifts {
    padding-top: 50px;
  }
  .sc_gifts .gift_tit .main {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 0.5rem 1rem 0.65rem;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  .sc_gifts .gift_name {
    text-align: center;
    line-height: 1.2;
  }
  .sc_gifts .gift_name > span {
    display: inline-block;
  }
  .sc_gifts .gift_name .sub {
    top: 0;
    display: inline-block;
    line-height: 1.5;
  }

  .main_content .sc_title .sup_link {
    margin-top: 10px;
    position: static;
    text-align: right;
  }

  .sc_infomation {
    padding-left: 15px;
    padding-right: 15px;
  }
  .sc_infomation .info_block {
    padding-left: 15px;
    padding-right: 15px;
  }
  .g_case .sc_title .sup_link {
    color: #fff;
  }

  .g_whitebk .wbk_bn_items .items_wrap {
    display: block;
  }
  .g_whitebk .wbk_bn_items .item {
    margin-bottom: 20px;
    padding: 0;
  }
  .g_whitebk .slide {
    margin-bottom: 1.5rem;
  }

  .g_hotvd {
    margin-top: 40px;
  }
  .g_hotvd .col_wrap {
    padding: 0;
  }
  .g_hotvd .hvd_items .item {
    margin-bottom: 30px;
    text-align: center;
  }
  .g_hotvd .demo_items .col_wrap {
    margin-bottom: 15px;
  }
  .g_hotvd .demo_items .col_wrap:last-child {
    margin-bottom: 0;
  }
  .g_hotvd .demo_items .item {
    padding: 1em;
  }

  .sc_event .col_wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .sc_event .evt_item::after {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    width: 1.5em;
    height: 1.5em;
  }
  .sc_event .evt_item .text_block {
    width: calc(100% - 3em);
  }
  .sc_event .evt_item .text_block .stit {
    font-size: 1em;
  }

  .row_others {
    padding-bottom: 40px;
  }
  .row_others .sc_news,
.row_others .sc_article {
    padding-top: 0;
    padding-bottom: 0;
  }
  .row_others .sc_article {
    margin-top: 20px;
  }
  .row_others .item {
    height: auto;
  }

  .sc_company .parag_wrap {
    padding: 45px 30px 30px;
  }
  .sc_company .parag_wrap::after {
    left: 6px;
    top: 6px;
    right: 6px;
  }
  .sc_company .company_tit {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  .sc_company .company_tit .nam {
    margin-left: 0;
    margin-top: 6px;
  }

  .line_wrap .qr_wrap {
    width: 100%;
    margin-left: 0;
  }
  .line_wrap .qr_wrap .qr {
    position: relative;
    width: 160px;
    margin: 20px auto;
  }
}