@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Ubuntu", "Noto Sans TC", Microsoft Jhenghei, "微軟正黑體", sans-serif;
  color: #000d54;
}

.full_wrap {
  background: url("img/mainbg.png") center/cover fixed;
  padding-bottom: 2vw;
}

.g_kv {
  position: relative;
  background: url("img/kvdot.png") center/contain no-repeat;
}

.kv_desktop {
  position: relative;
  overflow: hidden;
  padding: 0 5%;
}
.kv_desktop img {
  display: block;
  width: 100%;
}
.kv_desktop .kvlogo {
  position: absolute;
  left: 5%;
  top: 0;
  width: 12.5%;
}
.kv_desktop .kvcnt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vw;
}
.kv_desktop .kvtit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 61.9047619048%;
  white-space: nowrap;
  font-size: 4.25vw;
  color: #fff;
  line-height: 1;
}
.kv_desktop .kvtit .kvt1 {
  padding-top: 1vw;
}
.kv_desktop .kvtit .kvt2 {
  margin-top: 2vw;
  font-size: 1.2em;
  font-weight: 900;
}
.kv_desktop .kvtit .kvt3 {
  margin-left: -0.25em;
  margin-top: 3vw;
  font-size: 0.5em;
  font-weight: 700;
  color: #66ccff;
}
.kv_desktop .kvpic {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38.0952380952%;
          flex: 0 0 38.0952380952%;
}
.kv_desktop .kvpic img {
  position: relative;
  z-index: 3;
}

.sec_main {
  position: relative;
}
.sec_main > div {
  position: relative;
  z-index: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.intro_wrap {
  margin-bottom: 60px;
  border-radius: 20px;
  border: 1px solid currentColor;
  padding: 60px 40px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.67)), color-stop(25%, #fff), color-stop(75%, #fff), to(rgba(255, 255, 255, 0.67)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.67), #fff 25%, #fff 75%, rgba(255, 255, 255, 0.67));
  background: #000d54;
  color: #66ccff;
}
.intro_wrap .strong {
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.intro_wrap .parag {
  font-size: 1.25em;
  line-height: 1.67;
  color: #fff;
}
.intro_wrap .parag p:last-child {
  margin-bottom: 0;
}
.intro_wrap .parag b {
  color: #00b492;
}

.gift_wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.gift_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  position: relative;
}
.gift_content::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -15px;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, #66ccff 1px, transparent 1px) 0 0/10px 10px;
}
.gift_content .gift {
  position: relative;
  z-index: 2;
  border: 1px solid currentColor;
  border-radius: 10px;
  background-color: #021246;
  color: #66ccff;
}
.gift_content .gift:last-child {
  margin-top: 28px;
}
.gift_content .gift .gt_categ {
  padding: 8px 20px;
  border-bottom: 1px solid currentColor;
  font-size: 1.25em;
}
.gift_content .gift .gt_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 30px 5px;
}
.gift_content .gift .tit {
  vertical-align: middle;
  line-height: 1.2;
  font-size: 1.5em;
  color: #fff;
}
.gift_content .gift .tit b {
  display: inline-block;
}
.gift_content .gift .count {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: 1px solid currentColor;
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 0.875em;
  line-height: 1;
  color: #00b492;
}
.gift_content .gift .gt_body {
  padding: 5px 30px 20px;
  position: relative;
  font-size: 1.25em;
}
.gift_content .gift .tip {
  font-size: 0.8em;
  line-height: 1.4;
}
.gift_content .gift .sub {
  color: #93ea20;
  line-height: 1.3;
  font-size: 0.75em;
}

.gift_pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 428px;
  padding-left: 28px;
}
.gift_pic .pic {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #66ccff;
}
.gift_pic .pic img {
  position: relative;
  z-index: 3;
  width: 100%;
}

.sec_table {
  margin-top: 60px;
}

.table_wrap {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid #66ccff;
  background-color: #021246;
}

.table_head {
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid #66ccff;
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.table_head span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #66ccff;
  margin-right: 5px;
}

.form_wrap {
  padding-top: 45px;
  padding-bottom: 45px;
  color: #fff;
}
.form_wrap .btn {
  background-color: transparent;
}
.form_wrap legend {
  font-size: 1.2em;
  margin-bottom: 4px;
}
.form_wrap legend span {
  display: inline-block;
  position: relative;
  top: -2px;
  padding: 5px 7px 7px;
  line-height: 1;
  border-radius: 4px;
  background-color: #e64103;
  color: #fff;
  font-size: 14px;
}
.form_wrap legend + div {
  padding-left: 1.2rem;
}
.form_wrap label {
  color: #66ccff;
}
.form_wrap .form-control + small {
  color: #66ccff;
}
.form_wrap .form-check-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.form_wrap .form-check-input ~ .input_text {
  margin-left: 0.25rem;
  width: 110px;
  display: none;
  margin-left: 0.25rem;
}
.form_wrap .other_text {
  margin-left: 0.25rem;
}
.form_wrap .form-check-input ~ .input_text {
  width: 110px;
  display: none;
}
.form_wrap .form-check-input:checked ~ .input_text {
  display: inline;
}
.form_wrap .form-group {
  margin-bottom: 1rem;
}
.form_wrap .cta .bttn {
  display: inline-block;
  margin-top: 20px;
  border-radius: 2.5rem;
  padding: 1.4rem 3.5rem 1.5rem;
  width: 10em;
  font-size: 1.675rem;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(120deg, #66ccff, #3a5acb, #001794) 0 0/200% 100%;
  color: #fff;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}
.form_wrap .cta .bttn span {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: normal;
  -webkit-transition: letter-spacing 300ms;
  transition: letter-spacing 300ms;
}
.form_wrap .cta .bttn:hover {
  text-decoration: none;
  background-position-x: 100%;
}
.form_wrap .cta .bttn:hover span {
  letter-spacing: 0.5rem;
}
.form_wrap .cta .bttn:active {
  background: #00b236;
}
.form_wrap .agreement_text {
  color: #66ccff;
}

.form_tit {
  text-align: center;
}
.form_tit h2 {
  font-weight: 700;
  margin-bottom: 0;
  color: #fff;
}
.form_tit span {
  display: block;
  margin: 10px 0 30px;
  color: #66ccff;
}

.form_p1, .form_p2 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.form_p1 {
  padding-bottom: 30px;
}

.form_p2 {
  border-top: 2px solid #66ccff;
  padding-top: 40px;
}
.form_p2 label {
  color: #fff;
}

.policy_wrap {
  border-top: 2px solid #66ccff;
  padding: 30px;
}

.policy_tip, .policy_after {
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  font-size: 14px;
}

.policy_tip {
  padding-bottom: 6px;
}

.policy_after {
  margin-top: 6px;
}

.pt_left {
  float: left;
  text-align: center;
  color: #fff;
}

.pt_right {
  float: right;
}
.pt_right a {
  color: #66ccff;
}
.pt_right a:hover {
  color: #e64103;
}

.policy_box {
  clear: both;
  border-radius: 8px;
  padding: 10px;
  height: 150px;
  overflow: hidden;
  background-color: #fff;
}

.pb_tit {
  padding: 10px 10px 5px;
  text-align: center;
}

.pb_text {
  padding: 5px 10px 20px;
  font-size: 12px;
  line-height: 21px;
  overflow: auto;
  height: calc(100% - 40px);
}
.pb_text p {
  margin-bottom: 1em;
}
.pb_text ol {
  padding-left: 1em;
  list-style: none;
  margin-bottom: 0;
}
.pb_text ol li {
  margin-top: 9px;
}

#fancybox-outer {
  width: 104% !important;
}

@media (max-width: 767px) {
  .full_wrap {
    padding-bottom: 0;
  }
  .kv_mobile {
    position: relative;
    z-index: 2;
  }
  .sec_main {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%;
  }
  .intro_wrap {
    padding: 2rem 30px;
  }
  .intro_wrap .parag {
    font-size: 1rem;
  }
  .gift_wrap {
    margin-top: 0;
    padding: 0 20px 40px;
  }
  .gift_pic {
    margin-top: 15px;
    padding-left: 0;
  }
  .gift_pic .pic {
    padding: 0;
  }
  .sec_table {
    margin-top: 0;
    padding: 40px 10px;
  }
  .table_content {
    margin: 0;
    border-width: 1px 0;
    padding: 30px 0;
  }
  .form_wrap {
    padding: 0;
    border-radius: 0;
  }
  .form_wrap .form-check-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0.5em 0;
    padding-right: 0.5em;
  }
  .form_wrap .form-check-inline .form-check-input {
    margin-right: 0.5rem;
  }
  .form_wrap legend {
    margin-bottom: 10px;
  }
  .form_wrap legend + div {
    padding-left: 0;
  }
  .form_wrap .form-check-label {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    line-height: 1.2;
  }
  .form_wrap .cta .bttn {
    margin-bottom: 30px;
  }
  .form_tit h2 {
    max-width: 10em;
    margin: 0 auto;
  }
  .form_p1, .form_p2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .form_p1 {
    padding-bottom: 20px;
  }
  .form_p2 {
    padding-top: 20px;
  }
  .policy_wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
  }
}