$main: #fe373e;
$main2: #ff898d;
$main3: #b11217;
$sub: #16272E;
$sub2: #14334f;
$sub3: #5c7184;

$white: #fff;
$black: #000;
$blue: #006fcb;
$green: #06c96d;
$orange: #fe9c5f;

$dark: #343a40;
$grey: #F1EFED;

body {
	font-family: 'Noto Sans TC', sans-serif;
	background-color: $grey;
	color: $sub;
}

#particles-js {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.main_color {
	color: $main;
}
.sub_color {
	color: $sub;
}

.fix_aside {
    position: fixed;
    z-index: 99;
    right: 1rem;
    bottom: .5rem;
    transform: translateX(150%);
    transition: transform 600ms;
    &.is_active {
        transform: translateX(0%);
    }
    .fx_item {
        position: relative;
        display: block;
        border-radius: .5em;
        margin: .5em 0;
        width: 4em;
        height: 4em;
        background-color: #fff;
        font-size: 0.95rem;
        cursor: pointer;
        box-shadow: 0 1px 3px 0 rgba(#000, .19);
        transition: transform 240ms, box-shadow 240ms;
        &.is_primary {
			background: linear-gradient(135deg, $orange, $main);
			color: #fff;
			line-height: 1.3;
        }
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 5px 0 rgba(#000, .19);
        }
        .in_wrap {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            &.ic {
                width: 100%;
                height: 100%;
                padding: .6em;
				.ic_top {
					width: 100%;
					padding-top: 100%;
					background: url('img/ui/arrow_top.png') center/contain no-repeat;
				}
            }
        }
    }
}

.g_header {
	// position: fixed;
	// left: 0;
	// top: 0;
	// z-index: 98;
	width: 100%;
	background-color: $main;
	&.is_active {
		background-color: $dark;
	}
}
.header_wrap {
	position: relative;
	padding: .5rem;
    .menu_trigger {
        position: relative;
        width: 48px;
        height: 48px;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #fff;
        .icon {
            display: inline-block;
            position: absolute;
            left: 20%;
            top: 50%;
            width: 60%;
            height: 3px;
            margin-top: -2px;
            background-color: #fff;
            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
            }
            &::before {
                top: -300%;
            }
            &::after {
                bottom: -300%;
            }
        }
        &.sty_white {
            border-color: #fff;
            .icon {
                &,
                &::before,
                &::after {
                    background-color: #fff;
                }
            }
        }
    }
    .nav_area {
		position: relative;
		display: block;
        z-index: 3;
		text-align: center;
		.nav_list {
			display: inline-flex;
		}
		.nav_item {
			font-size: 16px;
			line-height: 1;
			font-weight: normal;
			&.is_highlight {
				padding: 0 6px;
				.nav_link {
					background-color: $main;
					color: #000;
				}
			}
		}
		.nav_link {
			border-radius: 4px;
			display: block;
			padding: 12px;
			color: #fff;
			background-color: transparent;
			transition: all 300ms;
			&:hover {
				background-color: $main2;
				text-decoration: none;
			}
		}
    }
}

@keyframes kvbg-fast {
	0% {
	  transform: translateY(-5%) rotate(1deg);
	}
	100% {
	  transform: translateY(5%) rotate(-1deg);
	}
}
@keyframes kvbg-slow {
	0% {
	  transform: translateY(-2.5%) rotate(-2deg);
	}
	100% {
	  transform: translateY(2.5%) rotate(2deg);
	}
}
.g_kv {
	position: relative;
	.desktop {
		position: relative;
		height: 50vw;
		.bg {
			width: 100%;
			>div {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				overflow: hidden;
			}
			.bg1 img {
				animation: kvbg-slow 7s linear infinite alternate;
			}
			.bg2 img {
				animation: kvbg-fast 11s linear infinite alternate;
			}
			img {
				max-width: 100%;
			}
		}
		.cover {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(165deg, $grey 0, rgba($grey, 0) 50%);
		}
		.content {
			position: relative;
			margin: 0 auto;
			top: (240/1080)*100%;
			max-width: 1600px;
			width: 84%;
			.word {
				width: (860/1920)*100vw;
				img {
					max-width: 100%;
				}
			}
			.tit {}
			.date {
				margin-top: 3vw;
			}
			.logo {
				position: absolute;
				right: 0;
				top: 0;
				width: (480/1920)*100vw;
			}
		}
		.timer {
			position: absolute;
			left: .5vw;
			bottom: calc(-60px - 3vw);
		}
		.logos {
			position: absolute;
			left: 0;
			bottom: 10px;
			padding: 40px 0;
			width: 100%;
			background: linear-gradient(rgba($grey, 0), $grey 20%, $grey 80%, rgba($grey, 0));
		}
	}
	.timer {
		color: #fff;
		text-align: center;
		letter-spacing: -4px;
		display: flex;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: $sub;
			transform: skewX(-6deg);
		}
		.tb {

			position: relative;
			z-index: 2;
			display: inline-block;
			width: 4rem;
			height: 3.6rem;
			padding-bottom: 1.5em;
			letter-spacing: normal;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 0;
				height: 100%;
				border-left: 1px solid $sub3;
				transform: rotate(6deg);
			}
			&:first-child::before {
				border-left-width: 0;
			}
			&::after {
				position: absolute;
				left: 0;
				bottom: 10px;
				width: 100%;
				line-height: 1;
				text-align: center;
				font-weight: 300;
				color: darken($orange, 6);
			}
			span {
				position: absolute;
				left: 50%;
				top: calc(50% - .38em);
				transform: translate(-50%, -50%);
				font-size: 1.5rem;
			}
		}
		.d {
			&::after {
				content: 'day';}
		}
		.h {
			&::after {
				content: 'hour';}
		}
		.m {
			&::after {
				content: 'min';}
		}
		.s {
			&::after {
				content: 'sec';}
		}
	}
}

.g_main {
	position: relative;
	z-index: 1;
	.container-fluid {
		max-width: 1280px;
	}
	ul {
		padding-left: 0;
		margin-bottom: 0;
	}
}
.main_sc {
	padding-top: 80px;
	padding-bottom: 80px;
}
@keyframes cube-rotate {
	0% {
	  transform: rotateY(0);
	}
	100% {
	  transform: rotateY(360deg);
	}
}

.sc_title {
	margin-top: -20px;
	margin-bottom: 1em;
	font-size: 2em;
	text-align: center;
	.tit {
		position: relative;
		display: inline-block;
		color: $sub;
		font-weight: 500;
		line-height: 1;
		&.c_white {
			color: #fff;
		}
		.scene {
			position: absolute;
			left: -24px;
			top: -5px;
			width: 12px;
			height: 12px;
			perspective: 1000px;
			perspective-origin: 50% -200px;
		}
		.cube {
			transform-style: preserve-3d;
			transition: all 500ms;
			animation: cube-rotate 6s infinite linear;
			div {
				display: block;
				position: absolute;
				width: 12px;
				height: 12px;
				background-color: $main;
			}
			.front {
				transform: translateZ(6px);
			}
			.back {
				transform: rotateY(180deg) translateZ(6px);
			}
			.top {
				background-color: $main2;
				transform: rotateX(90deg) translateZ(6px);
			}
			.bottom {
				background-color: $main3;
				transform: rotateX(-90deg) translateZ(6px);
			}
			.left {
				background-color: $main2;
				transform: rotateY(-90deg) translateZ(6px);
			}
			.right {
				background-color: $main3;
				transform: rotateY(90deg) translateZ(6px);
			}
		}
	}
}
.cta_wrap {
	padding-top: 60px;
	text-align: center;
	a {
		display: inline-block;
	}
}
.primary_cta {
	position: relative;
	transition: all 300ms;
	span {
		position: relative;
		z-index: 2;
		display: block;
		border-radius: 4em;
		border: 1px solid $main3;
		padding: .9em 2.7em;
		background: transparent;
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1;
		color: #fff;
		transition: all 300ms;
		text-shadow: 3px 3px 0 rgba(#000, .2);
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		border-radius: 4em;
		background: linear-gradient($main, $main2 8%, $main, $main3 92%, $main);
		transition: all 300ms;
	}
	&:hover {
		text-decoration: none;
		span {
			border-color: $sub;
			background-color: #fff;
			color: $sub;
			transform: translate(-10px, -10px);
			text-shadow: 3px 3px 0 rgba(#fff, .2);
		}
		&::after {
			background: linear-gradient($main2, $main, $main3);
		}
	}
}

.sc_intro {
	
}
.intr_cnt {
	font-size: 1.25em;
	p {
		line-height: 1.8;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.four_primary {
	background: linear-gradient($sub2, rgba($sub2, .9));
	color: #fff;
	.container {
		max-width: 1200px;
	}
	.primary_tit {
		position: relative;
		text-align: center;
		margin-bottom: 1em;
		font-size: 2em;
		div {
			display: inline-block;
			border-bottom: 1px double $orange;
			padding-bottom: .5em;
			font-weight: 700;
			line-height: 1.2;
			color: #fff;
			text-shadow: 0 3px 3px rgba(darken($orange, 18), .9);
		}
		
	}
	.primary_list {
		align-items: stretch;
	}
	.primary_item {
		position: relative;
		z-index: 1;
		flex: 0 0 25%;
		background-color: rgba(#000, .25);
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			width: 1px;
			height: 100%;
			background-color: rgba(#5c7184, .25);
		}
		&:nth-child(2n) {
			.item_in {
				background-color: lighten($grey, 2);
			}
		}
		.item_in {
			position: relative;
			z-index: 0;
			height: 100%;
			padding: 1.5em 1.25em;
			border-radius: 0;
			background-color: #fff;
			transition: transform 300ms, box-shadow 300ms, border-radius 300ms;
			box-shadow: 0 10px 20px 0 rgba(#000, 0);
		}
		.t {
			text-align: center;
			line-height: 1.2;
			font-size: 1.2em;
			b {
				color: darken($orange, 6);
				font-size: 1.5em;
			}
			div {
				color: $blue;
			}
		}
		.p {
			margin-top: 1em;
			color: $sub2;
		}
		&:hover {
			z-index: 2;
			.item_in {
				z-index: 2;
				border-radius: 10px;
				transform: scale(1.05);
				box-shadow: 0 10px 20px 0 rgba(#000, .2);
			}
		}
	}
}

.three_spot {
	padding-bottom: 100px;
	background: linear-gradient(rgba($sub2, .9), rgba($sub2, .6));
	.spot_tit {
		position: relative;
		text-align: center;
		margin-bottom: 1.5em;
		font-size: 2em;
		div {
			display: inline-block;
			border-bottom: 1px dashed $orange;
			padding-bottom: .5em;
			font-weight: 300;
			line-height: 1.2;
			color: darken($orange, 6);
			// text-shadow: 0 3px 3px rgba(darken($orange, 18), .9);
		}
		
	}
	.spot_list {

	}
	
	.spot_item {
		padding: 20px 0;
		align-items: center;
		.container {
			align-items: center;
			justify-content: center;
		}
		.pic {
			flex: 0 0 auto;
		}
		.img {
			text-align: center;
		}
		.word {
			padding-left: 60px;
			flex: 0 1 66%;
			font-size: 1.25em;
			.t {
				font-size: 1.5em;
				font-weight: 700;
				line-height: 1.2;
				color: darken($orange, 6);
			}
			.p {
				margin-top: .75em;
				line-height: 1.5;
				color: #fff;
			}
		}
		.scene {
			width: 200px;
			height: 200px;
			perspective: 1000px;
			perspective-origin: 35% 40%;
		}
		.cube {
			transform-style: preserve-3d;
			transition: all 500ms;
			div {
				display: block;
				position: absolute;
				width: 200px;
				height: 200px;
				line-height: 200px;
				font-size: 40px;
				color: white;
				text-align: center;
				backface-visibility: visible;
				background-color: $sub2;
			}
			.front {
				transform: translateZ(100px);
				padding: 25px;
				img {
					display: block;
					width: 150px;
				}
			}
			.back {
				transform: rotateY(180deg) translateZ(100px);
			}
			.top {
				background-color: darken($sub2, 2);
				transform: rotateX(90deg) translateZ(100px);
			}
			.bottom {
				background-color: darken($sub2, 12);
				transform: rotateX(-90deg) translateZ(100px);
			}
			.left {
				background-color: darken($sub2, 6);
				transform: rotateY(-90deg) translateZ(100px);
			}
			.right {
				background-color: darken($sub2, 6);
				transform: rotateY(90deg) translateZ(100px);
			}
		}
		
		&:nth-child(1) {
			.cube {
				transform: rotateX(12deg) rotateY(-10deg) rotateZ(5deg);
			}
			.container:hover {
				.cube {
					transform: rotateX(12deg) rotateY(-15deg) rotateZ(8deg);
				}
			}
		}
		&:nth-child(2) {
			.pic {
				order: 2;
			}
			.word {
				padding-left: 0;
				padding-right: 60px;
			}
			.cube {
				transform: rotateX(8deg) rotateY(9deg) rotateZ(8deg);
			}
			.container:hover {
				.cube {
					transform: rotateX(15deg) rotateY(6deg) rotateZ(8deg);
				}
			}
		}
		&:nth-child(3) {
			.cube {
				transform: rotateX(-8deg) rotateY(-4deg) rotateZ(4deg);
			}
			.container:hover {
				.cube {
					transform: rotateX(-8deg) rotateY(-12deg) rotateZ(0deg);
				}
			}
		}
	}
}

.sc_agenda {
	background: linear-gradient(rgba($grey, .5), $grey 80%);
}
.agd_cnt {
	line-height: 1.3;
	color: $sub;
}
.ag_table {
	border-radius: 1em;
	overflow: hidden;
	// border: 1px solid rgba($sub, .5);
	.tr {
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba($sub, .5);
		padding: 0 1em;
		background-color: #fff;
		&.tr_soft {
			background: linear-gradient(90deg, $sub2 50%, $sub3);
			color: #fff;
			.tpc {
				color: #fff;
				font-weight: 400;
			}
		}
		&:last-child {
			border-bottom: 0;
		}
	}
	.td {
		padding: 1em;
	}
	.td_time {
		flex: 0 0 auto;
		text-align: center;
	}
	.td_topic {
		flex: 1 1 100%;
		display: inline-flex;
		align-items: center;
	}
	.tpc {
		flex: 1 1 auto;
		margin-right: 1em;
		.zh {
			font-size: 1.25em;
			color: $sub2;
			font-weight: 500;
		}
		.en {
			color: $blue;
			font-weight: 300;
			line-height: 1.4;
		}
	}
	.tpc_outline {
		cursor: pointer;
		flex: 0 0 auto;
		border-radius: 2em;
		border: 1px solid $sub;
		padding: .6em 1.2em .65em;
		font-size: .875em;
		line-height: 1;
		background-color: rgba($main, .2);
		color: $sub;
		transition: all 300ms;
		&:hover {
			background-color: $main;
			color: #fff;
		}
	}
	.td_speaker {
		flex: 0 0 22em;
		line-height: 1.35;
		.spk {
			display: inline-block;
		}
		.spk[data-toggle="modal"] {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		.n {
			font-size: 1.125em;
			font-weight: 700;
			color: $sub2;
		}
		.j {
			margin-top: .2rem;
			color: $blue;
		}
	}
}

.ag_tip {
	text-align: center;
}


.sc_speaker {
	background-color: #fff;
	.main_sc {
		padding-bottom: 60px;
	}
}
.spk_cnt {
	justify-content: center;
	.items {
		flex-wrap: wrap;
	}
}
.spk_item {
	flex: 0 0 33%;
	padding: 0 15px;
	text-align: center;
	margin-bottom: 40px;
	line-height: 0;
	.pic {
		display: inline-block;
		position: relative;
		border-radius: 50%;
		border: 1px solid $sub3;
		margin: 0 auto;
		max-width: 242px;
		background: #e4f5ff url('img/ui/speech.svg') center/120px no-repeat;
		cursor: pointer;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			transition: all 300ms;
		}
		&:hover {
			img {
				transform: scale(1.15);
			}
		}
	}
	.word {
		margin-top: 12px;
		padding: 0 1em;
		.n {
			margin-bottom: 6px;
			font-size: 1.33em;
			font-weight: 700;
			line-height: 1.2;
			color: $sub2;
		}
		.j {
			line-height: 1.3;
			color: $blue;
			span {
				display: inline-block;
			}
		}
	}
}


.sc_gift {
	background-color: $grey;
	background: linear-gradient(90deg, rgba($grey, .5), $grey 30%, $grey 70%, rgba($grey, .5));
}
.gift_cnt {
	.gift_title {
		text-align: center;
		.tit {
			font-size: 1.25em;
			font-weight: 300;
			color: $sub;
			margin-bottom: 24px;
		}
	}
	.wrap {
		&.wp1 {
			flex: 0 1 300px;
			.pic {
				background: linear-gradient(135deg, rgba($orange, .2) 10%, $orange, rgba($orange, .2) 90%);
			}
		}
		&.wp2 {
			flex: 0 1 900px;
			.gift_item {

			}
		}
	}
}
.gift_item {
	flex: 1 1 33.33%;
	padding: 0 15px;
	text-align: center;
	.pic {
		position: relative;
		border-radius: 2px 2px 0 0;
		max-width: 300px;
		background: linear-gradient(135deg, $orange, $main, $orange);
		padding: 4px;
		// box-shadow: 0 5px 10px 0 rgba(#000, .2);
		img {
			max-width: 100%;
			display: block;
			background-color: #fff;
		}
		.t {
			position: absolute;
			left: 0;
			top: 0;
			padding: .6em 1em .65em;
			background: linear-gradient(-90deg, $main, $orange);
			font-size: 1.2em;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			text-shadow: 3px 3px rgba(#000, .2);
			color: #fff;
		}
	}
	.n {
		margin-top: 20px;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.2;
		color: darken($orange, 6);
	}
	.c {
		display: inline-block;
		border: 1px solid currentColor;
		margin-top: 15px;
		padding: 6px 12px;
		color: $sub3;
	}
}

.sc_company {
	background: linear-gradient(90deg, rgba(#fff, .5), #fff 30%, #fff 70%, rgba(#fff, .5));
}
.company_cnt {
	justify-content: center;
	.wrap {
		display: flex;
		flex-direction: column;
		.cpy_title {
			flex: 0 0 auto;
		}
		.items {
			flex: 1;
		}
		&:first-child {
			flex: 0 0 20%;
			.cpy_item {
				flex: 0 0 100%;
			}
		}
		&:last-child {
			flex: 0 0 80%;
			.items {

				flex-wrap: wrap;
			}
			.cpy_item {
				flex: 0 0 25%;
			}
		}
	}
	.cpy_title {
		margin-bottom: 20px;
		font-size: 1.25em;
		font-weight: 300;
		text-align: center;
		color: $sub;
	}
	.cpy_item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		a {
			display: block;
			padding: 0 10px;
			background-color: rgba(#fff, 0);
			box-shadow: 0 10px 20px 0 rgba(#000, 0);
			transition: all 300ms;
			&:hover {
				background-color: rgba(#fff, 1);
				box-shadow: 0 10px 20px 0 rgba(#000, .2);
			}
		}
		img {
			width: 100%;
		}
	}
}

.sc_location {
	background: linear-gradient($sub2, rgba($sub2, .67));
}
.location_cnt {
	.position {
		flex: 0 0 69%;
		border: 1px solid $orange;
		background: linear-gradient($sub2, rgba($sub2, .67));
	}
	.loc_top {
		padding: 15px 30px;
		.loc {
			color: darken($orange, 6);
			font-size: 1.5em;
		}
		.addr {
			color: #fff;
		}
	}
	.loc_map {
		position: relative;
		padding-top: 56.26%;
		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.covid {
		position: relative;
		flex: 0 0 31%;
		padding-left: 15px;
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 24px;
			height: 24px;
			border: 1px solid $orange;
		}
		&::before {
			left: 15px;
			top: 0;
		}
		&::after {
			right: 0;
			bottom: 0;
		}
		.wrap {
			height: 100%;
			padding: 30px;
			border: 1px solid $orange;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			background: linear-gradient($sub2, rgba($sub2, .67));
		}
		.t {
			margin-bottom: 1em;
			font-size: 1.375em;
			font-weight: 700;
			color: darken($orange, 6);
		}
		.p {
			color: #fff;
		}
	}
}

.sc_detail {
	background-color: #fff;
}
.detail_cnt {
	.list {
		padding-left: 1.5em;
		li {
			padding: .25em 0;
			line-height: 1.4;
		}
		a {
			color: darken($orange, 6);
			&:hover {
				color: $main;
			}
		}
	}
}

.ag_modal {
	.modal-header {
		.h5 {
			color: $sub;
		}
	}
}
.modal_bd {
	.zh {
		color: $sub2;
		font-weight: 500;
	}
	.en {
		margin-top: 1em;
		color: $blue;
	}
	p {
		margin-bottom: .5em;
		&:last-child {
			margin-bottom: 0;
		}
		+ul,
		+ol {
			margin-top: .5em;
		}
	}
	ul {
		padding-left: 1.65em;
	}
	ol {
		padding-left: 1.5em;
	}
	ul,
	ol {
		margin-bottom: .5em;
		li {
			padding: .25em 0;
			line-height: 1.2;
			ul,
			ol {
				padding-left: 1em;
				margin-top: .5em;
			}
		}
	}
	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.agd_md {
	.modal-header,
	.modal-body {
		padding: 1.5rem;
	}
}
.spk_md {
	.modal-header,
	.modal-body {
		padding: 1rem 1.5rem;
	}
}


@media (min-width: 769px) {
	.ag_table {
		.tr {
			&.tr_soft {
				.td {
					padding: .75em 1em;
				}
			}
		}
	}
}
@media (max-width: 768px) {

	body {
		padding-top: 64px;
		padding-bottom: 90px;
	}
	.fix_aside {
		right: 0;
		bottom: 0;
		width: 100%;
		padding: 15px;
		display: flex;
		justify-content: flex-end;
		.fx_item {
			margin: 0 10px 0 0;
			&:last-child {
				margin-right: 0;
			}
		}
	}
    .g_header {
		position: fixed;
		.menu_trigger {
			padding: 0 24px;
		}
		.nav_area {
			display: none;
			.nav_list {
				display: block;
				padding: 0 24px;
			}
			.nav_item {
				border-bottom: 1px solid rgba(#fff, .1);
				&:last-child {
					border-bottom: 0;
				}
			}
			.nav_link {
				border-radius: 0;
				padding: 16px 24px;
			}
		}
    }

	.g_kv {
		.mobile {
			height: 50vh;
		}
		.timer_wrap {
			text-align: center;
			width: 100%;
			.timer {
				position: relative;
				top: 20px;
				display: inline-flex;
			}
		}
	}
	
	.g_main {

	}
	.main_sc {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.sc_title {
		margin-top: 0;
		font-size: 1.5em;
		.tit {
			line-height: 1.2;
		}
	}
	.cta_wrap {
		padding-top: 40px;
	}
	
	.intr_cnt {
		font-size: 1.125em;
		p {
			padding: 0 1em;
			line-height: 1.5;
		}
	}

	.four_primary {
		.primary_tit {
			margin-bottom: 1em;
		}
	}

	.three_spot {
		padding-top: 0;
		background: linear-gradient(rgba($sub2, .9) 67%, rgba($sub2, .7));
		.spot_tit {
			padding: 0 1em;
			font-size: 1.5em;
		}
		.spot_item {
			.scene {
				margin: 0 auto;
				perspective: none;
			}
			&:nth-child(n) .cube {
				transform: rotate3d(0, 0, 0, 0deg);
			}
			.cube div {
				background-color: transparent;
			}
			.word {
				font-size: 1rem;
				text-align: center;
				&:nth-child(n) {
					padding: 0 30px;
				}
			}
		}
	}

	.sc_agenda {
	}
	.agd_cnt {
		.tr {
			position: relative;
			display: block;
			&.tr_soft {
				.td_topic {
					margin-top: 0;
				}
			}
		}
		.td {
			padding: .2em .5em;
			&:first-child {
				padding-top: 1em;
			}
			&:last-child {
				padding-bottom: 1em;
			}
		}
		.td_time {
			text-align: left;
		}
		.td_topic {
			margin-top: .5em;
			display: block;
		}
		.tpc {
			flex: 1 1 100%;
			margin-right: 0;
		}
		.tpc_outline {
			position: absolute;
			top: 1em;
			right: 1em;
			padding: .5em 1em;
			display: inline-block;
			
		}
		.td_speaker {
			.n {
			}
			.j {
			}
		}
	}

	.sc_speaker {
		
	}
	.spk_cnt {
		.items {
		}
	}
	.spk_item {
		margin-bottom: 40px;
	}

	.sc_gift {}
	.gift_cnt {
		.wrap {
			padding-bottom: 30px;
		}
		.gift_title {
			margin-top: 0;
		}
	}
	.gift_item {
		padding: 0 0 30px;
		.pic {
			margin: 0 auto;
			width: 248px;
		}
	}

	.sc_company {}
	.company_cnt {
		.wrap+.wrap {
			margin-top: 40px;
		}
		.cpy_title {
			margin-bottom: 0;
		}
		.cpy_item {
			max-width: 200px;
			margin: 0 auto;
		}
	}

	.sc_location {
		
	}
	.location_cnt {
		.loc_top {
			display: block;
			padding: 15px;
			.loc {
				margin-bottom: 0;
				line-height: 1.2;
			}
		}
		.loc_map {
			padding-top: 100%;
		}
		.covid {
			padding-left: 0;
			margin-top: 10px;
			&::before {
				left: 0;
			}
		}
	}

	.detail_cnt {
		padding: 0 15px;
	}
}