body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #F1EFED;
  color: #16272E;
}

#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.main_color {
  color: #fe373e;
}

.sub_color {
  color: #16272E;
}

.fix_aside {
  position: fixed;
  z-index: 99;
  right: 1rem;
  bottom: 0.5rem;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}
.fix_aside.is_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.fix_aside .fx_item {
  position: relative;
  display: block;
  border-radius: 0.5em;
  margin: 0.5em 0;
  width: 4em;
  height: 4em;
  background-color: #fff;
  font-size: 0.95rem;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms, -webkit-transform 240ms, -webkit-box-shadow 240ms;
}
.fix_aside .fx_item.is_primary {
  background: linear-gradient(135deg, #fe9c5f, #fe373e);
  color: #fff;
  line-height: 1.3;
}
.fix_aside .fx_item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}
.fix_aside .fx_item .in_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fix_aside .fx_item .in_wrap.ic {
  width: 100%;
  height: 100%;
  padding: 0.6em;
}
.fix_aside .fx_item .in_wrap.ic .ic_top {
  width: 100%;
  padding-top: 100%;
  background: url("img/ui/arrow_top.png") center/contain no-repeat;
}

.g_header {
  width: 100%;
  background-color: #fe373e;
}
.g_header.is_active {
  background-color: #343a40;
}

.header_wrap {
  position: relative;
  padding: 0.5rem;
}
.header_wrap .menu_trigger {
  position: relative;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #fff;
}
.header_wrap .menu_trigger .icon {
  display: inline-block;
  position: absolute;
  left: 20%;
  top: 50%;
  width: 60%;
  height: 3px;
  margin-top: -2px;
  background-color: #fff;
}
.header_wrap .menu_trigger .icon::before, .header_wrap .menu_trigger .icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.header_wrap .menu_trigger .icon::before {
  top: -300%;
}
.header_wrap .menu_trigger .icon::after {
  bottom: -300%;
}
.header_wrap .menu_trigger.sty_white {
  border-color: #fff;
}
.header_wrap .menu_trigger.sty_white .icon, .header_wrap .menu_trigger.sty_white .icon::before, .header_wrap .menu_trigger.sty_white .icon::after {
  background-color: #fff;
}
.header_wrap .nav_area {
  position: relative;
  display: block;
  z-index: 3;
  text-align: center;
}
.header_wrap .nav_area .nav_list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.header_wrap .nav_area .nav_item {
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
}
.header_wrap .nav_area .nav_item.is_highlight {
  padding: 0 6px;
}
.header_wrap .nav_area .nav_item.is_highlight .nav_link {
  background-color: #fe373e;
  color: #000;
}
.header_wrap .nav_area .nav_link {
  border-radius: 4px;
  display: block;
  padding: 12px;
  color: #fff;
  background-color: transparent;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.header_wrap .nav_area .nav_link:hover {
  background-color: #ff898d;
  text-decoration: none;
}

@-webkit-keyframes kvbg-fast {
  0% {
    -webkit-transform: translateY(-5%) rotate(1deg);
            transform: translateY(-5%) rotate(1deg);
  }
  100% {
    -webkit-transform: translateY(5%) rotate(-1deg);
            transform: translateY(5%) rotate(-1deg);
  }
}

@keyframes kvbg-fast {
  0% {
    -webkit-transform: translateY(-5%) rotate(1deg);
            transform: translateY(-5%) rotate(1deg);
  }
  100% {
    -webkit-transform: translateY(5%) rotate(-1deg);
            transform: translateY(5%) rotate(-1deg);
  }
}
@-webkit-keyframes kvbg-slow {
  0% {
    -webkit-transform: translateY(-2.5%) rotate(-2deg);
            transform: translateY(-2.5%) rotate(-2deg);
  }
  100% {
    -webkit-transform: translateY(2.5%) rotate(2deg);
            transform: translateY(2.5%) rotate(2deg);
  }
}
@keyframes kvbg-slow {
  0% {
    -webkit-transform: translateY(-2.5%) rotate(-2deg);
            transform: translateY(-2.5%) rotate(-2deg);
  }
  100% {
    -webkit-transform: translateY(2.5%) rotate(2deg);
            transform: translateY(2.5%) rotate(2deg);
  }
}
.g_kv {
  position: relative;
}
.g_kv .desktop {
  position: relative;
  height: 50vw;
}
.g_kv .desktop .bg {
  width: 100%;
}
.g_kv .desktop .bg > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.g_kv .desktop .bg .bg1 img {
  -webkit-animation: kvbg-slow 7s linear infinite alternate;
          animation: kvbg-slow 7s linear infinite alternate;
}
.g_kv .desktop .bg .bg2 img {
  -webkit-animation: kvbg-fast 11s linear infinite alternate;
          animation: kvbg-fast 11s linear infinite alternate;
}
.g_kv .desktop .bg img {
  max-width: 100%;
}
.g_kv .desktop .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(165deg, #F1EFED 0, rgba(241, 239, 237, 0) 50%);
}
.g_kv .desktop .content {
  position: relative;
  margin: 0 auto;
  top: 29.6296296296%;
  max-width: 1600px;
  width: 84%;
}
.g_kv .desktop .content .word {
  width: 44.7916666667vw;
}
.g_kv .desktop .content .word img {
  max-width: 100%;
}
.g_kv .desktop .content .date {
  margin-top: 3vw;
}
.g_kv .desktop .content .logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 25vw;
}
.g_kv .desktop .timer {
  position: absolute;
  left: 0.5vw;
  bottom: calc(-60px - 3vw);
}
.g_kv .timer {
  color: #fff;
  text-align: center;
  letter-spacing: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.g_kv .timer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #16272E;
  -webkit-transform: skewX(-6deg);
          transform: skewX(-6deg);
}
.g_kv .timer .tb {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 4rem;
  height: 3.6rem;
  padding-bottom: 1.5em;
  letter-spacing: normal;
}
.g_kv .timer .tb::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-left: 1px solid #5c7184;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}
.g_kv .timer .tb:first-child::before {
  border-left-width: 0;
}
.g_kv .timer .tb::after {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  line-height: 1;
  text-align: center;
  font-weight: 300;
  color: #fe8941;
}
.g_kv .timer .tb span {
  position: absolute;
  left: 50%;
  top: calc(50% - 0.38em);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
.g_kv .timer .d::after {
  content: "day";
}
.g_kv .timer .h::after {
  content: "hour";
}
.g_kv .timer .m::after {
  content: "min";
}
.g_kv .timer .s::after {
  content: "sec";
}

.g_main {
  position: relative;
  z-index: 1;
}
.g_main .container-fluid {
  max-width: 1280px;
}
.g_main ul {
  padding-left: 0;
  margin-bottom: 0;
}

.main_sc {
  padding-top: 80px;
  padding-bottom: 80px;
}

@-webkit-keyframes cube-rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes cube-rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
.sc_title {
  margin-top: -20px;
  margin-bottom: 1em;
  font-size: 2em;
  text-align: center;
}
.sc_title .tit {
  position: relative;
  display: inline-block;
  color: #16272E;
  font-weight: 500;
  line-height: 1;
}
.sc_title .tit.c_white {
  color: #fff;
}
.sc_title .tit .scene {
  position: absolute;
  left: -24px;
  top: -5px;
  width: 12px;
  height: 12px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% -200px;
          perspective-origin: 50% -200px;
}
.sc_title .tit .cube {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-animation: cube-rotate 6s infinite linear;
          animation: cube-rotate 6s infinite linear;
}
.sc_title .tit .cube div {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #fe373e;
}
.sc_title .tit .cube .front {
  -webkit-transform: translateZ(6px);
          transform: translateZ(6px);
}
.sc_title .tit .cube .back {
  -webkit-transform: rotateY(180deg) translateZ(6px);
          transform: rotateY(180deg) translateZ(6px);
}
.sc_title .tit .cube .top {
  background-color: #ff898d;
  -webkit-transform: rotateX(90deg) translateZ(6px);
          transform: rotateX(90deg) translateZ(6px);
}
.sc_title .tit .cube .bottom {
  background-color: #b11217;
  -webkit-transform: rotateX(-90deg) translateZ(6px);
          transform: rotateX(-90deg) translateZ(6px);
}
.sc_title .tit .cube .left {
  background-color: #ff898d;
  -webkit-transform: rotateY(-90deg) translateZ(6px);
          transform: rotateY(-90deg) translateZ(6px);
}
.sc_title .tit .cube .right {
  background-color: #b11217;
  -webkit-transform: rotateY(90deg) translateZ(6px);
          transform: rotateY(90deg) translateZ(6px);
}

.cta_wrap {
  padding-top: 60px;
  text-align: center;
}
.cta_wrap a {
  display: inline-block;
}

.primary_cta {
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.primary_cta span {
  position: relative;
  z-index: 2;
  display: block;
  border-radius: 4em;
  border: 1px solid #b11217;
  padding: 0.9em 2.7em;
  background: transparent;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.primary_cta::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 4em;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe373e), color-stop(8%, #ff898d), color-stop(#fe373e), color-stop(92%, #b11217), to(#fe373e));
  background: linear-gradient(#fe373e, #ff898d 8%, #fe373e, #b11217 92%, #fe373e);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.primary_cta:hover {
  text-decoration: none;
}
.primary_cta:hover span {
  border-color: #16272E;
  background-color: #fff;
  color: #16272E;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.2);
}
.primary_cta:hover::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff898d), color-stop(#fe373e), to(#b11217));
  background: linear-gradient(#ff898d, #fe373e, #b11217);
}

.intr_cnt {
  font-size: 1.25em;
}
.intr_cnt p {
  line-height: 1.8;
}
.intr_cnt p:last-child {
  margin-bottom: 0;
}

.four_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#14334f), to(rgba(20, 51, 79, 0.9)));
  background: linear-gradient(#14334f, rgba(20, 51, 79, 0.9));
  color: #fff;
}
.four_primary .container {
  max-width: 1200px;
}
.four_primary .primary_tit {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
}
.four_primary .primary_tit div {
  display: inline-block;
  border-bottom: 1px double #fe9c5f;
  padding-bottom: 0.5em;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 3px 3px rgba(253, 100, 4, 0.9);
}
.four_primary .primary_list {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.four_primary .primary_item {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  background-color: rgba(0, 0, 0, 0.25);
}
.four_primary .primary_item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 1px;
  height: 100%;
  background-color: rgba(92, 113, 132, 0.25);
}
.four_primary .primary_item:nth-child(2n) .item_in {
  background-color: #f5f4f3;
}
.four_primary .primary_item .item_in {
  position: relative;
  z-index: 0;
  height: 100%;
  padding: 1.5em 1.25em;
  border-radius: 0;
  background-color: #fff;
  -webkit-transition: border-radius 300ms, -webkit-transform 300ms, -webkit-box-shadow 300ms;
  transition: border-radius 300ms, -webkit-transform 300ms, -webkit-box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms, border-radius 300ms;
  transition: transform 300ms, box-shadow 300ms, border-radius 300ms, -webkit-transform 300ms, -webkit-box-shadow 300ms;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0);
}
.four_primary .primary_item .t {
  text-align: center;
  line-height: 1.2;
  font-size: 1.2em;
}
.four_primary .primary_item .t b {
  color: #fe8941;
  font-size: 1.5em;
}
.four_primary .primary_item .t div {
  color: #006fcb;
}
.four_primary .primary_item .p {
  margin-top: 1em;
  color: #14334f;
}
.four_primary .primary_item:hover {
  z-index: 2;
}
.four_primary .primary_item:hover .item_in {
  z-index: 2;
  border-radius: 10px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.three_spot {
  padding-bottom: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 51, 79, 0.9)), to(rgba(20, 51, 79, 0.6)));
  background: linear-gradient(rgba(20, 51, 79, 0.9), rgba(20, 51, 79, 0.6));
}
.three_spot .spot_tit {
  position: relative;
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 2em;
}
.three_spot .spot_tit div {
  display: inline-block;
  border-bottom: 1px dashed #fe9c5f;
  padding-bottom: 0.5em;
  font-weight: 300;
  line-height: 1.2;
  color: #fe8941;
}
.three_spot .spot_item {
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.three_spot .spot_item .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.three_spot .spot_item .pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.three_spot .spot_item .img {
  text-align: center;
}
.three_spot .spot_item .word {
  padding-left: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66%;
          flex: 0 1 66%;
  font-size: 1.25em;
}
.three_spot .spot_item .word .t {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  color: #fe8941;
}
.three_spot .spot_item .word .p {
  margin-top: 0.75em;
  line-height: 1.5;
  color: #fff;
}
.three_spot .spot_item .scene {
  width: 200px;
  height: 200px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 35% 40%;
          perspective-origin: 35% 40%;
}
.three_spot .spot_item .cube {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.three_spot .spot_item .cube div {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 40px;
  color: white;
  text-align: center;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  background-color: #14334f;
}
.three_spot .spot_item .cube .front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
  padding: 25px;
}
.three_spot .spot_item .cube .front img {
  display: block;
  width: 150px;
}
.three_spot .spot_item .cube .back {
  -webkit-transform: rotateY(180deg) translateZ(100px);
          transform: rotateY(180deg) translateZ(100px);
}
.three_spot .spot_item .cube .top {
  background-color: #122e47;
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}
.three_spot .spot_item .cube .bottom {
  background-color: #08131e;
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}
.three_spot .spot_item .cube .left {
  background-color: #0e2337;
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
}
.three_spot .spot_item .cube .right {
  background-color: #0e2337;
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}
.three_spot .spot_item:nth-child(1) .cube {
  -webkit-transform: rotateX(12deg) rotateY(-10deg) rotateZ(5deg);
          transform: rotateX(12deg) rotateY(-10deg) rotateZ(5deg);
}
.three_spot .spot_item:nth-child(1) .container:hover .cube {
  -webkit-transform: rotateX(12deg) rotateY(-15deg) rotateZ(8deg);
          transform: rotateX(12deg) rotateY(-15deg) rotateZ(8deg);
}
.three_spot .spot_item:nth-child(2) .pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.three_spot .spot_item:nth-child(2) .word {
  padding-left: 0;
  padding-right: 60px;
}
.three_spot .spot_item:nth-child(2) .cube {
  -webkit-transform: rotateX(8deg) rotateY(9deg) rotateZ(8deg);
          transform: rotateX(8deg) rotateY(9deg) rotateZ(8deg);
}
.three_spot .spot_item:nth-child(2) .container:hover .cube {
  -webkit-transform: rotateX(15deg) rotateY(6deg) rotateZ(8deg);
          transform: rotateX(15deg) rotateY(6deg) rotateZ(8deg);
}
.three_spot .spot_item:nth-child(3) .cube {
  -webkit-transform: rotateX(-8deg) rotateY(-4deg) rotateZ(4deg);
          transform: rotateX(-8deg) rotateY(-4deg) rotateZ(4deg);
}
.three_spot .spot_item:nth-child(3) .container:hover .cube {
  -webkit-transform: rotateX(-8deg) rotateY(-12deg) rotateZ(0deg);
          transform: rotateX(-8deg) rotateY(-12deg) rotateZ(0deg);
}

.sc_agenda {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 239, 237, 0.5)), color-stop(80%, #F1EFED));
  background: linear-gradient(rgba(241, 239, 237, 0.5), #F1EFED 80%);
}

.agd_cnt {
  line-height: 1.3;
  color: #16272E;
}

.ag_table {
  border-radius: 1em;
  overflow: hidden;
}
.ag_table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(22, 39, 46, 0.5);
  padding: 0 1em;
  background-color: #fff;
}
.ag_table .tr.tr_soft {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #14334f), to(#5c7184));
  background: linear-gradient(90deg, #14334f 50%, #5c7184);
  color: #fff;
}
.ag_table .tr.tr_soft .tpc {
  color: #fff;
  font-weight: 400;
}
.ag_table .tr:last-child {
  border-bottom: 0;
}
.ag_table .td {
  padding: 1em;
}
.ag_table .td_time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
}
.ag_table .td_topic {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ag_table .tpc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 1em;
}
.ag_table .tpc .zh {
  font-size: 1.25em;
  color: #14334f;
  font-weight: 500;
}
.ag_table .tpc .en {
  color: #006fcb;
  font-weight: 300;
  line-height: 1.4;
}
.ag_table .tpc_outline {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 2em;
  border: 1px solid #16272E;
  padding: 0.6em 1.2em 0.65em;
  font-size: 0.875em;
  line-height: 1;
  background-color: rgba(254, 55, 62, 0.2);
  color: #16272E;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.ag_table .tpc_outline:hover {
  background-color: #fe373e;
  color: #fff;
}
.ag_table .td_speaker {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22em;
          flex: 0 0 22em;
  line-height: 1.35;
}
.ag_table .td_speaker .spk {
  display: inline-block;
}
.ag_table .td_speaker .spk .n,
.ag_table .td_speaker .spk .j {
  cursor: pointer;
}
.ag_table .td_speaker .spk:hover {
  text-decoration: underline;
}
.ag_table .td_speaker .n {
  font-size: 1.125em;
  font-weight: 700;
  color: #14334f;
}
.ag_table .td_speaker .j {
  margin-top: 0.2rem;
  color: #006fcb;
}

.ag_tip {
  text-align: center;
}

.sc_speaker {
  background-color: #fff;
}
.sc_speaker .main_sc {
  padding-bottom: 60px;
}

.spk_cnt {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.spk_cnt .items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.spk_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 0;
}
.spk_item .pic {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 1px solid #5c7184;
  margin: 0 auto;
  max-width: 242px;
  background: #e4f5ff url("img/ui/speech.svg") center/120px no-repeat;
  cursor: pointer;
  overflow: hidden;
}
.spk_item .pic img {
  display: block;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.spk_item .pic:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.spk_item .word {
  margin-top: 12px;
  padding: 0 1em;
}
.spk_item .word .n {
  margin-bottom: 6px;
  font-size: 1.33em;
  font-weight: 700;
  line-height: 1.2;
  color: #14334f;
}
.spk_item .word .j {
  line-height: 1.3;
  color: #006fcb;
}
.spk_item .word .j span {
  display: inline-block;
}

.sc_gift {
  background-color: #F1EFED;
  background: -webkit-gradient(linear, left top, right top, from(rgba(241, 239, 237, 0.5)), color-stop(30%, #F1EFED), color-stop(70%, #F1EFED), to(rgba(241, 239, 237, 0.5)));
  background: linear-gradient(90deg, rgba(241, 239, 237, 0.5), #F1EFED 30%, #F1EFED 70%, rgba(241, 239, 237, 0.5));
}

.gift_cnt .gift_title {
  text-align: center;
}
.gift_cnt .gift_title .tit {
  font-size: 1.25em;
  font-weight: 300;
  color: #16272E;
  margin-bottom: 24px;
}
.gift_cnt .wrap.wp1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}
.gift_cnt .wrap.wp1 .pic {
  background: linear-gradient(135deg, rgba(254, 156, 95, 0.2) 10%, #fe9c5f, rgba(254, 156, 95, 0.2) 90%);
}
.gift_cnt .wrap.wp2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 900px;
          flex: 0 1 900px;
}
.gift_item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  padding: 0 15px;
  text-align: center;
}
.gift_item .pic {
  position: relative;
  border-radius: 2px 2px 0 0;
  max-width: 300px;
  background: linear-gradient(135deg, #fe9c5f, #fe373e, #fe9c5f);
  padding: 4px;
}
.gift_item .pic img {
  max-width: 100%;
  display: block;
  background-color: #fff;
}
.gift_item .pic .t {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.6em 1em 0.65em;
  background: -webkit-gradient(linear, right top, left top, from(#fe373e), to(#fe9c5f));
  background: linear-gradient(-90deg, #fe373e, #fe9c5f);
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.gift_item .n {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  color: #fe8941;
}
.gift_item .c {
  display: inline-block;
  border: 1px solid currentColor;
  margin-top: 15px;
  padding: 6px 12px;
  color: #5c7184;
}

.sc_company {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), color-stop(30%, #fff), color-stop(70%, #fff), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), #fff 30%, #fff 70%, rgba(255, 255, 255, 0.5));
}

.company_cnt {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.company_cnt .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.company_cnt .wrap .cpy_title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.company_cnt .wrap .items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.company_cnt .wrap:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}
.company_cnt .wrap:first-child .cpy_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.company_cnt .wrap:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}
.company_cnt .wrap:last-child .items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.company_cnt .wrap:last-child .cpy_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.company_cnt .cpy_title {
  margin-bottom: 20px;
  font-size: 1.25em;
  font-weight: 300;
  text-align: center;
  color: #16272E;
}
.company_cnt .cpy_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.company_cnt .cpy_item a {
  display: block;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.company_cnt .cpy_item a:hover {
  background-color: white;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.company_cnt .cpy_item img {
  width: 100%;
}

.sc_location {
  background: -webkit-gradient(linear, left top, left bottom, from(#16272E), to(rgba(22, 39, 46, 0.67)));
  background: linear-gradient(#16272E, rgba(22, 39, 46, 0.67));
}

.location_cnt .position {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 69%;
          flex: 0 0 69%;
  border: 1px solid #fe9c5f;
  background: -webkit-gradient(linear, left top, left bottom, from(#16272E), to(rgba(22, 39, 46, 0.67)));
  background: linear-gradient(#16272E, rgba(22, 39, 46, 0.67));
}
.location_cnt .loc_top {
  padding: 15px 30px;
}
.location_cnt .loc_top .loc {
  color: #fe8941;
  font-size: 1.5em;
}
.location_cnt .loc_top .addr {
  color: #fff;
}
.location_cnt .loc_map {
  position: relative;
  padding-top: 56.26%;
}
.location_cnt .loc_map iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.location_cnt .covid {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  padding-left: 15px;
}
.location_cnt .covid::before, .location_cnt .covid::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid #fe9c5f;
}
.location_cnt .covid::before {
  left: 15px;
  top: 0;
}
.location_cnt .covid::after {
  right: 0;
  bottom: 0;
}
.location_cnt .covid .wrap {
  height: 100%;
  padding: 30px;
  border: 1px solid #fe9c5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#16272E), to(rgba(22, 39, 46, 0.67)));
  background: linear-gradient(#16272E, rgba(22, 39, 46, 0.67));
}
.location_cnt .covid .t {
  margin-bottom: 1em;
  font-size: 1.375em;
  font-weight: 700;
  color: #fe8941;
}
.location_cnt .covid .p {
  color: #fff;
}

.sc_detail {
  background-color: #fff;
}

.detail_cnt .list {
  padding-left: 1.5em;
}
.detail_cnt .list li {
  padding: 0.25em 0;
  line-height: 1.4;
}
.detail_cnt .list a {
  color: #fe8941;
}
.detail_cnt .list a:hover {
  color: #fe373e;
}

.ag_modal .modal-header .h5 {
  color: #16272E;
}

.modal_bd .zh {
  color: #14334f;
  font-weight: 500;
}
.modal_bd .en {
  margin-top: 1em;
  color: #006fcb;
}
.modal_bd p {
  margin-bottom: 0.5em;
}
.modal_bd p:last-child {
  margin-bottom: 0;
}
.modal_bd p + ul,
.modal_bd p + ol {
  margin-top: 0.5em;
}
.modal_bd ul {
  padding-left: 1.65em;
}
.modal_bd ol {
  padding-left: 1.5em;
}
.modal_bd ul,
.modal_bd ol {
  margin-bottom: 0.5em;
}
.modal_bd ul li,
.modal_bd ol li {
  padding: 0.25em 0;
  line-height: 1.2;
}
.modal_bd ul li ul,
.modal_bd ul li ol,
.modal_bd ol li ul,
.modal_bd ol li ol {
  padding-left: 1em;
  margin-top: 0.5em;
}
.modal_bd p:last-child,
.modal_bd ul:last-child,
.modal_bd ol:last-child {
  margin-bottom: 0;
}

.agd_md .modal-header,
.agd_md .modal-body {
  padding: 1.5rem;
}

.spk_md .modal-header,
.spk_md .modal-body {
  padding: 1rem 1.5rem;
}

@media (min-width: 769px) {
  .ag_table .tr.tr_soft .td {
    padding: 0.75em 1em;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 64px;
    padding-bottom: 90px;
  }

  .fix_aside {
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .fix_aside .fx_item {
    margin: 0 10px 0 0;
  }
  .fix_aside .fx_item:last-child {
    margin-right: 0;
  }

  .g_header {
    position: fixed;
  }
  .g_header .menu_trigger {
    padding: 0 24px;
  }
  .g_header .nav_area {
    display: none;
  }
  .g_header .nav_area .nav_list {
    display: block;
    padding: 0 24px;
  }
  .g_header .nav_area .nav_item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .g_header .nav_area .nav_item:last-child {
    border-bottom: 0;
  }
  .g_header .nav_area .nav_link {
    border-radius: 0;
    padding: 16px 24px;
  }

  .g_kv .mobile {
    height: 50vh;
  }
  .g_kv .timer_wrap {
    text-align: center;
    width: 100%;
  }
  .g_kv .timer_wrap .timer {
    position: relative;
    top: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .main_sc {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sc_title {
    margin-top: 0;
    font-size: 1.5em;
  }
  .sc_title .tit {
    line-height: 1.2;
  }

  .cta_wrap {
    padding-top: 40px;
  }

  .intr_cnt {
    font-size: 1.125em;
  }
  .intr_cnt p {
    padding: 0 1em;
    line-height: 1.5;
  }

  .four_primary .primary_tit {
    margin-bottom: 1em;
  }

  .three_spot {
    padding-top: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(67%, rgba(20, 51, 79, 0.9)), to(rgba(20, 51, 79, 0.7)));
    background: linear-gradient(rgba(20, 51, 79, 0.9) 67%, rgba(20, 51, 79, 0.7));
  }
  .three_spot .spot_tit {
    padding: 0 1em;
    font-size: 1.5em;
  }
  .three_spot .spot_item .scene {
    margin: 0 auto;
    -webkit-perspective: none;
            perspective: none;
  }
  .three_spot .spot_item:nth-child(n) .cube {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  .three_spot .spot_item .cube div {
    background-color: transparent;
  }
  .three_spot .spot_item .word {
    font-size: 1rem;
    text-align: center;
  }
  .three_spot .spot_item .word:nth-child(n) {
    padding: 0 30px;
  }

  .agd_cnt .tr {
    position: relative;
    display: block;
  }
  .agd_cnt .tr.tr_soft .td_topic {
    margin-top: 0;
  }
  .agd_cnt .td {
    padding: 0.2em 0.5em;
  }
  .agd_cnt .td:first-child {
    padding-top: 1em;
  }
  .agd_cnt .td:last-child {
    padding-bottom: 1em;
  }
  .agd_cnt .td_time {
    text-align: left;
  }
  .agd_cnt .td_topic {
    margin-top: 0.5em;
    display: block;
  }
  .agd_cnt .tpc {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-right: 0;
  }
  .agd_cnt .tpc_outline {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.5em 1em;
    display: inline-block;
  }
  .spk_item {
    margin-bottom: 40px;
  }

  .gift_cnt .wrap {
    padding-bottom: 30px;
  }
  .gift_cnt .gift_title {
    margin-top: 0;
  }

  .gift_item {
    padding: 0 0 30px;
  }
  .gift_item .pic {
    margin: 0 auto;
    width: 248px;
  }

  .company_cnt .wrap + .wrap {
    margin-top: 40px;
  }
  .company_cnt .cpy_title {
    margin-bottom: 0;
  }
  .company_cnt .cpy_item {
    max-width: 200px;
    margin: 0 auto;
  }

  .location_cnt .loc_top {
    display: block;
    padding: 15px;
  }
  .location_cnt .loc_top .loc {
    margin-bottom: 0;
    line-height: 1.2;
  }
  .location_cnt .loc_map {
    padding-top: 100%;
  }
  .location_cnt .covid {
    padding-left: 0;
    margin-top: 10px;
  }
  .location_cnt .covid::before {
    left: 0;
  }

  .detail_cnt {
    padding: 0 15px;
  }
}