html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  color: #031624;
  background-color: #eee;
}

a {
  color: inherit;
}

.sec_wrap {
  margin: 0 auto;
  padding: 3rem 0;
}

@media screen and (min-width: 1440px) {
  .sec_wrap {
    max-width: 1440px;
  }
}
.fix_aside {
  position: fixed;
  z-index: 99;
  right: 1rem;
  bottom: 0.5rem;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}
.fix_aside.is_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.fix_aside .fx_item {
  position: relative;
  display: block;
  border-radius: 0.5em;
  margin: 0.5em 0;
  width: 4em;
  height: 4em;
  background: #fff linear-gradient(120deg, #fff, #ddd);
  font-size: 0.95rem;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms, -webkit-transform 240ms, -webkit-box-shadow 240ms;
}
.fix_aside .fx_item.is_primary {
  background-image: linear-gradient(135deg, #ff8c00, #de006f);
  color: #fff;
}
.fix_aside .fx_item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}
.fix_aside .fx_item .in_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fix_aside .fx_item .in_wrap.txt {
  text-align: center;
  line-height: 1.3;
}
.fix_aside .fx_item .in_wrap.ic {
  width: 100%;
  height: 100%;
  padding: 0.6em;
}
.fix_aside .fx_item .in_wrap .ic_top {
  width: 100%;
  padding-top: 100%;
  background: url("img/ui/arrow_top.png") center/contain no-repeat;
}

.g_page {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
}

.kv {
  position: relative;
}
.kv .desktop {
  padding-top: 30%;
  background: url("img/kvbg.png") center/cover;
}
.kv .logo {
  position: absolute;
  left: 5%;
  top: 12.5%;
  width: 14.8958333333%;
}
.kv .tit {
  position: absolute;
  width: 67.7083333333%;
  left: 16.6666666667%;
  top: 32.9861111111%;
}
.kv .tit .t1 {
  position: relative;
  z-index: 2;
}
.kv .tit .t2 {
  position: relative;
  margin-top: -2.3%;
}

.g_main {
  padding: 60px 30px;
  font-size: 1.25em;
}
.g_main sup {
  color: #8e8e8e;
}
.g_main .intro {
  border: 1px solid #ac7736;
  margin: 0 -30px 1em;
  padding: 2em;
  text-align: center;
  color: #ac7736;
  line-height: 1.6;
}
.g_main .intro .sub {
  margin-top: 0.6em;
}
.g_main .parag {
  line-height: 1.65;
}
.g_main .parag b {
  color: #ac7736;
  font-weight: 700;
}
.g_main .remark {
  margin: 30px 0;
  padding: 1.25em 2.5em;
  background-color: #f7f7f7;
}
.g_main .remark div {
  color: #8e8e8e;
  font-style: italic;
  line-height: 1.7;
  font-size: 1rem;
}
.g_main .remark b {
  color: #000;
}
.g_main .qualifications {
  padding: 0 2.5em;
}
.g_main .qualifications .tit b {
  color: #ac7736;
}
.g_main .qualifications .tit span {
  color: #8e8e8e;
}
.g_main .qualifications .ways .item {
  position: relative;
  margin-top: 0.5em;
  padding-left: 1.4em;
  line-height: 1.2;
}
.g_main .qualifications .ways .item::before {
  content: "";
  position: absolute;
  left: 0.6em;
  top: 50%;
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  border-radius: 50%;
  background: linear-gradient(135deg, #de006f, #800d80);
}
.g_main .calltoaction {
  border: 1px dashed #ac7736;
  border-width: 1px 0;
  margin: 40px 2.5em 10px;
  padding: 15px 0;
  text-align: center;
}
.g_main .calltoaction .bttn {
  display: inline-block;
  letter-spacing: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.g_main .calltoaction .bttn span {
  display: block;
  border-radius: 4px;
  padding: 1em 4em;
  font-size: 1.2em;
  line-height: 1.1;
  background: -webkit-gradient(linear, left top, right top, from(#de006f), to(#800d80));
  background: linear-gradient(90deg, #de006f, #800d80);
  color: #fff;
  font-weight: 500;
}
.g_main .calltoaction .bttn:hover {
  text-decoration: none;
  letter-spacing: 0.25em;
}
.g_main .table_wrap {
  margin-top: 2em;
}
.g_main .table {
  border: 2px solid #ac7736;
  font-size: 1rem;
}
.g_main .table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ac7736;
}
.g_main .table .tr.tr_head {
  background: -webkit-gradient(linear, left top, right top, from(#800d80), to(#006aff));
  background: linear-gradient(90deg, #800d80, #006aff);
  color: #fff;
  line-height: 1.4;
}
.g_main .table .tr.tr_foot {
  border-bottom: 0 solid #ac7736;
}
.g_main .table .td {
  padding: 1em 0.75em;
}
.g_main .table .td_time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  text-align: center;
}
.g_main .table .td_time .date {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.1;
  color: #de006f;
}
.g_main .table .td_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 620px;
          flex: 0 0 620px;
}
.g_main .table .td_content .title {
  font-size: 1.25em;
  font-weight: 700;
  color: #5f00bf;
}
.g_main .table .td_content .cnt {
  margin-top: 0.25em;
  font-size: 1.125em;
}
.g_main .table .td_content .cnt ol {
  padding-left: 1.4em;
  margin-bottom: 0;
}
.g_main .table .td_speaker .name {
  line-height: 1.3;
  font-weight: 500;
  color: #0a26b3;
  font-size: 1.125em;
}
.g_main .table .td_speaker .p {
  margin-top: 4px;
  color: #8e8e8e;
}
.g_main .tips {
  margin-top: 1em;
  font-size: 0.875em;
  color: #8e8e8e;
}
.g_main .tips div {
  padding: 0.125em 1.5em;
}

.g_footer {
  position: relative;
  background: url("img/footerbg.png") center/cover;
  text-align: center;
  color: #fff;
}
.g_footer div {
  padding: 2em;
  text-align: center;
}

@media (max-width: 767px) {
  .g_first {
    background-image: url("img/mkvbg.png");
  }

  .g_main {
    padding: 40px 25px;
    font-size: 1.125em;
  }
  .g_main .intro {
    margin: 0 -10px 1em;
    padding: 1.5em 2em;
  }
  .g_main .intro .sub br {
    display: none;
  }
  .g_main .remark {
    padding: 1.25em 1.5em;
  }
  .g_main .qualifications {
    padding: 0 1.5em;
  }
  .g_main .calltoaction {
    margin: 30px 1.5em 20px;
  }
  .g_main .table .tr {
    display: block;
    padding: 1em;
  }
  .g_main .table .tr.tr_head {
    display: none;
  }
  .g_main .table .td {
    padding: 0.25em 0;
  }
  .g_main .table .td_time .date,
.g_main .table .td_time .time {
    display: inline-block;
    padding: 0 0.25rem;
  }
  .g_main .table .td_speaker {
    margin-top: 8px;
  }
  .g_main .table .td_speaker .p {
    margin-top: 4px;
  }
}