html {
  font-size: 18px;
}

body {
  background-color: #041729;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  color: #fff;
}

.mainbg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: #041729 url("img/mainbg.png") center/cover;
}

a {
  color: inherit;
}

.fix_aside {
  position: fixed;
  z-index: 99;
  right: 1rem;
  bottom: 1rem;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}
.fix_aside.is_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.fix_aside .fx_item {
  display: block;
  cursor: pointer;
  border-radius: 50%;
  padding: 6px;
  background-color: #fff;
  color: #041729;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.fix_aside .fx_item img {
  width: 32px;
}

.g_header {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 23, 41, 0.9)), color-stop(80%, rgba(4, 23, 41, 0.7)), to(rgba(4, 23, 41, 0)));
  background: linear-gradient(rgba(4, 23, 41, 0.9), rgba(4, 23, 41, 0.7) 80%, rgba(4, 23, 41, 0));
}
.g_header.is_active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: #06213c;
  width: 100%;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes underline {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes underline {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
.header_wrap {
  padding: 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_wrap .head_topic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header_wrap .nav_cnt {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header_wrap .nav_link {
  display: block;
  padding: 0.875rem;
  background-color: rgba(4, 23, 41, 0);
}
.header_wrap .nav_link:hover {
  background-color: rgba(185, 0, 85, 0.5);
  text-decoration: none;
  color: #2aceff;
}
.header_wrap .sign_item .nav_link {
  position: relative;
  overflow: hidden;
}
.header_wrap .sign_item .nav_link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
  width: 200%;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#2aceff), to(#b90055));
  background: linear-gradient(90deg, #2aceff, #b90055);
  -webkit-animation: underline 1.5s linear 0s infinite alternate;
          animation: underline 1.5s linear 0s infinite alternate;
}

.g_kv {
  position: relative;
  min-height: 100vh;
  font-size: 0.92vw;
}
.g_kv .logo {
  position: absolute;
  left: 4vw;
  top: 2vw;
}
.g_kv .logo img {
  display: inline-block;
  vertical-align: middle;
}
.g_kv .logo img:first-child {
  height: 1.8em;
}
.g_kv .logo img:last-child {
  margin-left: 5em;
  height: 3em;
}
.g_kv .title {
  position: absolute;
  left: 6vw;
  top: 22.5%;
  width: 38.75vw;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.g_kv .title .main {
  font-size: 4.84375em;
}
.g_kv .title .sub {
  margin-top: 1.25vw;
  margin-bottom: 2.25vw;
  font-size: 3.8541666667em;
}
.g_kv .title .date {
  padding-bottom: 1vw;
}
.g_kv .title .date img {
  width: 33.3333333333em;
}
.g_kv .title .loc {
  border-top: 2px solid #fff;
  display: inline-block;
  padding: 1vw 0.25em 0;
  font-weight: 400;
  font-size: 2.5em;
}
.g_kv .timer {
  margin-top: 3vw;
  color: #fff;
  width: 100%;
}
.g_kv .timer .time_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -4px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.33vw;
}
.g_kv .timer .tb {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 3em;
  height: 4em;
  padding-bottom: 1.5em;
  letter-spacing: normal;
  border-left: 3px solid #041729;
}
.g_kv .timer .tb:nth-child(1) {
  border-left-width: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #062440), to(rgba(4, 23, 41, 0)));
  background: linear-gradient(#062440 50%, rgba(4, 23, 41, 0));
}
.g_kv .timer .tb:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #093157), to(rgba(4, 23, 41, 0)));
  background: linear-gradient(#093157 50%, rgba(4, 23, 41, 0));
}
.g_kv .timer .tb:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #062440), to(rgba(4, 23, 41, 0)));
  background: linear-gradient(#062440 50%, rgba(4, 23, 41, 0));
}
.g_kv .timer .tb:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #093157), to(rgba(4, 23, 41, 0)));
  background: linear-gradient(#093157 50%, rgba(4, 23, 41, 0));
}
.g_kv .timer .tb::after {
  position: absolute;
  left: 0;
  bottom: 0.5em;
  width: 100%;
  line-height: 1;
  text-align: center;
  font-weight: 400;
  color: #d646bc;
}
.g_kv .timer .tb span {
  position: absolute;
  left: 50%;
  top: calc(50% - 0.38em);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 1.5em;
}
.g_kv .timer .d::after {
  content: "day";
}
.g_kv .timer .h::after {
  content: "hour";
}
.g_kv .timer .m::after {
  content: "min";
}
.g_kv .timer .s::after {
  content: "sec";
}

.slick-slider {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.sec_intro {
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(4, 23, 41, 0.33);
          box-shadow: 0 0 30px 0 rgba(4, 23, 41, 0.33);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #041729;
}
.sec_intro .cta_row {
  margin-top: 1em;
  font-size: 1.5rem;
}

.intro_cnt {
  margin: 0 auto;
  max-width: 45em;
  line-height: 1.67;
  color: #292b41;
}
.intro_cnt .strong {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 1em;
  line-height: 1;
}
.intro_cnt p:last-child {
  margin-bottom: 0;
}

.g_main {
  position: relative;
  background-color: rgba(4, 23, 41, 0.8);
}
.g_main .sec_title {
  margin-bottom: 20px;
  text-align: center;
}
.g_main .sec_title .tit {
  color: #fff;
  font-weight: 300;
  line-height: 1;
}
.g_main .sec_title .tit.h1 {
  margin-bottom: 0;
}
.g_main .cta_row {
  text-align: center;
}
.g_main .cta_row .cta {
  position: relative;
  display: inline-block;
  padding: 0.75em 2.5em;
  color: #fff;
  line-height: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(4, 23, 41, 0)), color-stop(25%, #041729), color-stop(75%, #041729), to(rgba(4, 23, 41, 0)));
  background: linear-gradient(90deg, rgba(4, 23, 41, 0), #041729 25%, #041729 75%, rgba(4, 23, 41, 0));
  letter-spacing: normal;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.g_main .cta_row .cta::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #b90055;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.g_main .cta_row .cta span {
  position: relative;
  z-index: 2;
  font-weight: 700;
}
.g_main .cta_row .cta:hover {
  padding-left: 4em;
  padding-right: 4em;
  letter-spacing: 0.33em;
  text-decoration: none;
}
.g_main .cta_row .cta:hover::after {
  background-color: rgba(185, 0, 85, 0);
}

.sec_agenda {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.agenda_cnt {
  padding: 0 40px;
}
.agenda_cnt .wrap {
  margin: 0 auto;
  max-width: 44em;
  text-align: center;
}
.agenda_cnt .wrap .tit {
  font-size: 1.25em;
  color: #b90055;
  font-weight: 700;
  margin-bottom: 10px;
}
.agenda_cnt .wrap .cta_row {
  margin-top: 20px;
  margin-bottom: 30px;
}
.agenda_cnt .wrap .cta_row .cta {
  font-size: 1.25em;
}

.ag_table {
  margin-top: 20px;
  border-radius: 2px;
  overflow: hidden;
  color: #fff;
  font-size: 1.125em;
}
.ag_table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid #545075;
}
.ag_table .tr.soft_bg {
  background-color: rgba(41, 43, 65, 0.75);
}
.ag_table .tr:last-child {
  border-bottom-width: 0;
}
.ag_table .td {
  padding: 6px 10px;
  line-height: 1;
}
.ag_table .td_time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  padding: 10px 16px;
  text-align: center;
  color: #2aceff;
}
.ag_table .td_topic {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  line-height: 1.3;
}
.ag_table .td_spk {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}
.ag_table .td_spk .name {
  font-weight: 700;
}
.ag_table .td_spk .cpy,
.ag_table .td_spk .job {
  margin-top: 0.5em;
  display: inline-block;
  color: #2aceff;
  font-size: 0.875em;
}

.sec_speaker {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.spk_cnt {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.spk_cnt .spk_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 1em;
  text-align: center;
}
.spk_cnt .pic {
  border-radius: 50%;
  margin: 0 auto;
  max-width: 202px;
  border: 1px solid #545075;
  overflow: hidden;
}
.spk_cnt .pic img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.spk_cnt .name {
  margin-top: 0.75em;
  font-size: 1.25em;
  line-height: 1;
  color: #2aceff;
}
.spk_cnt .info {
  margin-top: 0.33em;
}
.spk_cnt .info span {
  padding: 0.2em;
}

.sec_sponsor {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.sponsor_cnt {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.sps_categ {
  padding-top: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.sps_categ .tit {
  color: #b90055;
  text-align: center;
}
.sps_categ .items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}
.sps_categ .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  padding: 10px;
}
.sps_categ .item a {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}
.sps_categ .item a img {
  opacity: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.sps_categ .item a:hover img {
  opacity: 0.67;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.sps_categ .item img {
  width: 100%;
}

.sec_giveaway {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.giveaway_cnt {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gift_categ {
  padding: 0 15px;
  text-align: center;
}
.gift_categ .tag {
  display: inline-block;
  padding: 10px 2em 8px;
  line-height: 1;
  background: -webkit-gradient(linear, left top, right top, from(#2aceff), to(#b90055));
  background: linear-gradient(90deg, #2aceff, #b90055);
}
.gift_categ .text {
  margin: 16px 0;
}
.gift_categ .item {
  padding: 0 10px;
}
.gift_categ .item .pic img {
  max-width: 400px;
  border-radius: 4px;
}
.gift_categ .item .name {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  text-align: center;
  font-size: 1.125em;
}
.gift_categ .item .title {
  display: inline-block;
  padding: 6px 20px;
  border: 1px solid currentColor;
  color: #f5b41a;
  font-size: 0.8em;
}

.sec_location {
  -webkit-box-shadow: 0 0 30px 0 rgba(42, 206, 255, 0.33);
          box-shadow: 0 0 30px 0 rgba(42, 206, 255, 0.33);
  background: -webkit-gradient(linear, left top, right top, from(#041729), color-stop(75%, #292b41));
  background: linear-gradient(90deg, #041729, #292b41 75%);
}

.loc_cnt {
  margin: 0 auto;
  padding: 0 3%;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.loc_cnt .loc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: 40px 20px;
  padding-left: 0;
  line-height: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.loc_cnt .loc .sec_tit {
  margin-bottom: 20px;
  font-weight: 300;
}
.loc_cnt .loc .day {
  font-size: 1em;
  font-weight: 300;
}
.loc_cnt .loc .day .d {
  margin-right: 0.25em;
}
.loc_cnt .loc .tit {
  margin-bottom: 0.8em;
  font-size: 1.67em;
  color: #f5b41a;
}
.loc_cnt .loc .addr {
  font-size: 1.25em;
  line-height: 1;
  color: #2aceff;
  font-weight: 300;
}
.loc_cnt .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  position: relative;
  line-height: 0;
  min-height: 400px;
}
.loc_cnt .map iframe {
  width: 100%;
  height: 100%;
}

.sec_detail {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.detail_cnt {
  margin: 0 auto;
  max-width: 918px;
}
.detail_cnt .list {
  padding-left: 1.65em;
  margin-bottom: 0;
  font-size: 0.875em;
}
.detail_cnt .list li {
  padding: 6px 0;
  line-height: 1.3;
}
.detail_cnt .tip {
  margin-top: 20px;
  font-size: 0.75em;
  color: #2aceff;
  text-align: center;
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }

  .mainbg {
    background: #041729 url("img/m_mainbg.png") center bottom/cover;
  }

  .g_header {
    background: #06213c;
  }

  .header_wrap {
    display: block;
    padding: 0;
  }
  .header_wrap .head_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_wrap .menu_trigger {
    padding: 10px;
  }
  .header_wrap .menu_trigger .icon {
    padding: 22px 10px;
  }
  .header_wrap .menu_trigger .icon span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .header_wrap .menu_trigger .icon span:nth-child(2) {
    -webkit-transform: translateY(-2px) rotate(-45deg);
            transform: translateY(-2px) rotate(-45deg);
  }
  .header_wrap .menu_trigger .icon span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header_wrap .menu_trigger .icon span:last-child {
    display: none;
  }
  .header_wrap .menu_trigger .collapsed .icon {
    padding: 15px 10px;
  }
  .header_wrap .menu_trigger .collapsed .icon span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: #fff;
  }
  .header_wrap .menu_trigger .collapsed .icon span:nth-child(2) {
    margin: 6px 0;
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  .header_wrap .menu_trigger .collapsed .icon span:first-child {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .header_wrap .menu_trigger .collapsed .icon span:last-child {
    display: block;
    width: 18px;
  }
  .header_wrap .head_topic {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-right: 16px;
  }
  .header_wrap .nav_cnt {
    padding: 10px;
  }
  .header_wrap .sign_item {
    text-align: right;
    font-size: 1.25em;
    height: 68px;
    line-height: 1;
  }
  .header_wrap .sign_item.nav_item {
    display: none;
  }
  .header_wrap .sign_item .nav_link {
    display: inline-block;
    padding: 24px;
  }
  .g_kv {
    overflow: hidden;
    min-height: 67vh;
    font-size: 2.25vw;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(4, 23, 41, 0.8)), to(rgba(4, 23, 41, 0)));
    background: linear-gradient(rgba(4, 23, 41, 0.8) 50%, rgba(4, 23, 41, 0));
  }
  .g_kv .logo {
    top: 8vw;
    width: 92vw;
    text-align: center;
  }
  .g_kv .title {
    top: 20%;
    left: 4vw;
    width: 92vw;
  }
  .g_kv .title .sub {
    margin-top: 3vw;
    margin-bottom: 4vw;
  }
  .g_kv .title .date {
    padding-bottom: 2vw;
  }
  .g_kv .title .loc {
    padding-top: 2vw;
  }
  .g_kv .timer {
    margin-top: 6vw;
  }
  .g_kv .timer .time_box {
    font-size: 1.25rem;
  }

  .sec_intro .container {
    padding: 0 30px;
  }
  .sec_intro .cta_row .cta:hover {
    padding-left: 2.5em;
    padding-right: 2.5em;
    width: 100%;
  }

  .intro_cnt .strong {
    line-height: 1.3;
  }

  .sec_agenda {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(4, 23, 41, 0.8)), to(rgba(4, 23, 41, 0)));
    background: linear-gradient(rgba(4, 23, 41, 0.8) 96%, rgba(4, 23, 41, 0));
  }
  .sec_agenda .container {
    padding: 0 30px;
  }

  .agenda_cnt {
    padding: 0;
  }

  .ag_table .tr {
    display: block;
  }
  .ag_table .td {
    padding: 4px 0;
  }
  .ag_table .td_time {
    text-align: left;
  }
  .ag_table .td_topic {
    line-height: 1.3;
  }

  .spk_cnt .spk_item {
    padding: 15px;
  }

  .sps_categ:last-child {
    margin-top: 30px;
  }
  .sps_categ .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sps_categ .item {
    text-align: center;
  }
  .sps_categ .item img {
    width: auto;
    height: 150px;
  }

  .gift_categ:last-child {
    margin-top: 30px;
  }
  .gift_categ .item {
    padding: 10px 0;
  }
  .gift_categ .item:nth-child(n+2) {
    margin-top: 20px;
  }

  .loc_cnt {
    display: block;
    padding: 30px;
  }
  .loc_cnt .loc {
    padding: 0;
  }
  .loc_cnt .map {
    margin-top: 30px;
    padding-top: 100%;
  }
  .loc_cnt .map iframe {
    position: absolute;
    left: 0;
    top: 0;
  }
}