html {
  font-size: 16px;
}

body {
  font-family: "Tahoma", "Ubuntu", "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  color: #031624;
  background: url(img/kv/kv_bg.png) fixed center/cover;
}

a {
  color: inherit;
}

.pattern {
  background: radial-gradient(circle, #17f592 3px, transparent 4px) -3px -3px repeat;
  background-size: 32px 32px;
}

.sec_wrap {
  margin: 0 auto;
  padding: 3rem 0;
}

@media screen and (min-width: 1440px) {
  .sec_wrap {
    max-width: 1440px;
  }
}
.fix_aside {
  position: fixed;
  z-index: 99;
  right: 16px;
  bottom: 16px;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fix_aside.is_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.fix_aside .fx_item {
  position: relative;
  display: block;
  border-radius: 0.5em;
  width: 4em;
  height: 4em;
  background: #fff linear-gradient(120deg, #fff, #ddd);
  font-size: 0.95rem;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: -webkit-transform 240ms, -webkit-box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms;
  transition: transform 240ms, box-shadow 240ms, -webkit-transform 240ms, -webkit-box-shadow 240ms;
}
.fix_aside .fx_item:nth-child(n+2) {
  margin-top: 10px;
}
.fix_aside .fx_item.is_primary {
  background-image: linear-gradient(135deg, #2ff9ee, #6130df, #3d019e);
  color: #fff;
}
.fix_aside .fx_item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}
.fix_aside .fx_item .in_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fix_aside .fx_item .in_wrap.txt {
  text-align: center;
  line-height: 1.3;
}
.fix_aside .fx_item .in_wrap.ic {
  width: 100%;
  height: 100%;
  padding: 0.6em;
}
.fix_aside .fx_item .in_wrap .ic_top {
  width: 100%;
  padding-top: 100%;
  background: url("img/ui/arrow_top.png") center/contain no-repeat;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
.key_visual {
  background: #302ff0 url(img/kv/kv_bg.png) center/cover no-repeat;
  overflow: hidden;
}
.key_visual img {
  max-width: 100%;
}
.key_visual .kv__wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1920px;
  padding-top: min(56.25%, 1080px);
}
.key_visual .kv__wrapper .kv__title {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.key_visual .kv__wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(img/kv/kv_bgdot.png) center/cover no-repeat;
}
.key_visual .kv__square {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.key_visual .kv__square .square {
  position: absolute;
}
.key_visual .kv__square .sq1 {
  right: -2.6041666667%;
  top: 8.8888888889%;
  width: 18.2291666667%;
}
.key_visual .kv__square .sq2 {
  right: -6.25%;
  bottom: -8.7962962963%;
  width: 12.5%;
}
.key_visual .kv__square .sq3 {
  left: -2.6041666667%;
  bottom: -11.1111111111%;
  width: 22.0833333333%;
}
.key_visual .kv__square .sq4 {
  left: -5.7291666667%;
  top: 41.6666666667%;
  width: 9.7916666667%;
}
.key_visual .kv__square .sq5 {
  right: 26.0416666667%;
  top: -12.962962963%;
  width: 13.5416666667%;
}
.key_visual .kv__logo {
  position: absolute;
  left: 0;
  top: 8%;
  z-index: 10;
  width: 100%;
  padding: 0 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.key_visual .kv__logo .logo_v {
  width: 15.8333333333%;
}
.key_visual .kv__logo .divide {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 1px;
  margin: 0 2vw;
  background-color: #fff;
}
.key_visual .kv__logo .logo_d {
  width: 17.8125%;
}
.key_visual .kv__title {
  position: absolute;
  left: 0;
  top: 35%;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%;
  width: 100%;
  padding: 0 7%;
  text-align: center;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.key_visual .kv__title:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.key_visual .kv__title .t1 {
  width: 100%;
}
.key_visual .kv__title .t2 img {
  width: 55%;
}

.g_main .sc_title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.g_main .sc_title .tit {
  font-weight: 700;
  line-height: 1.3;
  color: #0b34d4;
}

:root {
  --sc_pdd: 60px;
}

.sc_intro {
  padding-top: var(--sc_pdd);
  padding-bottom: var(--sc_pdd);
  background-color: #fff;
}
.sc_intro .sec_cnts {
  margin: 0 auto;
}
.sc_intro .parag {
  max-width: 46em;
  font-size: 1.375rem;
  margin: 0 auto;
}
.sc_intro .parag p {
  margin-bottom: 0;
  text-align: justify;
  line-height: 1.8;
}
.sc_intro .parag p .gc {
  color: #16a939;
}
.sc_intro .parag p:nth-child(n+2) {
  margin-top: 1em;
}
.sc_intro .pic {
  margin: 0 auto;
  max-width: 80%;
}

.sc_part1 {
  margin-top: -20px;
  padding-bottom: var(--sc_pdd);
  background-color: #fff;
}
.sc_part1 .sc_title strong {
  color: #0b34d4;
}
.sc_part1 .items {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sc_part1 .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  text-align: center;
  padding: 0 15px;
}
.sc_part1 .item .pic {
  position: relative;
  padding: 25% 10%;
  background: url(img/icons/dots.png) center/contain no-repeat;
}
.sc_part1 .item .pic .icon {
  width: 50%;
}
.sc_part1 .item .txt {
  margin-top: 1em;
  font-size: 1.5em;
  line-height: 1.4;
}
.sc_part1 .cta_wrap {
  margin-top: var(--sc_pdd);
  padding-bottom: 10px;
}
.sc_part1 .cta_wrap .bttns {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sc_part1 .cta_wrap .bttn {
  padding: 0.75em 3em;
  font-size: 2em;
  line-height: 1.1;
  color: #fff;
  background: linear-gradient(120deg, #2ff9ee, #6130df 20%, #3d019e);
  border-radius: 3em;
  font-weight: 700;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  letter-spacing: 0.1em;
}
.sc_part1 .cta_wrap .bttn:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
}

.sc_part2 {
  position: relative;
  background: #302ff0 url(img/v12/bg.jpg) center/cover no-repeat;
  overflow: hidden;
}
.sc_part2::before, .sc_part2::after {
  content: "";
  position: absolute;
  z-index: 2;
}
.sc_part2::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0b34d4), to(rgba(11, 52, 212, 0)));
  background: linear-gradient(180deg, #0b34d4, rgba(11, 52, 212, 0));
}
.sc_part2 .container {
  position: relative;
  z-index: 4;
  max-width: 1080px;
  padding: 0;
  height: min(120vw, 860px);
  background: url(img/v12/main.svg) center 55%/cover no-repeat;
}
.sc_part2 .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--sc_pdd) * 2);
  background: radial-gradient(farthest-side at center top, #0b34d4, rgba(11, 52, 212, 0));
}
.sc_part2 .container .sec_cnts {
  position: relative;
  z-index: 3;
  padding-top: var(--sc_pdd);
  padding-bottom: var(--sc_pdd);
  height: 100%;
}
.sc_part2 .sc_title {
  color: #fff;
  margin-bottom: 40px;
}
.sc_part2 .sc_title strong {
  color: #93ea20;
}
.sc_part2 .items {
  position: relative;
  height: 100%;
  padding: 50px 0 0;
}
.sc_part2 .item {
  position: absolute;
  width: 32%;
}
.sc_part2 .item.it1 {
  left: 40px;
}
.sc_part2 .item.it2 {
  right: 40px;
}
.sc_part2 .item.it3 {
  left: 29%;
  width: 42%;
  bottom: 30px;
}
.sc_part2 .item .txt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.4;
  color: #fff;
}
.sc_part2 .item .txt .t {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}
.sc_part2 .item .txt .t span {
  display: block;
  color: #17f592;
  font-size: 0.875em;
}
.sc_part2 .item .txt .p {
  margin-top: 0.6em;
  padding: 0 1em;
}

.sc_agenda {
  padding-top: var(--sc_pdd);
  padding-bottom: var(--sc_pdd);
  background-color: #fff;
}
.sc_agenda .table_wrap {
  padding-bottom: 10px;
}
.sc_agenda .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc_agenda .tr.soft {
  margin: 0 -1rem;
  padding: 0 1rem;
  border-radius: 3em;
  background: linear-gradient(110deg, #2ff9ee, #6130df 2em, #3d019e);
  color: #fff;
}
.sc_agenda .tr.line {
  border-top: 1px solid #6130df;
}
.sc_agenda .td {
  padding: 1rem;
}
.sc_agenda .td.time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10rem;
          flex: 0 0 10rem;
  text-align: center;
}
.sc_agenda .td.topic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.3;
  font-size: 1.25em;
}
.sc_agenda .td.topic .point {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  background: -webkit-gradient(linear, left top, right top, from(#2ff9ee), to(#17f592));
  background: linear-gradient(90deg, #2ff9ee, #17f592);
  color: #0b34d4;
}
.sc_agenda .td.topic .point + div {
  display: block;
  margin-top: 0.33em;
}
.sc_agenda .td.speaker {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
}
.sc_agenda .td.speaker .td__spk:nth-child(n+2) {
  margin-top: 1rem;
}
.sc_agenda .td.speaker .spk_job + .spk_name {
  margin-top: 0.125rem;
}
.sc_agenda .td.speaker .spk_name {
  font-size: 1.25em;
  color: #0b34d4;
}
.sc_agenda .td.speaker .spk_name strong + span {
  margin-left: 0.5rem;
}
.sc_speaker {
  position: relative;
  padding-top: var(--sc_pdd);
  padding-bottom: var(--sc_pdd);
  background-color: rgba(11, 52, 212, 0.33);
  overflow: hidden;
}
.sc_speaker .sqs {
  width: 100%;
}
.sc_speaker .sqs > div {
  position: absolute;
}
.sc_speaker .sqs > div img {
  max-width: 100%;
}
.sc_speaker .sqs .sq1 {
  right: -4.1666666667%;
  top: -5.5555555556%;
  width: 18.2291666667%;
  opacity: 0.8;
}
.sc_speaker .sqs .sq2 {
  left: -4.1666666667%;
  bottom: -11.1111111111%;
  width: 22.0833333333%;
  opacity: 0.9;
}
.sc_speaker .sc_title {
  position: relative;
  z-index: 3;
}
.sc_speaker .sc_title .tit {
  color: #fff;
}
.sc_speaker .items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}
.sc_speaker .spk_item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  padding: 20px 30px 0;
}
.sc_speaker .spk_item::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  background: url(img/icons/dots.png) center/cover;
  z-index: 1;
}
.sc_speaker .spk_item:first-child::before {
  top: 0;
  left: -20px;
}
.sc_speaker .spk_item:last-child::before {
  top: 70px;
  right: -24px;
}
.sc_speaker .spk_item .photo {
  position: relative;
  z-index: 3;
  max-width: 340px;
  margin: 0 auto 10px;
  border-radius: 34px;
  overflow: hidden;
}
.sc_speaker .spk_item img {
  max-width: 100%;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.sc_speaker .spk_item .job {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.25em;
  padding: 0.4em 1em 0.5em;
  border-start-start-radius: 1em;
  background-color: #0b34d4;
  text-align: center;
}
.sc_speaker .spk_item .text {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 0.75em 0 0;
  text-align: center;
  font-size: 1.375em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.sc_speaker .spk_item .name {
  line-height: 1;
  color: #f4e891;
  font-size: 1.3em;
  font-weight: 500;
}
.sc_speaker .spk_item .name .en {
  padding-left: 0.5em;
}
.sc_speaker .spk_item .tit {
  margin-top: 0.5em;
  line-height: 1.4;
  color: #fff;
}

.sc_gift {
  position: relative;
  padding-top: var(--sc_pdd);
  padding-bottom: var(--sc_pdd);
  background-color: #fff;
  overflow: hidden;
}
.sc_gift .pattern {
  position: absolute;
}
.sc_gift .pattern.p1 {
  left: 0;
  bottom: 0;
  width: 33%;
  height: 120px;
}
.sc_gift .pattern.p2 {
  right: 0;
  top: 5px;
  width: 20%;
  height: 150px;
}
.sc_gift .container {
  position: relative;
  z-index: 2;
  max-width: min(1440px, 100%);
}
.sc_gift .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.gft_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 10px;
}
.gft_item .wrapper {
  position: relative;
  border-radius: 30px;
  height: 100%;
  overflow: hidden;
  padding: 53px 20px 20px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gft_item .categ {
  position: absolute;
  top: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
  padding: 15px 30px;
  background: -webkit-gradient(linear, left top, right top, from(#6130df), to(#3d019e));
  background: linear-gradient(90deg, #6130df, #3d019e);
  font-size: 18px;
  line-height: 1;
  color: #fff;
}
.gft_item .categ .c {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.7em;
  padding: 0.4em 0.6em;
  border-radius: 0.4em;
  line-height: 1;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: -0.2em;
  background: -webkit-gradient(linear, left top, right top, from(#2ff9ee), to(#17f592));
  background: linear-gradient(90deg, #2ff9ee, #17f592);
  color: #0b34d4;
}
.gft_item .text {
  position: relative;
  padding-top: 15px;
  font-size: 1.25em;
}
.gft_item .name {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.3;
  height: 2.6em;
  color: #0b34d4;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gft_item .detail {
  margin-top: 0.5em;
  padding: 0 10px;
  font-size: 0.875em;
  line-height: 1.4;
  text-align: justify;
}
.gft_item .pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin: 20px auto 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gft_item .pic img {
  width: 100%;
  border-radius: 20px;
}
.gft_item .tip {
  padding: 15px 0 0;
  line-height: 1.3;
  font-size: 0.875em;
  color: #005f4b;
  text-align: center;
}

.g_footer .logo_items {
  font-size: 0;
  text-align: center;
}
.g_footer .logo_items .logo {
  display: inline-block;
}
.g_footer .logo_items .logo a {
  padding: 20px 30px;
  display: block;
  text-align: center;
}
.g_footer .logo_items .logo img {
  width: 200px;
}
.g_footer .sc_company {
  position: relative;
  background: linear-gradient(120deg, #3d019e, #0b34d4 33%, #0b34d4 67%, #2ff9ee);
  padding: 80px 0;
  overflow: hidden;
}
.g_footer .sc_company .pattern.p1 {
  position: absolute;
  left: -44px;
  bottom: -30px;
  width: 20%;
  height: 160px;
}
.g_footer .sc_company .container {
  position: relative;
  padding-left: 7%;
  padding-right: 7%;
}
.g_footer .sc_company .parag_wrap {
  position: relative;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 45px 60px;
  background: #0b34d4;
}
.g_footer .sc_company .parag_wrap::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  right: -8px;
  bottom: -8px;
  z-index: 1;
  border-radius: 12px 16px 24px 16px;
  border: 1px solid #2ff9ee;
}
.g_footer .sc_company .parag_wrap .parag {
  position: relative;
  z-index: 2;
  color: #fff;
}
.g_footer .sc_company .parag_wrap .parag a {
  color: #2ff9ee;
  text-decoration: underline;
}
.g_footer .sc_company .parag_wrap .parag a:hover {
  color: #f4e891;
}
.g_footer .sc_company .company_tit {
  position: absolute;
  left: 50%;
  top: 4px;
  z-index: 3;
  padding: 0 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0b34d4;
}
.g_footer .sc_company .company_tit .ti,
.g_footer .sc_company .company_tit .nam {
  display: inline-block;
  vertical-align: middle;
}
.g_footer .sc_company .company_tit .ti {
  border-radius: 20px;
  padding: 4px 12px;
  border: 1px solid #fff;
  color: #fff;
}
.g_footer .sc_company .company_tit .nam {
  margin-left: 6px;
  width: 200px;
}
.g_footer .sc_logos {
  position: relative;
  overflow: hidden;
  background: linear-gradient(120deg, #3d019e, #0b34d4);
}
.g_footer .sc_logos .pattern.p1 {
  position: absolute;
  left: -44px;
  top: -42px;
  width: 20%;
  height: 160px;
  background: radial-gradient(circle, #fff 3px, transparent 4px) -8px -9px/27px 27px repeat;
}
.g_footer .sc_logos .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  text-align: center;
  padding: 3em 0;
}
.g_footer .sc_logos .item {
  display: block;
  height: 36px;
}
.g_footer .sc_logos .item.i3 {
  height: 48px;
}
.g_footer .sc_logos .item img {
  height: 100%;
}
.g_footer .sc_logos .between {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 1px;
  margin: 0 50px;
  background-color: #fff;
}

.modal-content {
  border-width: 0;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

.modal-header .modal_t {
  position: relative;
}
.modal-header button.close {
  font-size: 2rem;
  line-height: 1;
  color: #000;
  opacity: 1;
}

.modal-body {
  padding: 0 3rem 2rem;
  font-size: 1.125rem;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .fix_aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fix_aside .fx_item:nth-child(n+2) {
    margin-top: 0;
    margin-left: 10px;
  }
  .key_visual .kv__wrapper {
    padding-top: calc(50vh + 50vw);
  }
  .g_main .sc_title {
    font-size: 1.875em;
  }
  .sc_intro {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sc_intro .parag {
    padding: 0 1rem;
  }
  .sc_intro .parag p {
    font-size: 1.125rem;
    text-align: left;
  }
  .sc_intro .pic {
    max-width: 100%;
  }
  .sc_part1 .sc_title strong {
    display: block;
  }
  .sc_part1 .item {
    margin-bottom: 40px;
  }
  .sc_part1 .item:last-child {
    margin-bottom: 0;
  }
  .sc_part1 .item .pic {
    width: 60%;
    padding: 10% 10%;
    margin: 0 auto;
  }
  .sc_part1 .item .pic .icon {
    width: 60%;
  }
  .sc_part1 .item .txt {
    margin-top: 15px;
    display: inline-block;
    max-width: 12em;
    font-size: 1.25em;
  }
  .sc_part1 .cta_wrap {
    padding: 0 15px;
  }
  .sc_part1 .cta_wrap .bttn {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0.75em 0;
    font-size: 1.75em;
    text-align: center;
  }
  .sc_part2 .container {
    height: auto;
    padding-bottom: 67vw;
    background: url(img/v12/main.svg) center 120%/120vw no-repeat;
  }
  .sc_part2 .sc_title strong {
    display: block;
  }
  .sc_part2 .items {
    padding-top: 0;
  }
  .sc_part2 .item {
    position: static;
    width: 100%;
    text-align: center;
  }
  .sc_part2 .item.it2 {
    margin-top: 40px;
  }
  .sc_part2 .item.it3 {
    margin-top: 40px;
    width: 100%;
  }
  .sc_part2 .item .pic .icon {
    width: 160px;
  }
  .sc_part2 .item .txt {
    padding-left: 0;
    font-size: 1.125em;
  }
  .sc_agenda .table_wrap {
    padding: 0 15px;
  }
  .sc_agenda .tr {
    display: block;
    padding: 0.65rem 0.5rem;
  }
  .sc_agenda .tr.soft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
  }
  .sc_agenda .tr.soft .td {
    padding: 1rem;
  }
  .sc_agenda .tr.soft .td.time {
    color: #fff;
  }
  .sc_agenda .td {
    padding: 0.5rem;
  }
  .sc_agenda .td.time {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    text-align: left;
    color: #3d019e;
  }
  .sc_agenda .td.topic {
    padding: 0 0.5rem;
  }
  .sc_speaker .sqs {
    width: 100%;
  }
  .sc_speaker .sqs > div {
    position: absolute;
  }
  .sc_speaker .sqs > div img {
    max-width: 100%;
  }
  .sc_speaker .sqs .sq1 {
    right: -10%;
    top: -3%;
    width: 50%;
    opacity: 0.8;
  }
  .sc_speaker .sqs .sq2 {
    left: -10%;
    bottom: -3%;
    width: 50%;
    opacity: 0.9;
  }
  .sc_speaker .spk_item {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .sc_speaker .spk_item .photo {
    max-width: 240px;
    margin-bottom: 0;
  }
  .sc_speaker .spk_item::before {
    display: none;
  }
  .sc_speaker .spk_item .text {
    font-size: 1.25em;
  }
  .sc_gift .pattern {
    position: absolute;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .sc_gift .pattern.p1 {
    left: -36px;
    bottom: -36px;
    width: 50%;
    height: 160px;
  }
  .sc_gift .pattern.p2 {
    right: -40px;
    top: -70px;
    width: 40%;
    height: 200px;
  }
  .gft_item {
    margin-bottom: 30px;
  }
  .gft_item .name {
    font-size: 1.2em;
  }
  .gft_item:last-child {
    margin-bottom: 0;
  }
  .g_footer .sc_company .pattern.p1,
.g_footer .sc_logos .pattern.p1 {
    width: 38%;
    height: 118px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .g_footer .sc_company {
    background: linear-gradient(150deg, #0b34d4 33%, #0b34d4 67%, #2ff9ee);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
  }
  .g_footer .sc_company .pattern.p1 {
    bottom: -34px;
  }
  .g_footer .sc_company .container {
    padding-left: 0;
    padding-right: 0;
  }
  .g_footer .sc_company .parag_wrap {
    padding: 45px 30px 30px;
  }
  .g_footer .sc_company .parag_wrap::after {
    left: 6px;
    top: 6px;
    right: 6px;
  }
  .g_footer .sc_company .company_tit {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  .g_footer .sc_company .company_tit .nam {
    margin-left: 0;
    margin-top: 10px;
  }
  .g_footer .sc_logos .logos {
    display: block;
    padding: 60px 0;
  }
  .g_footer .sc_logos .logos .between {
    margin: 20px auto;
    width: 100%;
    height: 1px;
    background-color: transparent;
  }
  .modal-header {
    padding-left: 1.5rem;
  }
  .modal-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}