$kv1: #2ff9ee;
$kv2: #17f592;
$kv3: #0b34d4;
$kv4: #3d019e;
$kv5: #6130df;

$veeam1: #002d33;
$veeam2: #93ea20;
$veeam3: #005f4b;
$veeam4: #16a939;

$gold: #ceba99;
$yellow: #f4e891;
$blue: #4aafff;

$white: #fff;
$black: #031624;


@mixin grad($deg) {
    background-image: linear-gradient($deg, $kv1, $kv2);
}

$ff_en: 'Tahoma', 'Ubuntu', 'Noto Sans TC', sans-serif;

html {
    font-size: 16px;
}

body {
    font-family: $ff_en;
    overflow-x: hidden;
	color: $black;
	background: url(img/kv/kv_bg.png) fixed (center/cover);
}

a {
    color: inherit;
}

.pattern {
	background: radial-gradient(circle,$kv2 3px,transparent 4px) -3px -3px repeat;
	background-size: 32px 32px;
}

.sec_wrap {
    margin: 0 auto;
    padding: 3rem 0;
}
@media screen and (min-width:1440px) {
    .sec_wrap {
        max-width: 1440px;
    }
}

.fix_aside {
    position: fixed;
    z-index: 99;
    right: 16px;
    bottom: 16px;
    transform: translateX(150%);
    transition: transform 600ms;
	display: flex;
	flex-direction: column;
    &.is_active {
        transform: translateX(0%);
    }
    .fx_item {
        position: relative;
        display: block;
        border-radius: .5em;
        width: 4em;
        height: 4em;
        background: #fff linear-gradient(120deg, #fff, #ddd);
        font-size: 0.95rem;
        cursor: pointer;
        box-shadow: 0 1px 3px 0 rgba(#000, .19);
        transition: transform 240ms, box-shadow 240ms;
		&:nth-child(n+2) {
			margin-top: 10px;
		}
        &.is_primary {
			background-image: linear-gradient(135deg, $kv1, $kv5, $kv4);
			color: #fff;
        }
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 5px 0 rgba(#000, .19);
        }
        .in_wrap {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            &.txt {
                text-align: center;
                line-height: 1.3;
            }
            &.ic {
                width: 100%;
                height: 100%;
                padding: .6em;
            }
            .ic_top {
                width: 100%;
                padding-top: 100%;
                background: url('img/ui/arrow_top.png') center/contain no-repeat;
            }
        }
    }
}

.g_first {

}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.key_visual {
    background: #302ff0 url(img/kv/kv_bg.png) (center/cover) no-repeat;
	overflow: hidden;
	img {
		max-width: 100%;
	}
	.kv__wrapper {
		position: relative;
		display: block;
		margin: 0 auto;
		max-width: 1920px;
		padding-top: min(calc(10800% / 192), 1080px);
		.kv__title {
			transition: all 400ms;
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url(img/kv/kv_bgdot.png) (center/cover) no-repeat;
		}
		
	}

	.kv__square {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.square {
			position: absolute;
		}
		.sq1 {
			right: calc(-500% / 192);
			top: calc(960% / 108);
			width: calc(3500% / 192);
		}
		.sq2 {
			right: calc(-1200% / 192);
			bottom: calc(-950% / 108);
			width: calc(2400% / 192);
		}
		.sq3 {
			left: calc(-500% / 192);
			bottom: calc(-1200% / 108);
			width: calc(4240% / 192);
		}
		.sq4 {
			left: calc(-1100% / 192);
			top: calc(4500% / 108);
			width: calc(1880% / 192);
		}
		.sq5 {
			right: calc(5000% / 192);
			top: calc(-1400% / 108);
			width: calc(2600% / 192);
		}
	}
	
	.kv__logo {
		position: absolute;
		left: 0;
		top: 8%;
		z-index: 10;
		width: 100%;
		padding: 0 6%;
		display: flex;
		align-items: center;
		.logo_v {
			width: calc(3040% / 192);
		}
		.divide {
			align-self: stretch;
			width: 1px;
			margin: 0 2vw;
			background-color: #fff;
		}
		.logo_d {
			width: calc(3420% / 192);
		}
	}

	.kv__title {
		position: absolute;
		left: 0;
		top: 35%;
		z-index: 8;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		height: 50%;
		width: 100%;
		padding: 0 7%;
		text-align: center;

		animation-name: floating;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		&:hover {
			transform: scale(1.02);
		}
		.t1 {
			width: 100%;
		}
		.t2 {
			img {
				width: 55%;
			}
		}
	}
	
}

.g_main {
	.sc_title {
		text-align: center;
		font-size: 2rem;
		margin-bottom: 1rem;
		.tit {
			font-weight: 700;
			line-height: 1.3;
			color: $kv3;
		}
	}
}

:root {
	--sc_pdd: 60px;
}

.sc_intro {
	padding-top: var(--sc_pdd);
	padding-bottom: var(--sc_pdd);
	background-color: #fff;
	.sec_cnts {
		margin: 0 auto;
	}
	.parag {
		max-width: 46em;
		font-size: 1.375rem;
		margin: 0 auto;
		p {
			margin-bottom: 0;
			text-align: justify;
			line-height: 1.8;
			.gc {
				color: $veeam4;
			}
			&:nth-child(n+2) {
				margin-top: 1em;
			}
		}
	}
	.pic {
		margin: 0 auto;
		max-width: 80%;
	}

}

.sc_part1 {
	margin-top: -20px;
	padding-bottom: var(--sc_pdd);
	background-color: #fff;
	.sc_title {
		strong {
			color: $kv3;
		}
	}
	.items {
		justify-content: space-around;
	}
	.item {
		flex: 0 0 25%;
		text-align: center;
		padding: 0 15px;
		.pic {
			position: relative;
			padding: 25% 10%;
			background: url(img/icons/dots.png) (center/contain) no-repeat;
			.icon {
				width: 50%;
			}
		}
		.txt {
			margin-top: 1em;
			font-size: 1.5em;
			line-height: 1.4;
		}
	}

	.cta_wrap {
		margin-top: var(--sc_pdd);
		padding-bottom: 10px;
		.bttns {
			text-align: center;
			display: flex;
			justify-content: center;
		}
		.bttn {
			padding: .75em 3em;
			font-size: 2em;
			line-height: 1.1;
			color: #fff;
			background: linear-gradient(120deg, $kv1, $kv5 20%, $kv4);
			border-radius: 3em;
			font-weight: 700;
			box-shadow: 0 0 5px 0 rgba(#000, 0);
			transition: all 300ms;
			letter-spacing: .1em;
			&:hover {
				text-decoration: none;
				transform: scale(1.1);
				box-shadow: 5px 5px 10px 0 rgba(#000, .29);
			}
		}
	}
}

.sc_part2 {
	position: relative;
	// background: url(img/bg__part2@3x.png) (right center/contain) no-repeat, url(img/v12/bg.jpg) (center/cover) no-repeat;
	// background-color: #302ff0;
	background: #302ff0 url(img/v12/bg.jpg) (center/cover) no-repeat;
	overflow: hidden;
	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: 2;
	}
	&::before {
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background: linear-gradient(180deg, $kv3, rgba($kv3, 0));
	}
	// &::after {
	// 	top: 0;
	// 	right: 0;
	// 	width: 50%;
	// 	height: 100%;
	// 	background: linear-gradient(-90deg, $kv3, rgba($kv3, 0));
	// }
	.container {
		position: relative;
		z-index: 4;
		max-width: 1440px;
		padding: 0;
		height: min(120vw, 960px);
		background: url(img/v12/main.svg) (center 55%/cover) no-repeat;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(var(--sc_pdd) * 2);
			background: radial-gradient(farthest-side at center top, $kv3, rgba($kv3, 0));
		}
		.sec_cnts {
			position: relative;
			z-index: 3;
			padding-top: var(--sc_pdd);
			padding-bottom: var(--sc_pdd);
			height: 100%;
		}
	}
	.sc_title {
		color: #fff;
		margin-bottom: 40px;
		strong {
			color: $veeam2;
		}
	}
	.items {
		position: relative;
		height: 100%;
		padding: 50px 0 0;
	}
	.item {
		position: absolute;
		width: 32%;
		&.it1 {
			left: 40px;
		}
		&.it2 {
			right: 40px;
		}
		&.it3 {
			left: 29%;
			width: 42%;
			bottom: 30px;
		}
		.txt {
			flex: 1 1 0;
			text-align: center;
			font-size: 1.5em;
			line-height: 1.4;
			color: #fff;
			.t {
				font-size: 1.4em;
				font-weight: 700;
				span {
					display: block;
					color: $kv2;
					font-size: .875em;
				}
			}
			.p {
				margin-top: .6em;
				padding: 0 1em;
			}
		}
	}
}

.sc_agenda {
	padding-top: var(--sc_pdd);
	padding-bottom: var(--sc_pdd);
	background-color: #fff;
	.table_wrap {
		padding-bottom: 10px;
	}
	.tr {
		display: flex;
		align-items: center;
		&.soft {
			margin: 0 -1rem;
			padding: 0 1rem;
			border-radius: 3em;
			background: linear-gradient(110deg, $kv1, $kv5 2em, $kv4);
			color: #fff;
		}
		&.line {
			border-top: 1px solid $kv5;
		}
	}
	.td {
		padding: 1rem;
		&.time {
			flex: 0 0 10rem;
			text-align: center;
		}
		&.topic {
			flex: 1;
			line-height: 1.3;
			font-size: 1.25em;
			.point {
				display: inline-block;
				vertical-align: middle;
				font-size: .8em;
				padding: .25em .5em;
				border-radius: .5em;
				background: linear-gradient(90deg, $kv1, $kv2);
				color: $kv3;
				&+div {
					display: inline-block;
					vertical-align: middle;
					padding-left: .2em;
				}
			}
		}
		&.speaker {
			flex: 0 0 20rem;
			.td__spk {
				&:nth-child(n+2) {
					margin-top: 1rem;
				}
			}
			.spk_job {
				&+.spk_name {
					margin-top: .125rem;
				}
			}
			.spk_name {
				font-size: 1.125em;
				strong {
					color: $kv3;
					&+span {
						margin-left: .5rem;
					}
				}
			}
		}
		
	}
	.td__tm {}
	.td__tpc {}
	.td__spk {}
}

.sc_speaker {
	position: relative;
	padding-top: var(--sc_pdd);
	padding-bottom: var(--sc_pdd);
	background-color: rgba($kv3, .33);
	overflow: hidden;
	.sqs {
		width: 100%;
		&>div {
			position: absolute;
			img {
				max-width: 100%;
			}
		}
		.sq1 {
			right: calc(-800% / 192);
			top: calc(-600% / 108);
			width: calc(3500% / 192);
			opacity: .8;
		}
		.sq2 {
			left: calc(-800% / 192);
			bottom: calc(-1200% / 108);
			width: calc(4240% / 192);
			opacity: .9;
		}
	}
	.sec_cnts {

	}
	.sc_title {
		position: relative;
		z-index: 3;
		.tit {
			color: #fff;
		}
	}
	.items {
		justify-content: center;
		padding-bottom: 10px;
	}
	.spk_item {
		position: relative;
		flex: 0 1 400px;
		padding: 20px 30px 0;
		&::before {
			content: '';
			position: absolute;
			width: 240px;
			height: 240px;
			background: url(img/icons/dots.png) center/cover;
			z-index: 1;
		}
		&:first-child::before {
			top: 0;
			left: -20px;
		}
		&:last-child::before {
			top: 70px;
			right: -24px;
		}
		.photo {
			position: relative;
			z-index: 3;
			max-width: 340px;
			margin: 0 auto 10px;
			border-radius: 34px;
			overflow: hidden;
		}
		img {
			max-width: 100%;
			transform-origin: center top;
			transform: scale(1.2);
		}
		.job {
			position: absolute;
			right: 0;
			bottom: 0;
			font-size: 1.25em;
			padding: .4em 1em .5em;
			border-start-start-radius: 1em;
			background-color: $kv3;
			text-align: center;
		}
		.text {
			position: relative;
			z-index: 5;
			width: 100%;
			padding: .75em 0 0;
			text-align: center;
			font-size: 1.375em;
			text-shadow: 0 1px 2px rgba(#000, .25);
		}
		.name {
			line-height: 1;
			color: $yellow;
			font-size: 1.3em;
			font-weight: 500;
			.zh {
			}
			.en {
				padding-left: .5em;
			}
		}
		.tit {
			margin-top: .5em;
			line-height: 1.4;
			color: #fff;
		}
	}
}


.sc_gift {
	position: relative;
	padding-top: var(--sc_pdd);
	padding-bottom: var(--sc_pdd);
	background-color: #fff;
	overflow: hidden;
	.pattern {
		position: absolute;
		&.p1 {
			left: 0;
			bottom: 0;
			width: 33%;
			height: 120px;
		}
		&.p2 {
			right: 0;
			top: 5px;
			width: 20%;
			height: 150px;
		}
	}
	.container {
		position: relative;
		z-index: 2;
		max-width: min(1440px, 100%);
	}
	.items {
		display: flex;
		justify-content: center;
		padding-bottom: 10px;
	}
}
.gft_item {
	flex: 0 0 25%;
	padding: 0 10px;
	&.gft1 {
		.wrapper {
		}
	}
	.wrapper {
		position: relative;
		border-radius: 30px;
		height: 100%;
		overflow: hidden;
		padding: 53px 20px 20px;
		box-shadow: 0 3px 10px 0 rgba(#000, .19);
		background-color: #fff;
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	.categ {
		position: absolute;
		top: 0;
		align-self: center;
		border-end-start-radius: 30px;
		border-end-end-radius: 30px;
		padding: 15px 30px;
		background: linear-gradient(90deg, $kv5, $kv4);
		font-size: 18px;
		line-height: 1;
		color: #fff;
		.c {
			display: inline-block;
			vertical-align: middle;
			margin-left: .7em;
			padding: .4em .6em;
			border-radius: .4em;
			line-height: 1;
			font-size: 0.75em;
			font-weight: 400;
			margin-top: -0.2em;
			background: linear-gradient(90deg, $kv1, $kv2);
			color: $kv3;
		}
	}
	.text {
		position: relative;
		padding-top: 15px;
		font-size: 1.25em;
	}
	.name {
		font-size: 1.125em;
		font-weight: 700;
		line-height: 1.3;
		height: calc(2em * 1.3);
		color: $kv3;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
	}
	.detail {
		margin-top: .5em;
		padding: 0 10px;
		font-size: 0.875em;
		line-height: 1.4;
		text-align: justify;
	}
	.pic {
		flex: 1;
		width: 100%;
		margin: 20px auto 0;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		img {
			width: 100%;
			border-radius: 20px;
		}
	}
	.tip {
		padding: 15px 0 0;
		line-height: 1.3;
		font-size: 0.875em;
		color: $veeam3;
		text-align: center;
	}
}

.g_footer {
	.logo_items {
		font-size: 0;
		text-align: center;
		.logo {
			display: inline-block;
			a {
				padding: 20px 30px;
				display: block;
				text-align: center;
			}
			img {
				width: 200px;
			}
		}
	}
	.sc_company {
		position: relative;
		background: linear-gradient(120deg, $kv4, $kv3 33%, $kv3 67%, $kv1);
		padding: 80px 0;
		overflow: hidden;
		.pattern.p1 {
			position: absolute;
			left: -44px;
			bottom: -30px;
			width: 20%;
			height: 160px;
		}
		.container {
			position: relative;
			padding-left: 7%;
			padding-right: 7%;
		}
		.parag_wrap {
			position: relative;
			border-radius: 20px;
			border: 1px solid #fff;
			padding: 45px 60px;
			background: $kv3;
			&::after {
				content: '';
				position: absolute;
				left: 8px;
				top: 8px;
				right: -8px;
				bottom: -8px;
				z-index: 1;
				border-radius: 12px 16px 24px 16px;
				border: 1px solid $kv1;
			}
			.parag {
				position: relative;
				z-index: 2;
				color: #fff;
				a {
					color: $kv1;
					text-decoration: underline;
					&:hover {
						color: $yellow;	
					}
				}
			}
		}
		.company_tit {
			position: absolute;
			left: 50%;
			top: 4px;
			z-index: 3;
			padding: 0 10px;
			transform: translate(-50%, -50%);
			background-color: $kv3;
			.ti,
			.nam {
				display: inline-block;
				vertical-align: middle;
			}
			.ti {
				border-radius: 20px;
				padding: 4px 12px;
				border: 1px solid #fff;
				color: #fff;
			}
			.nam {
				margin-left: 6px;
				width: 200px;
			}
		}
	}
	.sc_logos {
		position: relative;
		overflow: hidden;
		background: linear-gradient(120deg, $kv4, $kv3);
		.pattern.p1 {
			position: absolute;
			left: -44px;
			top: -42px;
			width: 20%;
			height: 160px;
			background: radial-gradient(circle, #fff 3px, transparent 4px) -8px -9px/27px 27px repeat;
		}
		.logos {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.25em;
			text-align: center;
			padding: 3em 0;
		}
		.item {
			display: block;
			height: 36px;
			&.i3 {
				height: 48px;
			}
			img {
				height: 100%;
			}
		}
		.between {
			align-self: stretch;
			width: 1px;
			margin: 0 50px;
			background-color: #fff;
		}
	}
}

.modal-content {
    border-width: 0;
    // background-color: #eaf3f5;
    box-shadow: 0 4px 12px 0 rgba(#000, .19);
}
.modal-header { 
    .modal_t {
		position: relative;
    }
    button.close {
        font-size: 2rem;
        line-height: 1;
        color: #000;
        opacity: 1;
    }
}
.modal-body {
    padding: 0 3rem 2rem;
	font-size: 1.125rem;
}



@media (min-width: 768px) {

}

@media (max-width: 992px) {
	html {
		font-size: 14px;
	}
}
@media (max-width: 767px) {

	html {
		font-size: 16px;
	}

	.fix_aside {
		flex-direction: row;
		.fx_item {
			&:nth-child(n+2) {
				margin-top: 0;
				margin-left: 10px;
			}
		}
	}

	.g_first {
		
	}

	.key_visual {
		.kv__wrapper {
			padding-top: calc(50vh + 50vw);
		}
	}
	
	.g_main {
		.sc_title {
			font-size: 1.875em;
			.tit { 
			}
		}
	}
    .sc_intro {
		padding-top: 40px;
		padding-bottom: 40px;
		.parag {
			padding: 0 1rem;
			p {
				font-size: 1.125rem;
				text-align: left;
			}
		}
		.pic {
			max-width: 100%;
		}
    }
	
	.sc_part1 {
		.sc_title {
			strong {
				display: block;
			}
		}
		.item {
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}
			.pic {
				width: 60%;
				padding: 10% 10%;
				margin: 0 auto;
				.icon {
					width: 60%;
				}
			}
			.txt {
				margin-top: 15px;
				display: inline-block;
				max-width: 12em;
				font-size: 1.25em;
			}
		}
		.cta_wrap {
			padding: 0 15px;
			.bttn {
				flex: 1;
				padding: .75em 0;
				font-size: 1.75em;
				text-align: center;
			}
		}
	}
	.sc_part2 {
		.container {
			height: auto;
			padding-bottom: 67vw;
			background: url(img/v12/main.svg) (center 120%/120vw) no-repeat;
		}
		.sc_title {
			strong {
				display: block;
			}
		}
		.items {
			padding-top: 0;
		}
		.item {
			position: static;
			width: 100%;
			text-align: center;
			&.it2 {
				margin-top: 40px;
			}
			&.it3 {
				margin-top: 40px;
				width: 100%;
			}
			.pic {
				.icon {
					width: 160px;
				}
			}
			.txt {
				padding-left: 0;
				font-size: 1.125em;
			}
		}
	}
	.sc_agenda {
		.table_wrap {
			padding: 0 15px;
		}
		.tr {
			display: block;
			padding: .65rem .5rem;
			&.soft {
				display: flex;
				padding: 0 1rem;
				.td {
					padding: 1rem;
					&.time {
						color: #fff;
					}
				}
			}
		}
		.td {
			padding: .5rem;
			&.time {
				flex: 0 0 auto;
				text-align: left;
				color: $kv4;
			}
			&.topic {
				padding: 0 .5rem;
			}
		}
	}

	.sc_speaker {

		.sqs {
			width: 100%;
			&>div {
				position: absolute;
				img {
					max-width: 100%;
				}
			}
			.sq1 {
				right: -10%;
				top: -3%;
				width: 50%;
				opacity: .8;
			}
			.sq2 {
				left: -10%;
				bottom: -3%;
				width: 50%;
				opacity: .9;
			}
		}

		.spk_item {
			max-width: 100%;
			margin: 0 auto;
			padding-top: 30px;
			.photo {
				max-width: 240px;
				margin-bottom: 0;
			}
			&::before {
				display: none;
			}
			.text {
				font-size: 1.25em;
			}
			
		}
	}

	.sc_gift {
		.sec_cnts {
		}
		.pattern {
			position: absolute;
			transform: scale(.6);
			&.p1 {
				left: -36px;
				bottom: -36px;
				width: 50%;
				height: 160px;
			}
			&.p2 {
				right: -40px;
				top: -70px;
				width: 40%;
				height: 200px;
			}
		}
		.items {

		}
	}
	.gft_item {
		margin-bottom: 30px;
		.name {
			font-size: 1.2em;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

    .g_footer {
		.sc_company,
		.sc_logos {
			.pattern.p1 {
				width: 38%;
				height: 118px;
				transform: scale(.6);
			}
		}
		.sc_company {
			background: linear-gradient(150deg, $kv3 33%, $kv3 67%, $kv1);
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 100px;
			.pattern.p1 {
				bottom: -34px;
			}
			.container {
				padding-left: 0;
				padding-right: 0;
			}
			.parag_wrap {
				padding: 45px 30px 30px;
				&::after {
					left: 6px;
					top: 6px;
					right: 6px;
				}
			}
			.company_tit {
				transform: translate(-50%, -65%);
				.nam {
					margin-left: 0;
					margin-top: 10px;
				}
			}
		}
		.sc_logos {
			.logos {
				display: block;
				padding: 60px 0;
				.between {
					margin: 20px auto;
					width: 100%;
					height: 1px;
					background-color: transparent;
				}
			}
		}
    }

    .modal-header {
		padding-left: 1.5rem;
        .modal_t {
			
		}
    }
    .modal-body {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
    }
}






